[2015-05-27 17:22] jaykayone commented on #482
ok

[2015-05-28 06:16] jaykayone opened #504 "highlights vs background switch"
When I search (eg for a parcel), there is a highlight geometry shown.
when I switch the background or add another layer, this highlight should disappear

[2015-05-28 06:18] jaykayone opened #505 "layout adaptations for govbar"
*  Utiliser la font Arial pour le contenu applicatif sur la droite (et pas la DIN) --> Arial comme fallback
*  Remplacer le box-shadow par un filet simple(header : border-bottom: 1px solid #ccc;    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);) --> OK
·        Utiliser du blanc pour la govbar dans son entièreté(.navbar-default : background-color: #fff;    border-color: #e7e7e7;) -> OK
·        Di

[2015-05-28 06:24] jaykayone commented on #485
Sorry, this is the answer I get:

﻿Error while processing request:
org.mapfish.print.wrapper.ObjectMissingException: attribute [spec.attributes.description] missing

[2015-05-28 06:25] petzlux commented on #505
Without a drop shadow, there is no visual hierarchy between the header toolbar and the map display. I would keep it  ....

![screen shot 2015-05-28 at 08 24 19](https://cloud.githubusercontent.com/assets/2540428/7853780/01cb90c6-0513-11e5-8ade-51620d33d748.png)

[2015-05-28 06:29] jaykayone commented on #505
ok

On Thu, May 28, 2015 at 8:25 AM, Patrick Weber <notifications@github.com>
wrote:

--
Jeff Konnen

[2015-05-28 06:38] elemoine commented on #485
This should have been addressed by https://github.com/Geoportail-Luxembourg/geoportailv3/pull/474. Are we sure the war was updated in Tomcat?

[2015-05-28 07:04] elemoine commented on #502
That is expected if there are layers whose HTTP origins are not the same as that of the page. The "layer at pixel" functionality relies on Canvas' `getImageData`, which throws an exception if the "same origin policy" test doesn't pass.

[2015-05-28 07:06] jaykayone commented on #502
is this a geoportal vs geoportail issue? or do the subdomains have to match?

[2015-05-28 07:10] rmichaelis commented on #502
In my example, I only have images coming from wmts.geoportail.lu and the page is devv3rm.geoportail.lu Then I think the subdomain has to match too.

[2015-05-28 07:12] elemoine commented on #502
Indeed, see http://en.wikipedia.org/wiki/Same-origin_policy#Origin_determination_rules.

CORS headers could probably be used…

[2015-05-28 07:14] jaykayone commented on #502
any idea how swisstopo managed this?
CORS headers would have to be set on the reverse proxy I guess?

[2015-05-28 07:18] elemoine commented on #502
It looks like they use CORS. See https://github.com/geoadmin/mf-geoadmin3/commit/f87ead09b4e8c186f6c4721700759b31efd7e272. It also looks like they had problems with IE 9 and 10: https://github.com/geoadmin/mf-geoadmin3/commit/546ce656816edad9309c8e8bbd4778b172758abf.

[2015-05-28 07:19] jaykayone commented on #485
my bad ..

now the situation is this:

[code]

the tomcat war works correcty. When I use the URL given in the logfile, I get a correct PDF.
The print proxy gets a 503 though, no idea why

[2015-05-28 08:10] #492 closed

[2015-05-28 08:20] pgiraud commented on #433
See #501

[2015-05-28 08:20] pgiraud commented on #482
Addressed in #501.

[2015-05-29 16:29] rmichaelis commented on #502
Do you have any idea why i'm able to request wms with cors header with apache and not with pserve ?

[2015-05-29 16:32] rmichaelis commented on #502
example editus_poi here http://devv3.geoportail.lu/renaud/ is working fine
and here http://devv3rm.geoportail.lu/ is returning this error : ``Image from origin 'http://devv3.geoportail.lu' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://devv3rm.geoportail.lu' is therefore not allowed

[2015-06-02 05:52] jaykayone commented on #502
could this help? https://github.com/monsur/cors-python

[2015-06-02 05:53] #482 closed

[2015-06-02 05:53] jaykayone commented on #476
what do you propose? deceleration ?

[2015-06-02 07:22] elemoine commented on #476
Yes, debouncing in one option. Another option is to generate the short link when the user opens the share window and not update it while the window is opened.

[2015-06-02 08:20] jaykayone commented on #436
@pgiraud: on avait eu le même problème lors du développement de l'app. est-ce que tu t'en rappelles?

[2015-06-02 08:25] rmichaelis commented on #436
Dans luxmob ces 3 options sont  settées : enableHighAccuracy: true,maximumAge: 60000,timeout: 7000

Je vais essayer et voir si ca corrige le problème

[2015-06-02 08:40] jaykayone commented on #502
CORS: Add headers to WSGI on devv3 machine

[2015-06-02 08:44] jaykayone commented on #476
create a task in the db to delete short links that have never been clicked after some time

[2015-06-02 08:46] jaykayone commented on #41
sera fait plus tard par l'équipe luxembourg

[2015-06-02 08:50] jaykayone commented on #182
Nous allons changer les clés de traduction de la loupe et des 7 icônes qui sont visibles lors du chargement pour qu'elles soient en français, comme ça 90% des utilisateurs n'auront pas de problème. @petzlux peux-tu t'en charger?

[2015-06-02 08:54] elemoine commented on #437
Problem observed on an iPhone 6 (latest iOS version).

[2015-06-02 08:57] elemoine commented on #450
Question from Pierre: on touch devices can we just display the final measure result? Response from Luxembourg: yes.

[2015-06-02 09:13] #502 closed

[2015-06-02 09:51] rmichaelis commented on #436
@jaykayone j'ai ajouté les options. Peux-tu tester sur devv3rm ?

[2015-06-02 09:56] jaykayone commented on #436
oui semble mieux après un premier test

[2015-06-02 12:09] jaykayone commented on #485
I put this line into the proxy.py from c2cgeoportal:

 # forward request to target (without Host Header)
        http = httplib2.Http(proxy_info = httplib2.ProxyInfo(httplib2.socks.PROXY_TYPE_HTTP_NO_TUNNEL, 'proxy', 3128))

and it works

[2015-06-02 12:09] jaykayone commented on #485
linenumber 83

[2015-06-02 12:14] jaykayone opened #510 "print quality"
there is a problem with print quality.

print generated here:

http://devv3.geoportail.lu/main/theme/main?version=3&zoom=15&X=680824&Y=6378491

Options: A4 portrait, 1:10000

[2015-06-02 12:15] jaykayone commented on #510
![screen shot 2015-06-02 at 14 15 31](https://cloud.githubusercontent.com/assets/1518019/7935506/db1b44bc-0931-11e5-9a23-78d1d5b2912b.png)

[2015-06-02 12:16] jaykayone commented on #485
this means that httplib2 does not use the environment variables we are setting in the wsgi conf.

urllib2 does (used in wms.py)

[2015-06-02 12:21] elemoine commented on #485
So Jeff found the problem. c2cgeportal's printproxy uses `httplib2`, which, it seems, doesn't take into account the `http_proxy` and `https_proxy` envvars we [set](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/apache/geoportailv3.wsgi.mako#L4-L6) in `geoportailv3.wsgi.mako`.

With `httplib2` the proxy information is set via an `httplib2.ProxyInfo` object, as Jeff showed in his

[2015-06-02 13:35] #436 closed

[2015-06-02 14:47] #472 closed

[2015-06-03 06:33] jaykayone commented on #510
you use 72 dpi for the moment, setting it to 300 solves the problem

[2015-06-03 06:53] jaykayone opened #512 "Migrate to HTTPS"
check if the site works in https mode.

For this to work, all the html references have to be written as =// instead of =http://

[2015-06-03 07:20] elemoine commented on #510
Yes, indeed.

[2015-06-04 06:00] jaykayone opened #514 "coordinate search"
add some intelligence to understand lon,lat AND lat,lon formatting of wgs coordinates in search field

[2015-06-04 11:46] jaykayone commented on #512
https://devv3.geoportail.lu/main

http is hard coded everywhere

[2015-06-04 12:08] elemoine commented on #512
What do you mean by "hard coded everywhere"? We use `static_url` in `index.html` so `http` is not hardcoded there at least.

[2015-06-04 12:15] jaykayone commented on #512
I mean that when I load the page in https, most of the requests are sent in http an are therefore blocked

[2015-06-04 12:22] elemoine commented on #512
Indeed!

@jaykayone, http://docs.camptocamp.net/c2cgeoportal/master/integrator/https.html may include relevant information, as the problem may be related to proxies (as usual). #proxyhell

[2015-06-04 12:36] elemoine commented on #489
Should this be implemented in v3 as well?

[2015-06-04 12:53] jaykayone commented on #489
yes please

[2015-06-04 13:07] jaykayone commented on #512
Not sure that's the reason ... In fact, css files, webfonts, js files, XHR requests are all requested over http even after setting   SetEnvIf    X-Https on HTTPS=1 in wsgi conf

[2015-06-04 13:08] jaykayone commented on #512
(this is not a prioritary problem though ...) can be worked on later

[2015-06-04 13:16] #510 closed

[2015-06-04 14:31] elemoine commented on #489
See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/516.

So with #516 we use the current theme's print scales, so I think your comment saying that "print scales should the following: …" doesn't hold anymore. Is that correct?

What about the "pay attention to the scale vs webmercator problem"? Could you please be more specific about that? Thanks.

[2015-06-04 16:23] jaykayone commented on #489
you are right for the first part, although we could take that array as fallback if no scales are defined in the theme metadata

the scale vs mercator problem is that due to the fact that webmercator meters are factor 1.5 to luref meters we choose to plot the scalebar in luref rather than in webmercator. the scale choosen for print should be a luref scale too and not a webmercator one

[2015-06-05 07:00] elemoine commented on #489
The themes that I get as an anonymous user all have print scales. Are there private themes with no print scales? I can add fallback print scales if you think it's necessary.

But do I need to do something about this? I mean: can I just use the print scales specified in the theme configuration?

[2015-06-05 07:09] jaykayone commented on #489
After the migration, they all have print-scales but I'd prefer to have a fallback to be sure.

Regarding the webmercator issue, I think that there is something to do, yes.
You certainly remember that when measuring distances we had to use spherical meters rather than webmercator meters to get correct distances. to have a correct scalebar, we have to specify another coordsys than webmercator.

In t

[2015-06-05 09:03] elemoine commented on #489
It is still not very clear to me. It'd be great if you could show me what doesn't work as expected.

[2015-06-05 09:49] elemoine opened #517 "sqlalchemy.exc.ArgumentError at application init time"
Since https://github.com/Geoportail-Luxembourg/geoportailv3/pull/452 was merged I get an error at application init time:

[code]

This is related to `sqlalchemy_engines` [variable](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/7f6aabbcbeffe1f8a7371003f0fbad85d37522ed/geoportailv3.mk#L19) that was added by #452.

Does anyone know what's going on?

[2015-06-05 10:00] elemoine commented on #517
This is what I see in my `.build/config.yaml` file:

[code]
and `id014` corresponds to something unrelated:

[code]

This problem is blocking me…

[2015-06-05 10:03] jaykayone commented on #517
maybe you should apply the alembic script?

[2015-06-05 10:05] elemoine commented on #517
Sounds unrelated to migrating the database to me, but I may be wrong here…

[2015-06-05 10:08] rmichaelis commented on #517
adding this entry in your vars_elemoine.yaml could be a workaround.

    sqlalchemy_engines:
        ecadastre: 'postgresql:/user:password@db.geoportal.lu/ecadastre'

[2015-06-05 10:10] elemoine commented on #517
Yep, I'll try that. But I don't understand why I get garbage for `sqlalchemy_engines` (`'Allow from 127.0.0.1 ::1'` is the garbage I'm referring to) when `sqlalchemy_engines` is not defined in my configuration. @sbrunner?

[2015-06-05 10:15] elemoine commented on #517
The workaround works. @rmichaelis, where is `sqlalchemy_engines` defined in your case? In a config file not committed into the project?

[2015-06-05 10:26] rmichaelis commented on #517
sqlalchemy_engines is configured in my local yaml file.

But because of this line :
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3.mk#L19

I have to add a fake entry in the file vars_geoportailv3.yaml

[2015-06-05 10:27] elemoine commented on #517
Yes, there shouldn't be anything in geoportailv3.mk that requires a local change.

[2015-06-05 11:22] #517 closed

[2015-06-05 12:28] jaykayone commented on #489
![screen shot 2015-06-05 at 14 28 00](https://cloud.githubusercontent.com/assets/1518019/8005916/277628a4-0b8f-11e5-914e-d804aa9fbd34.png)
![screen shot 2015-06-05 at 14 27 42](https://cloud.githubusercontent.com/assets/1518019/8005917/27780912-0b8f-11e5-9c45-fae2ad40fed4.png)

maybe this helps.

[2015-06-05 12:35] sbrunner commented on #489
The map has the same dimensions in the booth pdf ?

[2015-06-05 12:37] jaykayone commented on #489
yes. more or less

[2015-06-05 13:09] jaykayone commented on #489
geoportail v2: 762x440
geoportail v3: 715x395

[2015-06-05 13:14] #470 closed

[2015-06-05 13:18] sbrunner commented on #489
It's not enough deference to explain that ...

[2015-06-05 13:20] jaykayone commented on #489
that's my point....

[2015-06-05 14:36] elemoine commented on #449
I have created an ol3 PR for that issue: https://github.com/openlayers/ol3/pull/3766. The PR adds a `clickTolerance` option to the Draw interaction.

@jaykayone, @petzlux, could you please try using http://erilem.net/ol3/draw-click-tolerance/examples/measure.html with your Android tablets? In this example, `clickTolerance` is set to `6` pixels.

If this does improve things, and if the ol3 PR is me

[2015-06-08 09:12] petzlux commented on #449
Much better, entirely usable now on the Samsung Galaxy Tab S 10.5 !

[2015-06-08 12:43] #39 closed

[2015-06-09 07:15] jaykayone opened #519 "DMS with leading zeroes"
DMS notation (right click and infobar) should use leading zeroes for minutes and seconds

[2015-06-09 07:26] jaykayone commented on #519
seems to be an issue in open layers:
http://openlayers.org/en/v3.6.0/apidoc/ol.coordinate.html#toStringHDMS

http://en.wikipedia.org/wiki/ISO_6709
[code]

[2015-06-09 07:58] rmichaelis opened #520 "WMS proxy should not be hardcoded"
Instead of hard coding the wms url, use a relative one.
If a config variable with a proxy url is existing then we should use it.

https://github.com/Geoportail-Luxembourg/geoportailv3/blob/8971ae9e44bf0a39a6c0a65b4222face877bd795/geoportailv3/static/js/layerfactoryservice.js#L134

[2015-06-09 09:08] elemoine opened #522 "Switching languages increases the watchers count"
Each time I change the application language using the lang selector two more Angular watchers are added. This should not happen.

[2015-06-09 09:29] pgiraud commented on #489
So, we analysed the problem with Eric.

Here's our conclusion:

In the v2, we're working with a local projection (EPSG:2169). Local projection are well suited for measurements and scale computation since they usually respect distance (and sometimes areas).
In v3, it was chosen to use the webmercator projection. This projection is really useful to display the whole world and makes it easy to work w

[2015-06-09 09:37] elemoine opened #523 "Modified po files in working repository"
Git sees modified po files again in my working repository:

[code]

Does someone know what the problem is?

[2015-06-09 09:55] elemoine commented on #522
The problem is related to the [elevation directive partial](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/infobar/elevationdirective.js#L35-L36):

[code]

A new watcher is created each time this partial is re-translated.

If I change the partial to:

[code]

then the problem goes away.

[2015-06-09 09:55] sbrunner commented on #523
Changing the sources ?

[2015-06-09 09:57] jaykayone commented on #489
* completely remove any use of scales from application => not possible
* adapt scales by applying a ratio so that it approximately match what we had in v2. We'll still have a possible distortion between north and south. => could be a solution
* print the maps in a local projection which respects distance thus scales => there is (currently) no wmts in LUREF
* stop using webmercator. => too late ?

[2015-06-09 10:02] pgiraud commented on #489
This would mean change the value displayed in the scale chooser when the map is moved down or up? Pretty impossible.

[2015-06-09 10:05] pgiraud commented on #519
It's worth creating an issue in OL3. https://github.com/openlayers/ol3/issues/new

[2015-06-09 11:09] jaykayone commented on #489
The scale chooser has a fake value that is shown anyway. I don't see why this could not be faked even more.

I was rather talking about calculating the size of the extent rectangle ..

[2015-06-09 12:57] sbrunner commented on #467
@elemoine actually is it possible to have a legend argument ?

If not is it possible to add a legend with the structure:
[code]
?

[2015-06-09 13:14] pgiraud commented on #437
@jaykayone can you confirm that this is due to the fact that buttons don't loose the focus after being tapped? Same happen for zoom, full extent and also navigation bars buttons.

[2015-06-09 13:21] jaykayone commented on #437
Yes that seems to be the reason

[2015-06-09 14:16] petzlux opened #527 "Html tag not closed !"
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/templates/index.html#L109

[2015-06-09 14:16] petzlux commented on #527
causes issues with any subsequent tags

[2015-06-09 14:17] pgiraud commented on #437
Similar issue is actually reported in Ol3.
https://github.com/openlayers/ol3/issues/3500
Though a fix for OL3 will not fix our issue directly, it will probably help us understand it.

[2015-06-09 14:37] #527 closed

[2015-06-09 14:43] petzlux opened #529 "Error in Feature Query directive"
After rebase of my branch Right Click from Master, I get the following error message

[code]

[2015-06-09 14:48] elemoine opened #530 "Profile directive causes a digest cycle on each pointermove"
It seems to me that the profile directive causes [a digest cycle](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/8971ae9e44bf0a39a6c0a65b4222face877bd795/geoportailv3/static/js/profile/profiledirective.js#L312) on each pointer move on the map. It should use debouncing.

[2015-06-09 14:57] elemoine commented on #489
I started working on that issue: https://github.com/Geoportail-Luxembourg/geoportailv3/compare/elemoine_print-rectangle-scale. But I'm not done yet…

[2015-06-09 15:48] #529 closed

[2015-06-09 16:03] rmichaelis commented on #529
This is now fixed in master.
As soon as the info panel is opened, the querydirective tries to display the last queried feature.
Now, the locationinfodirective opens the infopanel too.
That means we have to discuss about the default behavior when closing and opening infopanel again. What kind of information should be shown.

[2015-06-10 08:39] pgiraud opened #532 "icons"
We have several problems with the icons (glyphs) webfont we need to address:
 - the infos (query results) icon is not centered,
 - the infobar "i" icon is not displayed on some devices.

The webfont geoportail-icons needs an update.
I'll take this as an opportunity to:
 - remove icons that are not actually used in the map interface,
 - include the geolocate icon instead of using a separate font.

[2015-06-10 09:49] petzlux commented on #532
I understand that you will do this ?

[2015-06-10 09:50] pgiraud commented on #532
Yes, unless you're willing to do it on your side.

[2015-06-10 09:52] petzlux commented on #532
we dont have the tools for editing a webfont ...

[2015-06-10 09:57] pgiraud commented on #532
I'll use online tools for that. My first experiments showed that it should be possible.
One question though: do you still have contacts with the design company you worked with earlier?

[2015-06-10 12:31] petzlux commented on #532
We would rather not ...

[2015-06-10 13:39] rmichaelis opened #534 "info panel in full screen is not visible"

[2015-06-10 13:42] rmichaelis opened #535 "allow multiple selection of features"

[2015-06-10 13:42] rmichaelis opened #536 "Click tolerance needs to be adapted to Geometry Type and Input Device"

[2015-06-10 13:50] rmichaelis commented on #374
location button  to right top on mobile and left bottom other devices.

[2015-06-10 14:19] rmichaelis opened #537 "deactivate query mode when measurement tools are selected"

[2015-06-10 14:59] petzlux commented on #536
Click tolerance should vary according to geometry type :

Higher tolerance for point symbols
Lower for Surfaces

Click tolerance should also vary according to input device:
Higher for touch devices
Lower for Mouse

[2015-06-10 15:59] jaykayone opened #539 "theme icon still visible on mobile"
i can still see the (misplaced) icon on mobile![](http://i.imgur.com/WIwxRjk.jpg)

[2015-06-11 05:57] rmichaelis opened #540 "Travis complains about unsastified dependency in measure.js"
Has something changed ?

info closure-util Getting Closure dependencies
ERR! closure-util Unsatisfied dependency "ol.FeatureOverlay" in script: /home/travis/build/Geoportail-Luxembourg/geoportailv3/node_modules/ngeo/src/ol-ext/interaction/measure.js
make: *** [.build/build.js] Error 1

[2015-06-11 06:44] pgiraud commented on #540
https://github.com/openlayers/ol3/blob/fad3cf9672fe440dec8aa439b45119ac235074be/changelog/upgrade-notes.md#v370

[2015-06-11 06:45] pgiraud commented on #540
I'll do the required modifications.

[2015-06-11 06:52] #433 closed

[2015-06-11 06:54] jaykayone commented on #314
what's the status here @sbrunner? can we hope to have a working solution for the next meeting?
I want to be feature complete on June 15th so we can start testing

[2015-06-11 07:44] pgiraud commented on #539
Are you sure you're running the latest code? The search doesn't work on your instance.

[2015-06-11 08:18] jaykayone commented on #539
you are right ... icon is gone after update, but search on mobile does not work. probably related to wsgi mode / routes ?

[2015-06-11 08:25] #540 closed

[2015-06-11 08:27] pgiraud commented on #539
Can you please update again to the latest version and build everything? Please make sure that the modules are up-to-date.

[2015-06-11 08:28] elemoine commented on #536
What click tolerance are you talking about here?

[2015-06-11 08:36] petzlux commented on #536
This one here : https://github.com/Geoportail-Luxembourg/geoportailv3/commit/d8afa0ffbc399ab2a948a37930545f65c49f00c9#diff-8611db398797594a1b2f650400169e1fL253

[2015-06-11 08:38] geoportallux commented on #539
OK works

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Luxembourg
Tél. (+352) 44901-261 . Fax (+352) 44901-333
E-mail: jeff.konnen@act.etat.lu

www.act.public.lu www.geoportail.lu

De : Pier

[2015-06-11 08:43] elemoine commented on #467
Could you please clarify your questions? Are you talking about the print specifications?

[2015-06-11 09:40] #505 closed

[2015-06-11 09:53] sbrunner commented on #467
Yes, the arguments in the print spec.

[2015-06-11 09:59] sbrunner commented on #314
I'm waiting on response, see #467
what the deference between this issue and #467 ?

[2015-06-11 10:00] jaykayone commented on #314
no difference

[2015-06-11 13:20] #374 closed

[2015-06-12 07:02] rmichaelis opened #544 "FeatureOverlay deprecation"
I would like to work on #504 , but this issue is related to the ```ol.FeatureOverlay``` in both query and search directives.
As @elemoine  said in his comment (https://github.com/Geoportail-Luxembourg/geoportailv3/pull/541#issuecomment-111039921), we need to think globally about this problem.

Migrating ```ol.FeatureOverlay``` does not mean only replacing it by  ```ol.layer.Vector``` , but also ha

[2015-06-12 08:39] rmichaelis opened #546 "Compilation failed"
Since a clean all,  the compilation failed :
searchdirective.js:570: ERROR - Bad type annotation. Unknown type jQuery.event

Travis failed too.

Any idea about what has been changed ?

[2015-06-12 08:40] pgiraud commented on #546
Can you try after an update of submodules?

[2015-06-12 08:43] pgiraud commented on #546
Forget my last comment.
https://github.com/camptocamp/ngeo/pull/233

[2015-06-12 12:36] elemoine commented on #467
The application can easily extend the print specifications object returned by ngeo's `createSpecs` function. Please tell me if that doesn't answer the question…

[2015-06-12 12:38] #539 closed

[2015-06-15 12:32] elemoine opened #550 "Build fails on Travis"
The build fails on Travis because of a change in the jquery externs file. The error is:

[code]

I'm looking into it just now…

[2015-06-15 12:33] rmichaelis commented on #550
see #546

[2015-06-15 12:38] elemoine commented on #550
I know but I had to revert a revert commit in ngeo because of back-and-forth changes in closure-compiler. New PR to come…

[2015-06-15 12:49] petzlux opened #552 "Build fails - ol.FeatureOverlay"
My build on branch #507 fails:

Is this connected to issue #544 ?

[code]

[2015-06-15 12:52] rmichaelis commented on #552
Yes this is related but this is temporarily fixed here #541

[2015-06-15 13:00] #550 closed

[2015-06-15 13:10] petzlux commented on #552
okay will rebase with this patch

[2015-06-15 13:10] #552 closed

[2015-06-15 13:42] pgiraud commented on #450
https://github.com/camptocamp/ngeo/pull/234 should have fixed the issue.
It works perfectly in debug mode but not in built mode.

[2015-06-15 14:04] pgiraud commented on #450
This pull request fixed the issue. https://github.com/openlayers/ol3/pull/3775
However we currently use a fixed version of OL which doesn't include this patch.
I leave the current issue open until we update OL.

[2015-06-15 15:17] elemoine commented on #544
What we could possibly do is create a service that wraps an "unmanaged" vector layer. That service will expose a `getIndex` method, which any consumer would call first. This index would then be passed to subsequent operations, like `setStyle`, `addFeature`, `removeFeature` and `clear`.

For example:

[code]

[2015-06-15 16:34] elemoine commented on #544
Work started in [elemoine_vector-overlay branch](https://github.com/Geoportail-Luxembourg/geoportailv3/compare/elemoine_vector-overlay).

[2015-06-16 07:05] #486 closed

[2015-06-16 07:16] rmichaelis opened #554 "hover in infobar"
Scale and projection hover in infobar is not well managed.
Background doesn't go to the right and cannot click outside the text.
![image](https://cloud.githubusercontent.com/assets/5594996/8177716/c0e3ec6c-1407-11e5-8428-598993c7e589.png)

[2015-06-16 07:49] pgiraud commented on #230
@jaykayone peux-tu ouvrir une nouvelle issue pour le menu ? Nous souhaitons fermer cette issue qui est devenue trop "générale".

[2015-06-16 07:50] jaykayone commented on #230
oublions ce point pour l'instant.
tu peux le fermer

[2015-06-16 07:51] pgiraud commented on #308
@petzlux It has been addressed, hasn't it? Should we close this issue?

[2015-06-16 08:39] petzlux opened #555 "Permalink backwards compatibility"

[2015-06-16 08:44] #546 closed

[2015-06-16 08:44] elemoine commented on #546
Closed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/551.

[2015-06-16 08:56] petzlux commented on #451
fixed by #545

[2015-06-16 08:59] #230 closed

[2015-06-16 09:00] #308 closed

[2015-06-16 09:51] sbrunner commented on #485
From where does the host workshop.geoportal.lu com from ?

[2015-06-16 09:53] sbrunner commented on #485
This URL looks wrong:
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/vars_main.yaml#L7
it should probably be: `http://localhost:8083/print-{instanceid}/print/{package}`

[2015-06-16 09:57] jaykayone commented on #485
It is uncommited.
Here is the real value:
 print_url: http://workshop.geoportal.lu:8083/print-main/print/geoportailv3

[2015-06-16 10:00] jaykayone commented on #485
OK, a complete clean and rm of the tomcat dir did the trick

on http://devv3.geoportail.lu/main you can now print with a legend.
Thanks

[2015-06-16 10:01] jaykayone commented on #485
(still got this line in proxy.py though:
     http = httplib2.Http(proxy_info = httplib2.ProxyInfo(httplib2.socks.PROXY_TYPE_HTTP_NO_TUNNEL, 'proxy', 3128)))

Otherwise it won't work.

I had also tried with localhost but it did not work

[2015-06-16 10:03] sbrunner commented on #485
Your print server is separate from your wsgi server ?

[2015-06-16 12:51] pgiraud commented on #486
Is there an issue for the print dropdown styling?

[2015-06-16 12:57] pgiraud commented on #486
Sorry I didn't figure out that this was already taken into account in the code.

[2015-06-16 12:57] pgiraud commented on #496
This has already been addressed. Closing.

[2015-06-16 12:57] #496 closed

[2015-06-16 12:59] pgiraud opened #558 "Messages in measure help tooltip are not translated"

[2015-06-16 13:05] pgiraud opened #559 "[mobile] "i" infobar button is on top of left panels"
![img_4435](https://cloud.githubusercontent.com/assets/319774/8183537/16b8f458-1439-11e5-9aa4-8bc395256a50.PNG)

[2015-06-16 14:36] #411 closed

[2015-06-16 14:58] jaykayone opened #561 "error after upgrade"
after upgrading to the newest c2cgeoportal, I encounter the following error:

[code]

[2015-06-16 15:04] petzlux commented on #561
me too after rebase ...

[2015-06-16 15:25] pgiraud commented on #532
Fixed via #557.

[2015-06-16 15:25] #532 closed

[2015-06-17 08:03] sbrunner commented on #561
Personally I have this error:
[code]
:-(

[2015-06-17 08:04] rmichaelis commented on #561
@sbrunner a clean should solve this problem.

[2015-06-17 08:07] elemoine commented on #561
@sbrunner, you have this problem because you don't have the correct version of OpenLayers 3 installed in `node_modules`. A `make update-node-modules` should fix the problem.

[2015-06-17 08:07] sbrunner commented on #561
I do a ``cleanall`` :-(

[2015-06-17 09:58] #561 closed

[2015-06-17 10:21] pgiraud commented on #497
There are some size and positioning parameters we can change in order for the application to be more usable on small touch device screens.
In the image below there are several options we can play with.
![mobile_layout](https://cloud.githubusercontent.com/assets/319774/8204765/3dcba9a2-14eb-11e5-97c8-aa43d37498d7.png)

[2015-06-17 11:27] petzlux commented on #497
I prefer the last version , it would both provide significantly more space to the catalog (the Layer header is kind of redundant anyway), and give more space to individual catalog items as tap targets. We will have to see if moving the i to the right makes sense or not.

[2015-06-17 14:05] petzlux opened #566 "Strange build message"
`find: ‘geoportailv3/static/mobile/app’: No such file or directory`

this is new, doesnt seem to have any purpose?

[2015-06-17 14:47] #375 closed

[2015-06-17 15:35] sbrunner commented on #523
Fixed by #565

[2015-06-17 15:35] #523 closed

[2015-06-17 15:37] elemoine commented on #566
Related to the c2cgeoportal update?

[2015-06-17 15:37] sbrunner commented on #478
Fixed by #565

[2015-06-17 15:37] #478 closed

[2015-06-17 15:37] sbrunner commented on #429
Should be fixed by #565

[2015-06-17 15:48] #437 closed

[2015-06-18 07:08] petzlux commented on #162
@jaykayone still need to discuss this.

[2015-06-18 07:25] petzlux commented on #316
![screen shot 2015-06-18 at 09 21 49](https://cloud.githubusercontent.com/assets/2540428/8226061/8a0e94c2-159b-11e5-8038-93bca0139d3b.png)

Buttons need adapting as well , @pgiraud I tried but failed miserably to make them smaller using `.btn-sm`

[2015-06-18 07:43] petzlux opened #569 "Correct scale selector infobar"
Use #548 to create a more realistic fake scale set

[2015-06-18 08:47] #429 closed

[2015-06-18 09:04] #205 closed

[2015-06-18 09:30] petzlux opened #571 "Vertical Scrollbars in query and info location result window"

[2015-06-18 09:32] rmichaelis opened #572 "unexpected scrollbars in right mouse click result"
seems to work with a mac

![image](https://cloud.githubusercontent.com/assets/5594996/8228206/5e9f5b34-15ad-11e5-94fe-4896ebc2e7cb.png)

[2015-06-18 09:35] #571 closed

[2015-06-18 09:44] #572 closed

[2015-06-19 12:26] jaykayone commented on #519
https://github.com/openlayers/ol3/issues/3776

[2015-06-19 13:51] rmichaelis opened #576 "pan with a long press is failing"
On Samsung galaxy tab 2 :
When I pan with a long press, the info panel opens and then the navigation is broken.

![image](https://cloud.githubusercontent.com/assets/5594996/8254598/494785d4-169a-11e5-97f4-41fae8522e5f.png)

[2015-06-19 13:53] jaykayone commented on #576
@petzlux what about the newer version of android on the other tablet?

[2015-06-19 14:42] jaykayone commented on #576
does not happen on the latest android. what version of android and what browser are you using?

[2015-06-19 14:47] jaykayone opened #577 "bad icon on tablet"
There is still an issue with the i - button on the bottom right

[2015-06-19 14:47] jaykayone commented on #577
![img_6383](https://cloud.githubusercontent.com/assets/1518019/8255810/ecaba978-16a2-11e5-90a3-b93cdd74abc9.JPG)

[2015-06-19 14:48] rmichaelis commented on #576
Android 4.1.2
it fails with "default browser"
it works fine with chrome

[2015-06-22 09:10] #489 closed

[2015-06-22 09:59] rmichaelis opened #579 "TouchEvent is not defined"
I receive oft (not always) this error during the page loading.
Any idea ?

Error: TouchEvent is not defined
app.LocationinfoController.prototype.showInfoPane_@http://devv3rm.geoportail.lu/proj/db871e3a60ec495cb0005c2495aa9525/js/locationinfo/locationinfodirective.js:285:1
app.LocationinfoController@http://devv3rm.geoportail.lu/proj/db871e3a60ec495cb0005c2495aa9525/js/locationinfo/locationinfodirec

[2015-06-22 10:02] elemoine commented on #579
In Firefox? It looks like `TouchEvent` is defined in Chrome but not in Firefox.

[2015-06-22 10:03] elemoine commented on #544
Fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/560.

[2015-06-22 10:09] rmichaelis commented on #579
Yes in Firefox.

[2015-06-22 10:15] elemoine commented on #579
So I think doing this:

[code]

is not correct.

What's the purpose of this test exactly?

I'd recommend using `showInfoPaneCommon_`, `showInfoPaneEvent_` and `showInfoPaneCoordinate_` instead of using this test. The function names are just examples obviously.

[2015-06-22 10:51] elemoine commented on #566
I just got the same error!

[2015-06-22 11:41] sbrunner commented on #566
Due an upgrade I have this folder ...
I will fix it :-)

[2015-06-22 11:42] elemoine commented on #566
Thanks @sbrunner.

[2015-06-22 12:52] #544 closed

[2015-06-22 13:12] elemoine commented on #530
That may not be that bad actually, because the `snapToGeometry` function is only executed when not dragging and when the `this.line_` is not `null`. So, in that case, I am not sure we want to use debouncing and introduce some delay for the snapping functionality.

What we can do as an optimization though is use `$digest` instead `$apply`. In this way the digest loop would only be applied to the pr

[2015-06-22 14:46] rmichaelis opened #581 "Property TileWMS never defined on ol.source"
After a rebase I get this error, that a clean does not fix :

ERR! compile /var/www/vhosts/geoportailv3_mire/node_modules/ngeo/src/services/print.js:315: ERROR - Property TileWMS never defined on ol.source
ERR! compile   goog.asserts.assertInstanceof(source, ol.source.TileWMS);
ERR! compile                                                   ^
ERR! compile
ERR! compile 1 error(s), 0 warning(s), 97.2

[2015-06-22 14:47] elemoine commented on #581
Did you just reinstall ngeo?

[2015-06-22 14:48] elemoine commented on #581
Ok I think I know what the problem is. ngeo PR to come…

[2015-06-22 14:48] rmichaelis commented on #581
Ok Thanks :-)

[2015-06-22 14:50] elemoine commented on #581
https://github.com/camptocamp/ngeo/pull/242 should fix it.

[2015-06-22 15:37] elemoine commented on #581
It should be fixed now.

[2015-06-22 15:50] elemoine commented on #449
This should be fixed now that we use ol3 master again.

[2015-06-22 15:50] #449 closed

[2015-06-22 15:50] rmichaelis commented on #581
It works. Thanks

[2015-06-22 15:50] #581 closed

[2015-06-22 18:41] #520 closed

[2015-06-23 07:16] #530 closed

[2015-06-23 07:22] pgiraud commented on #450
Should be fixed now that we're using master version of OL3 again.

[2015-06-23 07:22] #450 closed

[2015-06-23 07:58] elemoine opened #584 "Migrate to Angular 1.4"
At some point the project should migrate to Angular 1.4. See https://docs.angularjs.org/guide/migration#migrating-from-1-3-to-1-4.

[2015-06-23 08:01] #577 closed

[2015-06-23 13:40] #558 closed

[2015-06-24 07:28] #314 closed

[2015-06-24 07:30] petzlux commented on #316
fixed by #575

[2015-06-24 07:54] #536 closed

[2015-06-24 07:54] #537 closed

[2015-06-24 07:55] #504 closed

[2015-06-24 08:16] petzlux opened #585 "Location Info open on load distorts map"
If a permalink with crosshair=true is loaded, the map view is distorted.

[2015-06-24 08:17] jaykayone opened #586 "On mobile location info should not open when crosshair=true"
otherwise the user never sees the marker on the map

[2015-06-24 08:20] elemoine opened #587 "Store print report references in database"
This follows up on https://github.com/Geoportail-Luxembourg/geoportailv3/pull/547. The print proxy [currently stores](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/a8d3c2e6fb6663d447b02f450ac62297fa5a2630/geoportailv3/views/luxprintproxy.py#L67) the report reference identifiers in class-level dictionary, which won't work when multiple instances of the WSGI applications are used.

[2015-06-24 08:32] jaykayone opened #588 "build error"
I just did a total rebuild on the integration server and now I am facing the following error:

[code]

[2015-06-24 09:20] #451 closed

[2015-06-24 09:33] petzlux opened #590 "Layer Permalink - duplication of permalinks if user login on reload"
Need to check if layer id already in selectedLayers before writing to permalink to disable duplicates

[2015-06-24 11:11] jaykayone commented on #588
after the merge, I still get this when trying to print:

[code]

[2015-06-24 11:12] jaykayone commented on #588
sorry my mistake. forget this

[2015-06-24 11:24] sbrunner commented on #588
It wasn't a mistake, I fix it with #589 :-)

[2015-06-24 11:37] jaykayone commented on #485
finally managed to make it work using localhost and no_proxy=localhost env setting

[2015-06-24 11:37] #485 closed

[2015-06-24 11:37] jaykayone commented on #467
Legends are now printed, but they are hard-coded

[2015-06-24 11:37] #467 closed

[2015-06-24 11:38] #266 closed

[2015-06-24 11:38] #37 closed

[2015-06-24 11:38] #588 closed

[2015-06-24 11:38] jaykayone opened #591 "integrate legend printing in application"
Legends are now printed, but they are hard-coded

[2015-06-24 11:40] rmichaelis opened #592 "logout route"
Hello @sbrunner ,

Logout does not work anymore in geoportailv3 since this .
https://github.com/camptocamp/c2cgeoportal/blob/c8c34ec7b8a1fb0cfecfb0193a4e2f51b83b8a5a/c2cgeoportal/__init__.py#L486

Before modifying the code, I would like to know if there is a reason to limit the logout route to the GET method ?

[2015-06-24 11:42] elemoine commented on #592
@rmichaelis you do not use GET for logging out?

[2015-06-24 11:49] rmichaelis commented on #592
no, we do use POST.
I read a lot of threads regarding the POST/GET philosophy for logging out, but I would like to know your mind about that.

[2015-06-24 11:50] jaykayone commented on #591
actually, it is not only the legends,

points that are not OK in the current implementation:

- scalebar is in webmercator, should be in LUREF (there is a setting for that)
- formatting of scale-text: include a thousand-separator

[2015-06-24 11:50] jaykayone opened #593 "print template"
short-link is truncated:

[2015-06-24 11:52] jaykayone commented on #591
![screen shot 2015-06-24 at 13 51 35](https://cloud.githubusercontent.com/assets/1518019/8329247/2f380646-1a78-11e5-9c70-1ad719bb413f.png)

[2015-06-24 11:52] jaykayone commented on #593
![screen shot 2015-06-24 at 13 51 32](https://cloud.githubusercontent.com/assets/1518019/8329252/364b5d84-1a78-11e5-9deb-7583536a2c67.png)

[2015-06-24 11:53] jaykayone opened #594 "layout problem in print form while printing"
![screen shot 2015-06-24 at 13 35 00](https://cloud.githubusercontent.com/assets/1518019/8329267/51428ce8-1a78-11e5-8571-6fc7d227df51.png)

[2015-06-24 11:53] elemoine commented on #592
I don't know about the GET vs POST philosophy for logging out, but I think c2cgeoportal could allow both methods. @sbrunner?

[2015-06-24 11:54] elemoine commented on #594
Could you please specify the browser?

[2015-06-24 11:54] jaykayone commented on #594
sorry, firefox 38.0.5 on Mac OS

[2015-06-24 11:55] elemoine commented on #591
What's this setting?

[2015-06-24 11:57] jaykayone commented on #591
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/print/print-apps/geoportailv3/requestData.json#L17

[2015-06-24 11:58] rmichaelis commented on #594
same problem with chrome on Windows.

[2015-06-24 11:59] jaykayone opened #595 "vector print"
location info marker is not printed

[2015-06-24 12:00] jaykayone commented on #595
![screen shot 2015-06-24 at 13 59 06](https://cloud.githubusercontent.com/assets/1518019/8329378/525c796c-1a79-11e5-8448-778cbaf2ba0b.png)
![screen shot 2015-06-24 at 13 59 34](https://cloud.githubusercontent.com/assets/1518019/8329379/551b6050-1a79-11e5-9688-117e4a033ed5.png)

[2015-06-24 12:01] elemoine commented on #595
Indeed, unmanaged vector layers are not printed. At this point I don't how to address that issue.

[2015-06-24 12:04] sbrunner commented on #592
In c2cgeoportal 1.6.0rc1 it's possible to logout only with the GET method. It needed we can modify this...

[2015-06-24 12:04] jaykayone commented on #595
it's the same for highlight after search.
we will have to find a solution for this

[2015-06-24 12:06] rmichaelis commented on #595
Should a feature info be printed ?

[2015-06-24 12:08] petzlux commented on #595
Should all features from `appVectorOverlay` layers be printed as seen on the map ?

[2015-06-24 12:08] jaykayone commented on #595
Yes, people are using this intensively in v2

[2015-06-24 12:09] rmichaelis commented on #595
I mean with the feature info text

[2015-06-24 12:09] elemoine commented on #595
Yes, probably. This requires changes to ngeo. At the moment, ngeo only prints layers.

[2015-06-24 12:10] elemoine commented on #595
Sounds a different issue, right?

[2015-06-24 12:11] jaykayone commented on #595
Yeap, I am with you Eric, that's a different issue.
@petzlux can you please add a new one for the info text printing?

[2015-06-24 12:14] jaykayone opened #596 "printing is quite slow"
could this be improved somehow?

[2015-06-24 12:15] jaykayone opened #597 "print resolutions"
the zoom levels in the print are totally different than the ones on screen

[2015-06-24 12:16] jaykayone commented on #597
Screen:

![screen shot 2015-06-24 at 14 14 03](https://cloud.githubusercontent.com/assets/1518019/8329669/8927cc6a-1a7b-11e5-9171-eb662bfbc042.png)

Print:

![screen shot 2015-06-24 at 14 14 14](https://cloud.githubusercontent.com/assets/1518019/8329675/94b78e76-1a7b-11e5-8893-910e2f1a4fe5.png)

[2015-06-24 12:17] jaykayone commented on #597
point and line symbols are too small

[2015-06-24 12:18] elemoine commented on #597
@sbrunner, is this related to the DPI value?

[2015-06-24 12:23] sbrunner commented on #597
It's looks like effectively ...

[2015-06-24 12:24] elemoine commented on #597
So what is the solution to this problem? You already had the problem if I remember correctly.

[2015-06-24 12:27] jaykayone commented on #597
are you talking to me? We had the same problem in v2 indeed and it was never really solved

[2015-06-24 12:27] elemoine commented on #597
I was talking to Stéphane :)

[2015-06-24 12:28] sbrunner commented on #597
Isn't a missing serverType:
https://github.com/mapfish/mapfish-print/blob/b29dcc21afb709a7bcb3abc52e9c715f4c12b350/examples/src/test/resources/examples/printwms_archsites_server_type/requestData-scale-wms1_0_0.json#L16
?

[2015-06-24 12:29] elemoine commented on #597
Could you please provide more explanations?

[2015-06-24 12:31] sbrunner commented on #597
It the `serverType` is `"mapserver"` the print add a query params `MAP_RESOLUTION=<DPI>`, see
https://github.com/mapfish/mapfish-print/blob/b29dcc21afb709a7bcb3abc52e9c715f4c12b350/core/src/main/java/org/mapfish/print/map/image/wms/WmsUtilities.java#L96-L119

[2015-06-24 12:32] sbrunner commented on #597
Then MapServer can create the symbols with the right size :-)

[2015-06-24 12:39] #592 closed

[2015-06-24 12:40] jaykayone commented on #597
OK in this case it will work because it is mapserver in the two examples.
But if we have wms layers coming from arcgis server it will not be covered I guess.
This concerns all the layers from the water theme
![screen shot 2015-06-24 at 14 39 11]
(https://cloud.githubusercontent.com/assets/1518019/8330051/e54310ec-1a7e-11e5-9e63-00d934f2cd85.png)

![screen shot 2015-06-24 at 14 39 40](https://cloud

[2015-06-24 12:46] #593 closed

[2015-06-24 13:25] petzlux commented on #579
@elemoine

Following on from discussion, do we need to integrate a browser/device sniffer library, like the swiss geoportal ?

https://github.com/geoadmin/mf-geoadmin3/blob/master/src/components/BrowserSnifferService.js

In this case, I wanted to distinguish behaviour between a device with a mouse and a touch input, but it seems that different browsers do different things.

[2015-06-24 13:37] jaykayone opened #601 "Print template language"
I just realized that there is a conceptual problem.
Texts in print templates are in french. They should be translated though. Where should this translation happen?

How do we insert the keys into the pot files / transifex ?

[2015-06-24 13:41] jaykayone opened #602 "crosshair almost true"
I open the map, my URL contains "crosshair=false".
I do a right click.
My URL changes to crosshair=true
The sidepanel contains a short url.
When I copy and paste that short URL it contains "crosshair=false" and the panel does not open

[2015-06-24 13:43] petzlux commented on #602
noted only in Firefox, Chrome doesnt seem to have same problem

[2015-06-24 13:45] jaykayone commented on #602
Actually, when I paste a link containing crosshair=true into a new window, it is changed back to crosshair=false in FF

[2015-06-24 13:47] rmichaelis opened #603 "search protected layers"
The search does not include the protected layers.

[2015-06-24 13:56] jaykayone opened #604 "somewhere we should have a remove all layers button"
now that all the layers are persisted in the localStorage, you can have 20+ layers in your catalog, removing them one by one is not so funny ..

[2015-06-24 14:15] #590 closed

[2015-06-24 14:16] jaykayone opened #605 "getFeatureInfo - not on layers with opacity 0"
there shouln't be any queries sent (and no mouse pointer changed) for layers with opacity 0

[2015-06-25 05:47] #182 closed

[2015-06-25 08:28] jaykayone commented on #602
same thing in safari

[2015-06-25 08:38] jaykayone opened #608 "Cannot measure small surface"
The tooltips displayed when measuring a surface  make it impossible to measure the surface of a house.
See this movie:

[2015-06-25 08:39] jaykayone commented on #608
![measure2](https://cloud.githubusercontent.com/assets/1518019/8350480/741226a8-1b26-11e5-8b08-1992cdbb29c7.gif)

[2015-06-25 08:44] jaykayone opened #609 "Zoom levels"
In some (protected) themes, we want the users to be able to zoom further than level 19.
This information is stored in the ui_metadata['resolutions']. The content still refers tho the old zoom levels in LUREF.
I will migrate the content later on.

There is a necessity though to add zoom levels to the map according to that information. WMS layers will be queried for that zoom levels, tiles will be s

[2015-06-25 11:20] jaykayone commented on #534
I think that the sidepanel should also be available in full screen mode

[2015-06-25 11:25] jaykayone opened #611 "basemap not grey"
http://devv3.geoportail.lu/main/theme/main?version=3&zoom=16&X=678024&Y=6416558&lang=fr&crosshair=false&layers=555&opacities=0.9&bgLayer=basemap_2015_global

@petzlux can you check this in mapnik please?
there seems to be a problem, the background is white and not grey ..

[2015-06-25 12:25] rmichaelis opened #612 "route /wms is in conflict with something undefined."
I'll change the route name in geoportailv3

[2015-06-25 12:40] petzlux commented on #466
@rmichaelis can you review please?

[2015-06-25 13:14] rmichaelis opened #614 "Authentication cookie is not sent to the proxy wms by OL"
In chrome and IE : It seems that OL does not send the authentication cookie to the wms proxy.
With FF it seems to work.

[2015-06-25 13:21] rmichaelis commented on #614
It's due to the crossOrigin parameter : https://github.com/Geoportail-Luxembourg/geoportailv3/blob/d273c622132359e27d28bc55a73260b9dbea38d1/geoportailv3/static/js/layerfactoryservice.js#L139

[2015-06-25 13:39] jaykayone opened #615 "multiselection"
add multiselection to userinfo (using alt or shift?)

[2015-06-25 13:53] rmichaelis commented on #614
@jaykayone In production, do we have queryable layers coming from an other domain ?

[2015-06-25 16:10] rmichaelis opened #617 "image broken in get feature of a mymaps layer"
![image](https://cloud.githubusercontent.com/assets/5594996/8359232/56593158-1b65-11e5-8a24-a0116b873849.png)

[2015-06-26 06:14] jaykayone commented on #611
problem solved

[2015-06-26 06:14] #611 closed

[2015-06-26 06:21] petzlux commented on #611
what was the problem ?

[2015-06-26 06:37] jaykayone commented on #611
outdated cache

On Fri, Jun 26, 2015 at 8:21 AM, Patrick Weber <notifications@github.com>
wrote:

--
Jeff Konnen

[2015-06-26 07:23] #566 closed

[2015-06-26 08:13] jaykayone commented on #535
duplicate #615
closing

[2015-06-26 08:13] #535 closed

[2015-06-26 09:09] #617 closed

[2015-06-26 09:11] #605 closed

[2015-06-26 09:26] rmichaelis opened #620 "catalog refresh is slow after authentication"
After logging in into the Geoportail, the catalog should reload quicker.
Sometimes I'm waiting 10 seconds before having a catalog refresh.

[2015-06-26 09:29] jaykayone commented on #620
I fear it's the 1000 layers from presidence.
I'll make a change

[2015-06-26 09:33] #612 closed

[2015-06-26 09:35] jaykayone commented on #620
better?

[2015-06-26 09:47] rmichaelis commented on #620
not really.

[2015-06-26 10:08] jaykayone commented on #620
upps i fear i made it worse, i think i removed the theme restriction, so now it is slow even when not logged in, I'll repair it this afternoon

[2015-06-26 11:31] rmichaelis commented on #620
I had a cache issue.
Removing the 1000 layers from presidence, really improves the performances.

[2015-06-26 11:31] #620 closed

[2015-06-26 11:39] rmichaelis opened #622 "Sometimes themes are coming from cache."
Steps to reproduce

1) open the browser and start the geoportailv3
2) select "eau" theme
3) connect wit fk
4) close the browser
5) open the browser and start the geoportailv3
6) logout

The theme eau still contains the old layers

[2015-06-26 12:21] rmichaelis opened #623 "inappropriate scrollbar to the right of the map with FF"

[2015-06-26 12:22] petzlux commented on #623
screenshot ?

[2015-06-26 12:25] rmichaelis commented on #623
![image](https://cloud.githubusercontent.com/assets/5594996/8377172/28ee40b4-1c0f-11e5-81f6-09e78798b036.png)

[2015-06-26 15:22] #614 closed

[2015-06-29 08:55] pgiraud commented on #497
@jaykayone what's the future action for this issue?

[2015-06-29 09:17] jaykayone commented on #497
let us move it to m2

[2015-06-29 13:27] #466 closed

[2015-06-30 07:31] #316 closed

[2015-06-30 07:56] #623 closed

[2015-06-30 07:56] #554 closed

[2015-06-30 08:14] pgiraud commented on #585
There's no animation when the side panel is open with "crosshair=true".

[2015-06-30 08:22] pgiraud commented on #608
This is in our opinion not critical for milestone 1.

[2015-06-30 08:25] sbrunner commented on #596
We needs more details to investigate it ...

[2015-06-30 08:28] petzlux opened #629 "Add a layer ID to this.map.layers"
At the moment, `queryable_id` is the only layer id we have. See #624

[2015-06-30 08:31] jaykayone commented on #608
I don't agree

[2015-06-30 08:49] #602 closed

[2015-06-30 09:02] #579 closed

[2015-06-30 09:14] #569 closed

[2015-06-30 13:58] jaykayone commented on #597
is someone working on this one?
This is a critical issue for milestone 1

[2015-06-30 13:59] jaykayone commented on #595
any upate here?

[2015-06-30 14:01] jaykayone opened #631 "print scalebar in luref"
cf #591

[2015-06-30 14:05] petzlux opened #632 "Shorturl fails when user is logged in"
[Shorturl service](https://github.com/camptocamp/c2cgeoportal/blob/master/c2cgeoportal/views/shortener.py#L108) complains
`AttributeError: 'O' object has no attribute 'email'`

The email user attribute is actually named `mail` ! This is a problem in C2C

[2015-06-30 14:09] jaykayone opened #634 "print resolutions"
the printed maps are not very sharp. this is due to the resolution of the tiles.
We should add a set of x2 or x3 tiles for the background layers and use those in print

[2015-06-30 14:12] petzlux commented on #634
@jaykayone

Will need mapproxy 1.8 for that, as it added necessary mapnik scale_factor

https://github.com/mapproxy/mapproxy/blob/master/CHANGES.txt#L17

[2015-06-30 14:24] jaykayone commented on #634
OK, good to know

[2015-06-30 14:37] petzlux opened #635 "Take into account default theme background on load and theme switch"
Related to #621

[2015-06-30 14:38] petzlux commented on #635
Need to define if url and localstorage `bgLayer` wins over default

[2015-06-30 14:55] jaykayone commented on #596
a normal print like this one:

http://devv3.geoportail.lu/main/theme/main?version=3&zoom=16&X=683222&Y=6380978&lang=fr&crosshair=false&layers=376-560-555&opacities=1-0.9-0.9&bgLayer=topogr_global

1:10000, A4 portrait

takes 10 seconds:
``
[Tue Jun 30 16:50:46.784188 2015] [:error] [pid 30010] 2015-06-30 16:50:46,783 INFO  [c2cgeoportal.views.proxy][MainThread] Send query to URL:
[Tue Jun 30 16:50

[2015-06-30 14:57] jaykayone commented on #596
![screen shot 2015-06-30 at 16 55 31](https://cloud.githubusercontent.com/assets/1518019/8433933/ee7f33b0-1f48-11e5-8fbc-39c71de57524.png)

[2015-06-30 15:00] jaykayone commented on #596
here is the catalina.out:

[code]

[2015-07-01 06:47] sbrunner commented on #597
Not actually, for me the missing information is how it works with ESRI server because it's not an OGC option ... any body know it ?

[2015-07-01 06:57] jaykayone commented on #597
there does not seem to be such an option for esri servers.
could it be a compromise to use a different resolution for the wms servers? If I understood the problem right, you are using 300 dpi to query the wms which means that it actually takes data from a totally different scale which makes symbols too small.

Could we simply use 96 dpi in WMS requests in print ?

[2015-07-01 07:24] sbrunner commented on #608
Shouldn't the popup moved from the `ol-overlaycontainer-stopevent` `<div>' to the `ol-overlaycontainer`?

[2015-07-01 07:26] sbrunner commented on #597
And we will have a pixeled layer on the print ... that what you want ?

[2015-07-01 07:27] jaykayone commented on #597
that's sure. better than a non readable print :)
i have no other solution for the moment.

[2015-07-01 08:07] #591 closed

[2015-07-01 08:56] pgiraud commented on #585
For now, I've found that the `$animate:close` event is fired immediately after `$animate:before` ie. even if the animation hasn't finished yet. See https://github.com/camptocamp/ngeo/blob/master/src/directives/resizemap.js#L58
Adding a timeout to wait before opening the info panel works but is hackish.

[2015-07-01 10:39] elemoine commented on #608
Thanks @sbrunner. That's a good idea!

See https://github.com/camptocamp/ngeo/pull/250.

[2015-07-01 11:12] elemoine commented on #608
https://github.com/camptocamp/ngeo/pull/250 now closed, so closing this as well.

[2015-07-01 11:12] #608 closed

[2015-07-01 12:48] elemoine commented on #584
@pgiraud I assigned this to you, as switching to Angular 1.4 is required to fix https://github.com/Geoportail-Luxembourg/geoportailv3/issues/585.

[2015-07-01 13:22] elemoine opened #636 "favicon.ico 404 errors"
I ses favicon.ico 404 errors in the developer tools' console. Is this new?

[2015-07-01 13:24] petzlux commented on #636
No, but never bothered with it.

I can take care of integrating the favicon from www. https://www.geoportail.lu/favicon.ico

[2015-07-01 13:55] elemoine commented on #595
Yep, see https://github.com/Geoportail-Luxembourg/geoportailv3/pull/639.

[2015-07-01 13:57] jaykayone commented on #595
cool

[2015-07-01 14:08] elemoine commented on #601
I'd suggest that we join our forces and organize a specific call to tackle this issue.

[2015-07-01 14:09] #636 closed

[2015-07-01 14:13] sbrunner commented on #601
Related issue: https://github.com/mapfish/mapfish-print/issues/245

[2015-07-01 14:44] jaykayone commented on #601
Let's push this to milestone 2

[2015-07-01 15:18] pgiraud opened #643 "Crosshair is to true too often"
If you connect to application: http://devv3.geoportail.lu/main/wsgi/theme/main
And then open the info panel by clicking on the info button in the bottom left bar. A "crosshair=true" parameter is added to the url. If you copy this url and paste it in a new tab, you'll see a marker in the map.

Moreover, if you right click somewhere in the map, the x and y coordinates in the url are for the clicked

[2015-07-02 06:17] jaykayone opened #644 "legends"
if you open layer metadata, the system shows the metadata and the legend.
after you closed it and click on another layer, the popup still contains the legend of the first layer you clicked

(Observed with the different editus-layers. the special case is that they have the same metadataid but different legends)

[2015-07-02 07:52] petzlux opened #648 "Click on map should only open Info window if result returned"

[2015-07-02 07:56] rmichaelis opened #649 "travis failed"
Is it a Travis problem ?

Collecting mccabe<0.4,>=0.2.1 (from flake8->-r CONST_dev-requirements.txt (line 2))
  Could not find any downloads that satisfy the requirement mccabe<0.4,>=0.2.1 (from flake8->-r CONST_dev-requirements.txt (line 2))
  Some externally hosted files were ignored as access to them may be unreliable (use --allow-external mccabe to allow).
  No distributions at all found for m

[2015-07-02 07:57] sbrunner commented on #649
=> restart Travis...

[2015-07-02 07:58] rmichaelis commented on #649
I've already restarted the job. The problem remains. Maybe I should try later.

[2015-07-02 09:02] #555 closed

[2015-07-02 09:39] #603 closed

[2015-07-02 09:49] rmichaelis opened #651 "travis failed on resizemap.js"
ERR! compile /home/travis/build/Geoportail-Luxembourg/geoportailv3/node_modules/ngeo/src/directives/resizemap.js:64: ERROR - Property on never defined on angular.$animate
ERR! compile           $animate.on('addClass', element, animationCallback);
ERR! compile                    ^
ERR! compile
ERR! compile /home/travis/build/Geoportail-Luxembourg/geoportailv3/node_modules/ngeo/src/directives/resize

[2015-07-02 09:50] rmichaelis commented on #649
seems to work now.

[2015-07-02 09:50] #649 closed

[2015-07-02 12:32] pgiraud commented on #651
An upgrade of angular is required.
See #653.

[2015-07-02 12:43] #446 closed

[2015-07-02 12:47] #576 closed

[2015-07-02 12:48] #519 closed

[2015-07-02 16:32] elemoine commented on #584
Closed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/653.

[2015-07-02 16:32] #584 closed

[2015-07-02 19:05] rmichaelis opened #655 "travis failed on searchdirective.js"
compile /home/travis/build/Geoportail-Luxembourg/geoportailv3/geoportailv3/static/js/search/searchdirective.js:601: ERROR - Bad type annotation. Unknown type olx.view.FitGeometryOptions
ERR! compile         /** @type {olx.view.FitGeometryOptions} */ ({maxZoom: 17}));

[2015-07-02 19:35] petzlux opened #656 "print output distorted"
tested on ipad
![img_0005](https://cloud.githubusercontent.com/assets/2540428/8486034/2ecafdc2-2102-11e5-8857-131e7574719a.PNG)

[2015-07-02 19:40] elemoine commented on #655
Yep, a recent ol3 change.

[2015-07-03 05:49] #655 closed

[2015-07-03 05:53] geoportallux commented on #656
cannot reproduce?

Jeff Konnen

Charg? d'?tudes - informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCH? DE LUXEMBOURG

Minist?re des Finances

Administration du cadastre et de la topographie

Service informatique & Service g?oportail

54, avenue Gaston Diderich<x-apple-data-detectors://1/0> . L-1420 Luxembourg

T?l. (+352) 44901-261<tel:(+352)%252044901-261> . Fax (+352) 44901-333<tel:(+352

[2015-07-03 05:55] jaykayone commented on #656
format and scale?

[2015-07-03 06:10] #648 closed

[2015-07-03 07:05] jaykayone opened #658 "no language switcher on phone"

[2015-07-03 07:06] jaykayone commented on #658
seen on IOS.
cannot change language either with lang parameter

[2015-07-03 07:14] #651 closed

[2015-07-03 11:30] elemoine commented on #656
Is this a question, or are you just saying that you're not reproducing the problem?

[2015-07-03 11:36] #585 closed

[2015-07-03 11:36] #594 closed

[2015-07-03 12:19] jaykayone commented on #656
this is what i am saying. we tried some more afterwards and could not reproduce it a second time.
We'll try harder :)

[2015-07-03 16:41] #644 closed

[2015-07-03 16:41] #587 closed

[2015-07-05 16:26] petzlux opened #660 "Background Layer Search Results duplicated"

[2015-07-06 07:34] #595 closed

[2015-07-06 09:01] petzlux opened #662 "Travis not working"
Seems most builds fail really early

[2015-07-06 10:00] jaykayone opened #663 "vector print does not work with search layer"
When searching for an address, the point is highlighted.

But this point is not printed..

[2015-07-06 10:00] jaykayone opened #664 "map distortion"
when using the getfeatureinfo, the map is now distorted

[2015-07-06 10:05] elemoine commented on #597
FWIW, https://github.com/Geoportail-Luxembourg/geoportailv3/commit/fc82447eafb64a7cb2673dd1d6a779ba75a716d0 changed to print DPI from 72 to 300.

@jaykayone, if the js code had a way to know whether the WMS layer is an ESRI layer or a MapServer layer we could  set `servertype` to `MapPserver` for MapServer layers, and set `DPI` to `96` for ESRI layers.

[2015-07-06 10:40] elemoine opened #665 "Print mask issues at two last zoom levels"
There is a bug related with the print mask when one of the last two zoom levels is used for the map. The print mask is very very large and `1:∞` is displayed for the scale in the print form.

[2015-07-06 11:40] jaykayone commented on #597
We could know it on the serverside by testing the to see if it contains "WMSServer" but on the javascript side we do not have that information for now.

We could add a metadata_ui element is_mapserver and if it is true we use that information, otherwise we use 96 dpi.

Let's do this, I'll add this tag into the db asap

[2015-07-06 12:05] elemoine commented on #665
The bug triggers because we don't have appropriate print scales for the last two map zoom levels (zoom levels 11 and 12), at least for my screen size.

At this point I am going to provide a patch that makes the code more robust and select the smallest print map scale when no optimal scale can be found.

[2015-07-06 12:08] jaykayone commented on #665
OK

[2015-07-06 13:14] elemoine commented on #597
You could add a `serverType` property to `metadata_ui`, set to `'MapServer'` in the case of MapServer layers, and would be `undefined` (or absent) in the case of ESRI layers.

I realize that DPI is a global setting, meaning that we'd use a degraded mode as soon as an ESRI layer is to be printed.

[2015-07-06 13:17] elemoine commented on #663
You confirm that it works with other vector features?

[2015-07-06 13:24] jaykayone commented on #663
yes, I tried with left click and right click. it works.
but now with search

[2015-07-06 13:25] jaykayone commented on #597
that's not good. whasn't the comment of stephane aimed to have a differentiatable setting? https://github.com/mapfish/mapfish-print/issues/273

[2015-07-06 13:26] elemoine commented on #663
Search is what I used for testing! Ok investigating a bit…

[2015-07-06 13:32] jaykayone commented on #663
Test here: http://g-o.lu/v3/YKwa
Search for "54 did"

[2015-07-06 13:35] elemoine commented on #663
Thanks.

Question: does searching result in displaying geometries that are NOT points?

[2015-07-06 13:37] jaykayone commented on #663
yest, search for 614/4236 e.g.

[2015-07-06 13:38] elemoine commented on #663
Ok.

[2015-07-06 13:38] jaykayone opened #667 "link to this object"
we have not implemented the "link to this object" in the getfeatureinfo yet

[2015-07-06 13:40] jaykayone commented on #663
which seems to work btw

[2015-07-06 13:55] elemoine commented on #663
Yep, that makes sense.

[2015-07-06 14:02] jaykayone opened #668 "searching for lines"
searching for a river (eg "Alzette) does not correctly zoom onto the polyline.

auto completion is quite weird too for alzette

the result is shown when I type "alz" but as soon as I type "Alze" it is gone

[2015-07-06 14:41] elemoine commented on #597
I need to look in this more closely.

[2015-07-06 14:51] elemoine commented on #663
@jaykayone, are you able to test my [elemoine_print-style-type branch](https://github.com/Geoportail-Luxembourg/geoportailv3/tree/elemoine_print-style-type)? It would be good to test for both points and polygons. Thanks.

[2015-07-06 15:17] jaykayone commented on #663
works for points and polygons, but not lines (eg Search for syre ... afterwards zoom to full extent as there is a bug with the zoom).
then print. generates a serverside error

[code]

[2015-07-06 15:18] elemoine commented on #597
So, if the map only includes MapServer layers we can use `"serverType": "MapServer"` and a high DPI value (`300`). In this way we will get a high-resolution print, with correctly sized symbols.

But if the map includes ESRI layers and if we use a high DPI value (`300`) then symbols will be very small in the printed map for the ESRI layers.

As far as I understand, the only way to get correctly siz

[2015-07-06 15:20] elemoine commented on #663
Thanks for testing. What URL should I use for testing?

[2015-07-06 15:26] elemoine commented on #663
Or, it seems that you've updated the `/main/wsgi` instance…

[2015-07-06 15:42] elemoine commented on #663
The problem is related to the `Syre (hydro)` feature being a `GeometryCollection` (instead of a `LineString`) in the GeoJSON response. See http://devv3.geoportail.lu/main/wsgi/fulltextsearch?limit=5&query=syre&callback=jQuery111302576454628724605_1436197114179&_=1436197114180. So I doubt this is a new problem.

So I'd suggest that I merge the ngeo branch and address the remaining issues with separ

[2015-07-06 16:20] elemoine commented on #668
Again, Alzette (hydro) is a `GeometryCollection` rather than a `LineString` (or `MultiLineString`) in the GeoJSON response. See http://devv3.geoportail.lu/main/wsgi/fulltextsearch?limit=5&query=Alz&callback=jQuery111309967113130260259_1436199490572&_=1436199490574. This is the reason `view.fit` doesn't work. (This is also the reason printing would not work.)

Is returning a `GeometryCollection` in

[2015-07-06 17:06] jaykayone commented on #668
@petzlux can you check this please?

[2015-07-06 17:14] jaykayone commented on #663
yes I know ... is that a problem?

[2015-07-06 17:16] jaykayone commented on #663
if this means that if it was LineString the print would work, it's ok for me.
the multigeometry is another problem related to fulltextsearch

[2015-07-06 17:19] jaykayone commented on #597
couldn't we make a change in mapfishprint that queries a wms of type arcgis always in 96 dpi whatever the desired output resolution is?
We could then use high resolution for wmts and mapserver and low res for esri ...

how did this work in v2?

we can't be the only ones facing that problem

[2015-07-06 19:30] elemoine commented on #597
I'll talk to print experts tomorrow.

I thought you said it never worked for you. Did I misunderstand?

Not many people with maps including both MapServer and ESRI WMS layers :)

[2015-07-06 19:51] jaykayone commented on #597
ad v2: it has never been optimal, but it worked better than in v3

i think the compromise might be to set everything to 96 dpi for now as there are no retina tiles anyway ... if there is no better solution

[2015-07-07 06:40] jaykayone commented on #631
@pgiraud are you working on this?
otherwise I pass it to @rmichaelis

[2015-07-07 06:40] jaykayone commented on #559
@pgiraud are you working on this?

otherwise I pass it to @rmichaelis

[2015-07-07 06:42] #656 closed

[2015-07-07 06:46] jaykayone commented on #664
this is a regression

[2015-07-07 06:47] jaykayone opened #669 "icon text too long"
solution is probably to call it "My maps" in every language

@petzlux?

[2015-07-07 06:48] jaykayone commented on #669
![screen shot 2015-07-07 at 08 47 03](https://cloud.githubusercontent.com/assets/1518019/8540326/e4cf921a-2484-11e5-8287-05bdb264cab4.png)

[2015-07-07 06:54] jaykayone commented on #663
When printing this map:

http://devv3.geoportail.lu/main/theme/main?version=3&zoom=16&X=681055&Y=6378608&lang=lb&layers=373-154-146-151&opacities=1-1-1-1&bgLayer=topo_bw_jpeg

I get an error too, even without highlight:

[code]

[2015-07-07 07:00] jaykayone commented on #663
seems to be a regression

[2015-07-07 07:41] #643 closed

[2015-07-07 07:56] rmichaelis opened #671 "Cartes topographique N/B should be Carte topographique N/B"
![image](https://cloud.githubusercontent.com/assets/5594996/8541397/1cabcdbc-248e-11e5-8b98-2918e3a3f4dd.png)

[2015-07-07 07:59] #660 closed

[2015-07-07 08:59] elemoine commented on #597
Indeed, that may possible. And you were right, this is what https://github.com/mapfish/mapfish-print/issues/273 is about.

[2015-07-07 09:01] elemoine commented on #663
Not at all.

[2015-07-07 09:06] elemoine commented on #663
Are you sure it's a regression caused by my [elemoine_print-style-type branch](https://github.com/Geoportail-Luxembourg/geoportailv3/tree/elemoine_print-style-type)? I'd rather think it's caused by https://github.com/Geoportail-Luxembourg/geoportailv3/pull/639, where MapFish Print fails when attempting to draw a vector layer with no features.

[2015-07-07 09:08] jaykayone commented on #663
yes, it's probably rather related to to #639

[2015-07-07 09:18] jaykayone commented on #597
OK, I now made a test.
With the current tile resolutions, you don't see any difference in quality between a print at 96 and 300 dpi.

Let's set the whole config to 96 and the wms sizes will be OK for now.

In Milestone 2, we will then implement a version with high res wmts and wms

[2015-07-07 09:33] petzlux commented on #669
one for @adonno

[2015-07-07 09:39] petzlux commented on #671
one for @adonno

[2015-07-07 09:48] #665 closed

[2015-07-07 10:04] ybolognini commented on #559
@pgiraud not at the office today. Eric told me he wasn't working on this. I pass the issue to @rmichaelis

[2015-07-07 10:05] ybolognini commented on #631
@pgiraud not at the office today. Eric told me he wasn't working on this. I pass the issue to @rmichaelis

[2015-07-07 11:12] elemoine commented on #663
@jaykayone I made changes to my "elemoine_print-style-type" geoportailv3 branch and "print-style-type" ngeo branch. I can't test locally. Do you mind updating the main instance on devv3 again? Make sure ngeo is updated.

[2015-07-07 11:37] elemoine commented on #669
And I think this adds a vertical scrollbar to the page.

[2015-07-07 11:38] elemoine commented on #663
Did you update devv3? It seems to be working now…

[2015-07-07 11:39] jaykayone commented on #663
yes, sorry, started the build and had to quit my office for another project, I had no time to wait for the end of the build and inform you

[2015-07-07 11:41] elemoine commented on #663
Ok, it works now. The remaining issue is related to the `GeometryCollection`, and it's already tracked with https://github.com/Geoportail-Luxembourg/geoportailv3/issues/668.

[2015-07-07 11:42] jaykayone commented on #663
Yes OK

[2015-07-07 11:59] petzlux commented on #668
@jaykayone as this is an issue caused upstream by geometrycollection objects in the Postgis table, waiting for you to fix this before doing an import.

[2015-07-07 12:09] #663 closed

[2015-07-07 12:12] elemoine commented on #663
With #673 now merged I am interested in the devv3 instance being updated again (with master). I'd like to verify something…

[2015-07-07 12:24] jaykayone commented on #663
done

[2015-07-07 12:32] elemoine commented on #663
Thanks.

[2015-07-07 12:42] adonno commented on #669
All translationtions changed to "My maps"

[2015-07-07 12:42] jaykayone commented on #664
as @pgiraud is not there today, can you have a look please @elemoine?

[2015-07-07 12:53] jaykayone opened #675 "url shortener"
the c2cgeoportal url shortener only works with devv3.geoportail.lu

If I use an alias domain like devv3.geoportal.lu or other subdomains (for the themes) it will reject the request:

400 Bad Request
The server could not comply with the request since it is either malformed or otherwise incorrect.

The requested host 'devv3.geoportal.lu' should be 'devv3.geoportail.lu'

We would have to use a regex

[2015-07-07 12:54] jaykayone commented on #675
btw, it does not want to work with a pserve instance (devv3rm.geoportail.lu)
It only works with a wsgi setting

[2015-07-07 12:55] jaykayone commented on #675
example: http://devv3.geoportail.lu/main/wsgi/short/create?url=http://devv3.geoportal.lu/main

[2015-07-07 12:59] jaykayone commented on #675
As long as we are working in relative mode, it will work though.

But there is a real problem with pserve:

http://devv3rm.geoportail.lu/short/create?url=http://devv3rm.geoportail.lu/toto

[code]

[2015-07-07 14:04] jaykayone commented on #668
database is updated

[2015-07-07 14:04] petzlux commented on #430
This is actually quite important to have even just a basic tracking working from the start that we publish as a beta

[2015-07-07 14:11] jaykayone opened #676 "stale branch"
https://github.com/Geoportail-Luxembourg/geoportailv3/branches/stale
@pgiraud

[2015-07-07 14:28] adonno commented on #671
Has been changed as asked by @rmichaelis

[2015-07-07 14:43] rmichaelis opened #677 "pdf name is wrong"
the print pdf name should have a name related to geoportail

[2015-07-07 14:56] jaykayone opened #678 "print does not work anymore .."
[code]

[2015-07-07 14:57] rmichaelis opened #679 "ev.elapsedTime is undefined"
When navigating on catalog I receive this error : (with ff, seems to work with chrome)

TypeError: ev.elapsedTime is undefined
http://devv3rm.geoportail.lu/node_modules/angular-animate/angular-animate.js
Line 1262

[2015-07-07 15:01] jaykayone commented on #678
this is a cache problem.

deleting it

[2015-07-07 15:01] #678 closed

[2015-07-07 15:26] #668 closed

[2015-07-07 15:27] #671 closed

[2015-07-07 15:29] jaykayone commented on #679
as this does not seem to blocking, I'll set it to milestone 2

[2015-07-07 15:59] elemoine commented on #664
I did not have time for that. I just noticed that the problem is related to https://github.com/camptocamp/ngeo/pull/256. In the case of the "info panel" the animation callback is called with a target element which is not the one onto which the resizemap directive is attached.

[2015-07-07 16:00] rmichaelis opened #682 "Text in pdf never translated"
This line lets me think, that this is not only a translation issue :
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/print/printdirective.js#L436

[2015-07-07 17:26] jaykayone commented on #682
looks like you might be right here

[2015-07-07 18:14] elemoine commented on #682
Good catch @rmichaelis. @sbrunner added this, and I don't remember what it is for.

[2015-07-07 18:18] elemoine commented on #682
Ok, the lang parameter that we pass in print requests is related to the legend URLs. See https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/views/luxprintproxy.py#L100-L103. But it's probably not use by MapFish Print currently.

[2015-07-07 18:19] elemoine commented on #679
This looks like an Angular bug!

[2015-07-07 18:20] elemoine commented on #678
I got really really scared!

[2015-07-07 19:06] jaykayone commented on #678
so did I :)

[2015-07-07 19:08] jaykayone commented on #682
well legends are language dependend, in this case they are probably always in french ..

[2015-07-07 19:12] jaykayone commented on #682
confirmed ..

[2015-07-08 06:23] #559 closed

[2015-07-08 06:23] #631 closed

[2015-07-08 06:46] jaykayone commented on #664
@elemoine do you have the time to work on this today?
If not, do you think, we can fix it on the application side, or does this have to be tackled in ngeo?

It's the last issue preventing us to make user tests.

Thanks
Jeff

[2015-07-08 07:09] petzlux opened #683 "Remove old mapnik base map from basemap list"

[2015-07-08 07:12] #669 closed

[2015-07-08 07:14] jaykayone commented on #683
done

[2015-07-08 07:14] #683 closed

[2015-07-08 07:25] rmichaelis opened #684 "tooltips poi"

[2015-07-08 07:26] petzlux opened #685 "Reverse geocoding for location info"

[2015-07-08 08:12] petzlux commented on #632
@jaykayone doesnt this need to be fixed before we go public?

[2015-07-08 08:16] jaykayone commented on #632
@sbrunner what is the status here?

[2015-07-08 08:38] petzlux opened #686 "Travis fails , cant reproduce locally"
[code]

[2015-07-08 08:39] jaykayone commented on #686
even after a clean-all?

[2015-07-08 08:40] petzlux commented on #686
trying

[2015-07-08 08:44] petzlux opened #687 "Hide non functional UI elements before public beta Milestone 1"
- My Maps
- Drawing

[2015-07-08 08:50] petzlux commented on #426
Is this still relevant ?

![screen shot 2015-07-08 at 10 49 35](https://cloud.githubusercontent.com/assets/2540428/8566542/17459840-255f-11e5-9693-4557011d399a.png)

[2015-07-08 08:53] petzlux commented on #686
even after cleanall, same in master !

[2015-07-08 08:58] jaykayone commented on #426
no

[2015-07-08 08:58] #426 closed

[2015-07-08 09:01] jaykayone commented on #686
travis might need a beer: https://en.wikipedia.org/wiki/Fucking_Hell

[2015-07-08 09:21] elemoine commented on #686
Strange. I have no explanations at this point.

[2015-07-08 09:23] elemoine commented on #686
But I tend to think that Travis is right here, and that there indeed is a real problem.

[2015-07-08 09:29] elemoine commented on #682
Yes I know. Fixing should be easy. We just need to send the current language in the print request.

[2015-07-08 09:32] elemoine commented on #686
If I remove all the downloaded externs (with `rm -f .build/externs/*.js`) I get the same errors locally.

[2015-07-08 09:35] elemoine commented on #686
I can have a quick look into the problem. It's related to recent externs changes in closure-compiler.

[2015-07-08 09:55] elemoine commented on #686
https://github.com/camptocamp/ngeo/pull/262 should fix it.

[2015-07-08 11:18] petzlux opened #688 "Layer Field Names translations missing"
How can we integrate these in the .pot files ?  @jaykayone

[2015-07-08 11:22] jaykayone commented on #688
i guess we have to write an extractor the same way we did for the themes

[2015-07-08 11:42] elemoine commented on #686
It should now be fixed. Please reopen if not.

[2015-07-08 11:46] pgiraud commented on #664
I'm back to work. I'll dig into this this afternoon.

[2015-07-08 11:48] jaykayone commented on #664
thanks

[2015-07-08 11:50] jaykayone opened #689 "scale bar in print not correct"
now that the scalebar in the print is in luref we see a problem that was not there when testing it locally.

the scalebar is not correct.
I'll add some screenshots later

[2015-07-08 11:57] petzlux commented on #634
ideally, we would also update to mapnik 3.0 , some interesting changes to speed up rendering in there. ...

for example, https://github.com/mapnik/mapnik/wiki/PostGIS-Async

[2015-07-08 12:01] jaykayone commented on #689
I did a print at 1:10000

the distances measured on the map are correct

![screen shot 2015-07-08 at 13 50 43](https://cloud.githubusercontent.com/assets/1518019/8569526/ded6ff52-2578-11e5-9dda-4e9a2c22d284.png)

measure on paper print from geoportailv2 (1:10000)
![img_6491](https://cloud.githubusercontent.com/assets/1518019/8569608/9c7fafae-2579-11e5-81b5-b518bc81108b.JPG)
measure on paper print

[2015-07-08 12:03] pgiraud commented on #664
It looks like it happens in other cases. Here's an other one:
 - right click on map -> info panel opens,
 - click on closing cross -> info panel closes and map is distorted.

[2015-07-08 12:08] jaykayone opened #690 "tiles vs printing"
when printing in 1:10'000 the print uses the tiles from the next lower scale (in this case 1:12000).
The result would be better if it used the tiles of the next higher scale (1:6000)

[2015-07-08 12:09] jaykayone commented on #686
still having this issue after a clean-all:
[code]

[2015-07-08 12:10] jaykayone commented on #664
yes, that's correct

[2015-07-08 12:13] elemoine commented on #686
oops, different problem. A typo in the externs file. I'll fix it.

[2015-07-08 12:16] rmichaelis commented on #664
it seems to happen as soon as the left panel is not opened by one of the 3 left button.
I have the feeling that it happens when the side panel is opened through a binding in a directive.

[2015-07-08 12:17] elemoine commented on #686
https://github.com/camptocamp/ngeo/pull/263. Sorry about that.

[2015-07-08 12:27] rmichaelis commented on #684
done for poi as well as for mymaps layers.

@jaykayone could you please check ?

[2015-07-08 12:41] jaykayone commented on #684
looks good for POI and my maps

the detail for mymaps will be done in v2

[2015-07-08 12:44] elemoine commented on #686
Should be ok now.

[2015-07-08 12:46] rmichaelis commented on #684
Mymaps uses now only the public category

[2015-07-08 12:47] pgiraud commented on #664
It looks like something weird happens when there's a ngRepeat or ngShow in child elements.
I made a sample to show this. http://plnkr.co/edit/KEIfoHDiw7n97ljLm2CZ
And sent a message to the mailing list https://groups.google.com/forum/#!topic/angular/T0j0gg1G2P0

[2015-07-08 13:12] jaykayone commented on #689
I guess this might be a problem in mapfish-print.
@sbrunner can you check this please?
For the record, this is the request:
[code]

[2015-07-08 13:20] petzlux commented on #686
Sorry but there still seems to be problems:

[code]

[2015-07-08 13:21] jaykayone commented on #689
where does this value "scale":15432.894196442068" come from.
I'd guess that it this scale parameter that is used to generate the scalebar ..
can we use the "fake" one we are displaying as text?

[2015-07-08 13:22] jaykayone commented on #686
I did not have that error ..

[2015-07-08 13:26] petzlux commented on #686
only saw it in debug mode

[2015-07-08 13:28] jaykayone commented on #686
OK, that explains why I don't see it

[2015-07-08 13:29] jaykayone commented on #664
Is there an alternative way of repairing this?
if possible I do not want to wait for angular to fix a bug

[2015-07-08 13:33] pgiraud commented on #664
I understand. I'm trying to find a workaround.
By the way, here's an example showing how easy it can be reproduced.
https://github.com/camptocamp/ngeo/commit/41a0753c2cb80e97339956fd0781b423f78dc1e1

[2015-07-08 14:14] petzlux opened #693 "Alzette - elasticsearch behaving weird"

[2015-07-08 14:19] #684 closed

[2015-07-08 14:21] rmichaelis commented on #664
Is this issue related to this one #679  ?

[2015-07-08 14:30] jaykayone commented on #684
what about the other toolips migration? can you create a separate issue please?

[2015-07-08 14:32] rmichaelis opened #694 "Associate a tooltip with each queryable layer"

[2015-07-08 15:44] #682 closed

[2015-07-08 15:54] elemoine commented on #664
Not really. But #697, which fixes this issue, removes `ngAnimate` entirely, which will fix #679!

[2015-07-08 16:23] #664 closed

[2015-07-08 16:23] #679 closed

[2015-07-08 18:50] jaykayone commented on #686
if I read @elemoine comment of another PR correctly, this should be fixed

[2015-07-08 20:02] elemoine commented on #686
`index.html` included a `<script>` tag to an externs file! I removed it in one of my latest commits. So the problem should be fixed.

[2015-07-08 20:03] elemoine commented on #686
This is the commit: https://github.com/Geoportail-Luxembourg/geoportailv3/commit/f0ad063c13f9d3d6e167867e5bed644c858f9817

[2015-07-08 20:09] jaykayone commented on #686
thanks

[2015-07-08 20:09] #686 closed

[2015-07-09 06:12] #514 closed

[2015-07-09 06:50] rmichaelis commented on #694
Done for poi, mymaps, esri

[2015-07-09 07:36] pgiraud commented on #676
Branch deleted.

[2015-07-09 07:36] #676 closed

[2015-07-10 06:40] petzlux opened #701 "Metadata html link"
![screen shot 2015-07-10 at 08 39 18](https://cloud.githubusercontent.com/assets/2540428/8613416/3eda7606-26df-11e5-8382-85fc65df6fc1.png)

[2015-07-10 06:43] petzlux opened #702 "Search Layers show theme link if not in current theme"
If layer search result is in current theme, show no link to other theme.

If layer search result is not in current theme, show link to other theme(s)

[2015-07-10 06:43] petzlux opened #703 "Make themes searchable"

[2015-07-10 06:45] rmichaelis commented on #702
what about the hidden themes ?

[2015-07-10 06:45] petzlux commented on #702
we only show the ones also in the switcher

[2015-07-10 06:52] petzlux commented on #703
only these which are `display_in_switcher: "true"`

[2015-07-10 07:02] petzlux opened #704 "Order themes by popularity"
@jaykayone add `ui_metadata` parameter to db
petzlux do ordering in directive

[2015-07-10 07:03] petzlux opened #705 "add missing themes ui color icon ..."

[2015-07-10 07:11] #704 closed

[2015-07-10 07:52] jaykayone opened #706 "webfonts question"
@pgiraud, I still don't know what's the best way to know what character code (e018 etc) corresponds to what icon in the webfont. Could you enlighten me please?

[2015-07-10 07:55] jaykayone commented on #706
other question: How do you choose matching colors for the 3 colors for a theme?

[2015-07-10 08:02] pgiraud commented on #706
I created the font using the https://icomoon.io service. It creates an archive in which one can find the font in different formats as well as HTML files showing how to use the font. I'll send you this archive. Feel free to include it or at least document it somewhere in the project.

[2015-07-10 09:53] pgiraud commented on #706
For the colors for themes, if I remember well, I used the one provided in the initial templates by the design company.
Using a tool like https://color.adobe.com/ could help if you need to create colors for new themes.

[2015-07-10 12:11] jaykayone commented on #706
great, many thanks

[2015-07-10 12:17] #705 closed

[2015-07-10 13:00] elemoine commented on #662
(More or less) fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/652.

[2015-07-10 13:00] #662 closed

[2015-07-12 20:02] jaykayone opened #709 "mobile - sharing"
there's no sharing button on mobile... is that what we want @petzlux ?

[2015-07-13 06:39] petzlux commented on #709
Yes, was planned to be available , just as language switcher

https://github.com/Geoportail-Luxembourg/geoportailv3/issues/43

[2015-07-13 07:09] petzlux opened #710 "Coordinates DMS add one decimal"

[2015-07-13 07:12] petzlux commented on #710
Needs to be fixed in ol3 . At the moment there is no option to have DMS with decimals in seconds

[2015-07-13 07:19] jaykayone commented on #710
what about using our own formatter?

It's not a big thing: https://github.com/openlayers/ol3/blob/e62b2e447953c9eb19aa33f77aee1d5c2d98578b/src/ol/coordinate.js#L134

[2015-07-13 10:17] sbrunner commented on #632
I can't reproduce it, what's the error trace ?

[2015-07-13 10:25] rmichaelis commented on #632
[Mon Jul 13 12:23:01.215434 2015] [:error] [pid 39262] 2015-07-13 12:23:01,215 INFO  [c2cgeoportal.views.entry][Dummy-1] User 'fk' logged in.
[Mon Jul 13 12:23:04.833082 2015] [:error] [pid 39262] [remote 10.111.80.101:47136] Error - <type 'exceptions.AttributeError'>: 'O' object has no attribute 'email'
[Mon Jul 13 12:23:04.834672 2015] [:error] [pid 39262] [remote 10.111.80.101:47136] URL: http:

[2015-07-13 10:26] rmichaelis commented on #632
Is it helpful ?

[2015-07-13 10:29] sbrunner commented on #632
Yes :-)

[2015-07-13 10:31] sbrunner commented on #632
Under this line https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/views/authentication.py#L35 you should add this:
[code]
And it should fix your issue :-)

[2015-07-13 12:23] rmichaelis commented on #632
it works thanks

[2015-07-13 12:44] #632 closed

[2015-07-13 13:01] rmichaelis opened #713 "get feature info"
When a feature is selected and the user clicks in the map inside an area without any feature, the current selected feature should be deselected.

[2015-07-13 13:04] rmichaelis commented on #713
it works for poi but not for the "Cours d'eau primaires" layer

[2015-07-13 14:10] #713 closed

[2015-07-13 15:18] rmichaelis commented on #487
This could be a problem when sharing an url with crosshair=true in permalink.
Each time someone opens the shared-link a new one is generated.

[2015-07-13 15:25] jaykayone commented on #487
indeed

[2015-07-13 15:25] #706 closed

[2015-07-13 15:57] petzlux commented on #487
Indeed indeed!

[2015-07-13 16:07] #701 closed

[2015-07-14 06:04] jaykayone commented on #487
At the moment I will create a database job that deletes short links that have never been clicked after 30 days

[2015-07-14 06:54] rmichaelis opened #717 "Social Media meta tags issues"
map_tile => no translation

I'm not sure that the default text is the good one. But in any case it's not translated.

![image](https://cloud.githubusercontent.com/assets/5594996/8667866/6798328a-2a05-11e5-81cf-b44ac44fe994.png)

[2015-07-14 06:57] rmichaelis opened #718 "url in social sharing"
The long url is used when sharing via twiter or via mail.
Is it not better to use the short url ?

[2015-07-14 06:59] rmichaelis opened #719 "sharing via mail"
Sharing via mail does not respond if no mail client is installed.
I think we should have at least a message explaining that a mail client is needed to use this.

[2015-07-14 07:02] jaykayone commented on #718
yes, it would be better

[2015-07-14 07:11] rmichaelis opened #720 "sharing via facebook"
sharing via facebook doe not work properly if the user is not already connected to facebook.

In the second screen after login, the url is not the good one.
If already connected, the url is ok.

![image](https://cloud.githubusercontent.com/assets/5594996/8668164/3b59fc1e-2a08-11e5-91c5-4d644a3c351d.png)

[2015-07-14 07:51] rmichaelis opened #721 "cursor over the lion"
The mouse cursor over the lion (upper left corner) lets think that it's clickable. But it is not.

[2015-07-14 07:52] rmichaelis commented on #721
The same for the theme icon near the search.

[2015-07-14 08:43] jaykayone opened #722 "admin interface"
LuxgetFeatureDefinition cannot be edited in admin interface

[code]

[2015-07-14 09:44] petzlux commented on #717
we need to add meta tags for social sharing,  see details here:

https://moz.com/blog/meta-data-templates-123

[2015-07-14 10:28] jaykayone opened #724 "admin interface : cannot delete layer"
I guess it's a problem with the CASCADE defintions in the DB?

[code]

[2015-07-14 13:20] petzlux opened #726 "Add beta banner to new website ?"
Saw this for new UK statistics site beta.ons.gov.uk , might be an idea for our site as well.

![image](https://cloud.githubusercontent.com/assets/2540428/8674085/ce92b1e6-2a3b-11e5-80d7-8fb8a39e7681.png)

[2015-07-14 14:00] rmichaelis opened #728 "search results"
I don't understand why when I search for ```70 route d'E``` ,  I receive no result.

[2015-07-14 14:27] rmichaelis commented on #726
+1

[2015-07-15 06:55] sbrunner commented on #724
It's relay an issue that we should fix, a workaround is to delete the UI metadata before deleting the layer ...

[2015-07-15 07:27] petzlux commented on #497
Regarding the selection of features in mobile view. Can we not similar to the present day mobile app, show a simple Counter of features selected next to Info Button, before opening Info window?

[2015-07-15 07:47] #710 closed

[2015-07-15 07:56] jaykayone commented on #497
to be discussed ... the UX of the current implementation is not ideal either ..

[2015-07-15 12:27] rmichaelis opened #732 "Create a new layers from an existing one"
I have some identical layers to create.
Then it would be nice to be able to create a new layer with the same config as an other one and to modify only the required parameters.

[2015-07-15 12:30] rmichaelis opened #733 "Sorting layers does not work."
It works only with the id

[2015-07-15 12:34] geoportallux commented on #733
have you restarted apache?

Jeff Konnen

Charg? d'?tudes - informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCH? DE LUXEMBOURG

Minist?re des Finances

Administration du cadastre et de la topographie

Service informatique & Service g?oportail

54, avenue Gaston Diderich<x-apple-data-detectors://1/0> . L-1420 Luxembourg

T?l. (+352) 44901-261<tel:(+352)%252044901-261> . Fax (+352) 44901-333<

[2015-07-15 12:35] rmichaelis opened #734 "Identical values in UI Metadatas field"
I don't know witch one I have to choose...
![image](https://cloud.githubusercontent.com/assets/5594996/8698439/8ea9ab2a-2afe-11e5-9a10-ebd6621972ad.png)

[2015-07-15 12:42] rmichaelis opened #735 "2 list boxes instead one to choose the values"
First listbox for the available elements, the second one for the already selected elements.
With only one listbox it's very hard to know witch element in the listbox is already selected.

It would be very useful with field such as  "ui metadats" or "Tree links order"

[2015-07-15 12:44] rmichaelis commented on #733
3 hours ago

[2015-07-15 13:07] rmichaelis opened #736 "how to create a new "UI metadatas" ?"
Field Name is empty
![image](https://cloud.githubusercontent.com/assets/5594996/8699056/f3471244-2b02-11e5-84f1-17344cc66fa8.png)

[2015-07-15 13:10] rmichaelis opened #738 "More filters in "tree links order""
It would be nice to to be able to filter on each field.

![image](https://cloud.githubusercontent.com/assets/5594996/8699126/6c7d2838-2b03-11e5-9b98-799204e3992f.png)

[2015-07-15 13:15] sbrunner commented on #736
De mémoire il faut ajouter dans le fichier `vars_geoportalv3.yaml`:
[code]

[2015-07-16 10:18] #689 closed

[2015-07-16 12:56] petzlux opened #741 "Metadata view"
![screenshot_2015-07-16-14-53-50](https://cloud.githubusercontent.com/assets/2540428/8723024/c39f5092-2bca-11e5-821d-f6818b6bb335.png)

[2015-07-16 14:02] jaykayone opened #742 "a3 paysage"
in a3 paysage, there is a blank second page.
probably a problem in the template?

[2015-07-17 05:36] jaykayone opened #743 "legends in luxembourgish"
legends in luxembourgish currently do not work as their lang code in the wiki is lu and in the geoportal it is lb ...

[2015-07-17 05:58] jaykayone opened #744 "ortho is not printed"
http://g-o.lu/v3/hpWI

[2015-07-17 06:02] jaykayone commented on #744
print does not take into account the opacity settings of the topo 1:5k map

[2015-07-17 06:08] jaykayone commented on #744
it seems to be a general problem with WMTS layers. Their opacity setting is not being sent to the print server

[2015-07-17 06:08] jaykayone commented on #744
@rmichaelis is this something that we can fix or is it in ngeo?

[2015-07-17 09:04] rmichaelis commented on #744
here in ngeo : https://github.com/camptocamp/ngeo/blob/master/src/services/print.js#L341

[2015-07-17 09:35] jaykayone commented on #744
@pgiraud could you make a PR for this please?

[2015-07-17 11:50] #721 closed

[2015-07-17 13:09] petzlux opened #746 "Opacity ruler ugly - Firefox Android"
![screenshot_2015-07-17-15-08-17](https://cloud.githubusercontent.com/assets/2540428/8747723/c53ea738-2c95-11e5-8377-2c0e30795da9.png)

[2015-07-17 13:12] petzlux opened #747 "Horizontal scroll - Firefox Android"
the user shouldnt be able to scroll horizontally when the sidebar window is open

[2015-07-17 13:12] petzlux commented on #747
![screenshot_2015-07-17-15-12-03](https://cloud.githubusercontent.com/assets/2540428/8747794/42970676-2c96-11e5-9954-324bfe3e1956.png)

[2015-07-17 13:46] #742 closed

[2015-07-20 12:48] rmichaelis opened #752 "not possible to logout"
No button to log out.

[2015-07-20 12:53] rmichaelis opened #753 "User rights"
Some tables are available through the admin interface when a non admin user is connected.

![image](https://cloud.githubusercontent.com/assets/5594996/8776080/b3c9c07c-2eee-11e5-84e1-2c2804a1ff30.png)

[2015-07-22 06:37] #693 closed

[2015-07-22 07:32] sbrunner commented on #753
Those lines are needed in your classes:
https://github.com/camptocamp/c2cgeoportal/blob/master/c2cgeoportal/models.py#L131-L133

[2015-07-22 10:04] jaykayone opened #757 "in a protectrd theme (go or prof) there are no scales in print"
although they are specified in ui metadata

[2015-07-22 14:39] #728 closed

[2015-07-22 14:41] petzlux commented on #717
This is a bit more involved, because the social website crawlers that take all that information from websites that users want to share do not evaluate Javascript!! Basically meaning, that for example our translations do not get picked up.

[2015-07-22 14:41] petzlux commented on #717
See also this article: http://www.michaelbromley.co.uk/blog/171/enable-rich-social-sharing-in-your-angularjs-app

[2015-07-22 14:43] #658 closed

[2015-07-22 14:45] petzlux commented on #430
see #751

[2015-07-23 05:36] jaykayone commented on #757
@petzlux can you check this please?

[2015-07-23 05:39] #596 closed

[2015-07-23 05:42] jaykayone commented on #604
this can be closed as we now have to bin on first row and a nervous cliceria allows the removal of dozens of layers per second

[2015-07-23 05:42] #604 closed

[2015-07-23 05:42] jaykayone commented on #35
won't be implemented

[2015-07-23 05:43] #35 closed

[2015-07-23 05:43] #443 closed

[2015-07-23 05:44] jaykayone commented on #522
not a real problem. users don't change language more than once

[2015-07-23 05:44] #522 closed

[2015-07-23 05:56] jaykayone commented on #675
problem still there @sbrunner

[2015-07-23 05:57] jaykayone opened #759 "print: Zoom to extent"
when changing the scale in print, the system should zoom out when the extent is bigger than the current map extent so that you can see the extent on screen. this has to be done in ngeo

[2015-07-23 06:00] jaykayone opened #760 "don't request images for layers with opacity 0"
to make this kind of map load faster: http://g-o.lu/v3/kbzs

[2015-07-23 06:02] jaykayone commented on #719
BTW: it does not work at all anymore

[2015-07-23 06:55] petzlux commented on #719
@rmichaelis AFAIK there is no API which would tell us if the mailto link successfully opened a new email.

[2015-07-24 12:36] pgiraud opened #767 "Change travis config"
The goal is to improve the duration of tests on travis by:
 - migrating from legacy to container-based infrastructure,
 - use cache (pip and node_modules).

https://github.com/GFDRR/thinkhazard/commit/414452e2227ebc2ef00ab9691b530f082ff02578
https://github.com/GFDRR/thinkhazard/commit/32b816c9d63eed1dc7e069ff76c67f721f46a20f
https://github.com/GFDRR/thinkhazard/commit/6f8adba53c16e672d0d6f87f1c7a3

[2015-07-28 10:17] jaykayone opened #768 "tooltips - attribute ordering"
The attributes in the automatic tooltips should be ordered the same way than they are in the webservice and ideally, the order can be defined. if we switched from a fields to remove to a fields to add - tactics, we could use that information for the ordering ... but we lose the ability to dynamically add fields ... to be discussed

[2015-08-03 10:30] elemoine opened #769 "Map performance issue on FF"
I am observing major map pan performance issues in FF.

For example with http://devv3.geoportail.lu/main/wsgi/theme/main?version=3&zoom=16&X=680704&Y=6376939&lang=lb&layers=373-154-146-151&opacities=1-1-1-1&bgLayer=basemap_2015_global&debug

I just run Profiles test and it seems that `forEachLayerAtPixel` takes a lot of CPU time. So we could probably make map panning a lot faster by checking that

[2015-08-03 12:47] jaykayone commented on #769
can't reproduce with FF on mac

[2015-08-03 13:54] elemoine commented on #769
Yep, forgot to say that this is Linux here.

[2015-08-05 11:49] #726 closed

[2015-08-05 12:41] #718 closed

[2015-08-06 08:27] #687 closed

[2015-08-06 09:02] #743 closed

[2015-08-06 13:35] jaykayone commented on #744
@pgiraud @elemoine any news on this?

[2015-08-07 09:56] elemoine commented on #744
I just created https://github.com/camptocamp/ngeo/pull/285.

[2015-08-10 06:47] jaykayone commented on #744
OK, looks good, waiting for it to be merged

[2015-08-10 06:47] #744 closed

[2015-08-10 07:36] elemoine commented on #744
It's now merged.

[2015-08-10 07:54] rmichaelis commented on #741
What would be the best solution ?

[2015-08-10 13:58] #757 closed

[2015-08-11 05:52] jaykayone opened #777 "MYMAPS: WEB SERVICES"

[2015-08-11 05:52] jaykayone opened #778 "MYMAPS: Layout et design généraux"

[2015-08-11 05:53] jaykayone opened #779 "MYMAPS: Création et édition"
Les fonctionnalités d'édition des cartes personnelles sont les suivantes :
* Création d’une nouvelle carte en remplissant les champs nom et (optionnellement)
description et d’une catégorie.
* Choix et gestion de la visibilité de la carte: publique (visible à tout le monde) ou privée
(uniquement visible à ceux à qui la carte est partagée).
* Édition: modification des champs titre, description, caté

[2015-08-11 05:53] jaykayone opened #780 "MYMAPS: Dessin et marker"
L’utilisateur peut dessiner sur la carte (application desktop uniquement).
* dessin de points, (attributs couleur, épaisseur du trait, symbol, taille et angle pour le
style du point)
* dessin de lignes (attributs: couleur, épaisseur du trait, afficher le sens du tracé, style de
ligne)
* dessin de polygones (attributs: couleur, épaisseur du trait)
* dessin de cercles (attributs: couleur, épaisseur

[2015-08-11 05:53] jaykayone opened #781 "MYMAPS: Sauvegarde dessin dans permalien"

[2015-08-11 05:53] jaykayone opened #782 "MYMAPS: Consultation"
En mode consultation, la carte personalisée est affichée avec une liste des géométries ajoutées sur la carte (dessin ou import kml/gpx).
* lien entre la carte et la liste: un clic sur un élément de la liste le highlight sur la carte;
de même, un clic sur un élément de la carte le met en évidence dans la liste
* un clic sur un élément dessiné / importé ouvre sa fenêtre d’informations associées
(voi

[2015-08-11 05:54] jaykayone opened #783 "MYMAPS: Fenêtre d'information des géométries"
Lors d’un clique sur un géométrie, sur la carte ou dans la liste, une fenêtre d’information
apparaît. Dans cette fenêtre sont affichés les attributs décrits dans la section dessin et
marker. En plus de ces attributs, on trouve les information suivantes:
* pour les lignes, le profil d’altitude le long de la ligne
* pour les cercles et les polygones, la surface en m2
* pour toutes les géométries, un

[2015-08-11 05:54] jaykayone opened #784 "MYMAPS: Import et Export"
Il est possible d’importer dans le document des géométries en provenance de fichier
KML ou GPX (par exemple généré par un GPS). Il est aussi possible d’exporter toutes les
géométries, importées ou dessinées, dans un fichier GPX ou KML.
* Import de fichier GPX
*  Import de fichier KML

[2015-08-11 05:55] jaykayone commented on #777
Portage de tous les Web services à Pyramid.

[2015-08-11 05:55] jaykayone commented on #777
Charge prévue: 6 jours

[2015-08-11 05:56] jaykayone commented on #778
• Réflexion/discussion design
• Réalisation de mockups

Charge: 4 jours

[2015-08-11 05:56] jaykayone commented on #779
• UI création carte
• UI modification carte
• UI liste carte
Cette partie n'inclut pas le dessin sur la carte.
Charge : 5 jours

[2015-08-11 05:56] jaykayone commented on #780
• Adaptation OpenLayers 3 pour pouvoir afficher les mesures au fur et à mesure du
dessin (L'interaction Draw n'a pas la fonctionnalité "continuer le dessin" )
• Mise en place des outils dans l'application (avec choix des styles)
• Tous les aspects "icônes" (prédéfinis et uploadés par l'utilisateur)
• Outils pour dessiner des cercles (il n'y a rien dans OpenLayers 3 actuellement)
• Faire les adapta

[2015-08-11 05:57] jaykayone commented on #781
- "Encoding" des géométries dessinées sur la carte dans le permalien.
- Affichage sur la carte des géométries encodées dans le permalien.
Charge: 3 jours

[2015-08-11 05:57] jaykayone commented on #782
CONSULTATION
• Lien entre les objets de la carte et les objets de la liste
• Affichage de la popup d'information sur les objets
• Permalien d'accès direct à la carte
• Créer une carte en en copiant une autre
• Laisser un commentaire sur une carte (captcha)
• Attribution d'une note (étoiles) à une carte
• Export au format KML et GPX
Charge : 12 jours

[2015-08-11 05:57] jaykayone commented on #783
FENÊTRE D'INFORMATION DES GÉOMÉTRIES
• Affichage des informations générales (nom, description, miniature)
• Affichage des mesures
• Affichage du profil
• Recentrage (lien "Zoomer sur")
• Bouton Exporter + menu GPX KML
Charge : 4 jours

[2015-08-11 05:58] jaykayone commented on #784
IMPORT ET EXPORT
• Fonctions d'export GPX et KML
• Fonctions d'import GPX et KML
Charge : 5 jours
©

[2015-08-11 06:24] adonno opened #785 "Lien entre les objets de la carte et les objets de la liste"

[2015-08-11 06:53] adonno commented on #785
Link to #780

[2015-08-11 07:22] adonno opened #786 "Affichage de la popup d'information sur les objets"
Link to #782

[2015-08-11 07:23] adonno opened #787 "Permalien d'accès direct à la carte"
Link to #782

[2015-08-11 07:24] adonno opened #788 "Créer une carte en en copiant une autre"
Link to #782

[2015-08-11 07:24] adonno opened #789 "Laisser un commentaire sur une carte (captcha)"
Link to #782

[2015-08-11 07:26] adonno opened #790 "Attribution d'une note (étoiles) à une carte"
Link to #782

[2015-08-11 07:26] adonno opened #791 "Export au format KML et GPX"
Link to #782

[2015-08-11 07:27] jaykayone opened #792 "MYMAPS: Description générale"
Les fonctionnalités regroupées sous l'appellation « Mes cartes » (projet « MyMaps ») sont
accessibles aux utilisateurs authentifiés uniquement. Un enregistrement gratuit est
possible sur le site.
Le module « My Maps » permet à un utilisateur de créer une carte qu'il pourra enregistrer
pour consultation et partager avec d'autres utilisateurs. Cette carte est composée des
couches géographiques à dis

[2015-08-11 07:27] adonno opened #793 ""Encoding" des géométries dessinées sur la carte dans le permalien."
Link to #781

[2015-08-11 07:27] adonno opened #794 "Affichage sur la carte des géométries encodées dans le permalien."
Link to #781

[2015-08-11 07:28] adonno opened #795 "UI création carte"
Link to #779

[2015-08-11 07:28] adonno opened #796 "UI modification carte"
Link to #779

[2015-08-11 07:28] adonno opened #797 "UI liste carte"
Link to #779

[2015-08-11 07:30] adonno opened #798 "dessin de lignes (attributs: couleur, épaisseur du trait, afficher le sens du tracé, style de ligne)"
Link to #780

[2015-08-11 07:30] adonno opened #799 "dessin de polygones (attributs: couleur, épaisseur du trait)"
Link to #780

[2015-08-11 07:30] adonno opened #800 "dessin de cercles (attributs: couleur, épaisseur du trait)"
Link to #780

[2015-08-11 07:31] jaykayone commented on #784
Link to #792

[2015-08-11 07:31] adonno opened #801 "ajout d’étiquettes (attributs: couleur, épaisseur du trait, symbol, taille, angle)"
Link to #780

[2015-08-11 07:31] jaykayone commented on #783
Link to #792

[2015-08-11 07:31] adonno opened #802 "édition d’objets (points, polylines, polygones, cercles) existants"
Link to #780

[2015-08-11 07:31] adonno opened #803 "suppression d’objets existants"
Link to #780

[2015-08-11 07:31] jaykayone commented on #782
Link to #792

[2015-08-11 07:31] adonno opened #804 "chaque objet dessiné a une popup qui lui est associé; cette popup a trois champ: titre, description et image (sauf pour les labels qui ne contiennent que le nom); elle sera affichée lors d’un clic sur la géométrie"
Link to #780

[2015-08-11 07:31] jaykayone commented on #782
Link to #792

[2015-08-11 07:31] adonno opened #805 "Adaptation OpenLayers 3 pour pouvoir afficher les mesures au fur et à mesure du dessin (L'interaction Draw n'a pas la fonctionnalité "continuer le dessin" )"
Link to #780

[2015-08-11 07:31] jaykayone commented on #781
Link to #792

[2015-08-11 07:31] adonno opened #806 "Mise en place des outils dans l'application (avec choix des styles)"
Link to #780

[2015-08-11 07:31] jaykayone commented on #779
Link to #792

[2015-08-11 07:31] adonno opened #807 "Tous les aspects "icônes" (prédéfinis et uploadés par l'utilisateur)"
Link to #780

[2015-08-11 07:31] jaykayone commented on #778
Link to #792

[2015-08-11 07:31] adonno opened #808 "Outils pour dessiner des cercles (il n'y a rien dans OpenLayers 3 actuellement)"
Link to #780

[2015-08-11 07:31] jaykayone commented on #777
Link to #792

[2015-08-11 07:32] jaykayone commented on #780
Link to #792

[2015-08-11 07:32] adonno opened #809 "Faire les adaptations nécessaires côté serveur"
Link to #780

[2015-08-11 07:32] adonno opened #810 "Gestion des étiquettes"
Link to #780

[2015-08-11 07:32] adonno opened #811 "Modification des géométries (L'interaction modify ne permet pas de déplacer des lignes et polygones)"
Link to #780

[2015-08-11 07:32] adonno opened #812 "Suppression de géométries (Définir la UI pour la suppression : menu contextuel ?)"
Link to #780

[2015-08-11 07:32] adonno opened #813 "Popup et édition des attributs - ajout d'image"
Link to #780

[2015-08-11 07:50] #798 closed

[2015-08-11 07:50] #799 closed

[2015-08-11 07:51] #800 closed

[2015-08-11 07:51] #801 closed

[2015-08-11 07:51] #804 closed

[2015-08-11 07:51] #803 closed

[2015-08-11 07:51] #802 closed

[2015-08-11 08:39] pgiraud commented on #767
We'll only do the migration to container-based infrastructure (sudo).

[2015-08-11 09:07] jaykayone commented on #741
@petzlux proposed to change the translation so that it uses two words. He will do so

[2015-08-11 09:08] jaykayone opened #814 "Integration of c2cgeoportal once a month"

[2015-08-11 09:09] jaykayone commented on #430
we need a minimal version for the launch, even if it does not use angular

[2015-08-11 09:10] #212 closed

[2015-08-11 09:15] jaykayone commented on #759
@elemoine: Could you comment on this one please? Is this planned in ngeo?

[2015-08-11 09:28] petzlux commented on #430
see #815 for minimal integration for now

[2015-08-11 11:26] #769 closed

[2015-08-11 12:55] #719 closed

[2015-08-11 13:02] #741 closed

[2015-08-11 13:02] #688 closed

[2015-08-11 14:19] #720 closed

[2015-08-12 07:33] petzlux opened #821 "Add public transport stops in search data"

[2015-08-12 12:05] jaykayone commented on #615
+ bouton pour générer un rapport pour l'ensemble des ids sélectionnés (cf PAG)

voir http://dev.geoportail.lu/pag

et http://dev.geoportail.lu/pagreport/23906.pdf
http://dev.geoportail.lu/pagreport/24004.pdf

vs

http://dev.geoportail.lu/pagreport/23906,24004.pdf

[2015-08-12 12:09] jaykayone commented on #797
changement par rapport à la version existante: faire une arborescence par catégorie

[2015-08-14 09:36] elemoine opened #826 "Theme switcher collapse/expand doesn't work correctly in debug mode"
Strangely enough, the collapsing/expanding of the theme switcher does not correctly work in debug mode (with `&debug` in the URL).

This is easily reproducible on http://devv3.geoportail.lu/main/wsgi/?debug. Just open the theme switcher and this is what you'll get:

![themeswitcher-problem](https://cloud.githubusercontent.com/assets/76594/9271218/a87dbf14-4278-11e5-8813-76bb7fc3a4a8.png)

[2015-08-14 09:43] elemoine commented on #826
Quick note: in non-debug mode, at the initial state, the `<div id="themes-content">` element has `aria-expanded="false"`. It's not the case in debug mode.

[2015-08-14 09:50] elemoine commented on #826
Ok, the problem is related to the asynchronous loading of partials in debug mode. Indeed, if you force the asynchronous loading of partials you can observe the same problem in non-debug mode.

[code]

[2015-08-18 06:59] pgiraud opened #829 "Typo traduction user name en français"
![screenshot from 2015-08-18 08 57 34](https://cloud.githubusercontent.com/assets/319774/9324101/5c8668a6-4587-11e5-88c1-3924f1054148.png)

[2015-08-18 09:03] pgiraud commented on #829
OK I made a typo in an issue title. Éric was about to create an issue for this. This would have been fun.

[2015-08-18 10:16] elemoine commented on #811
A `Translate` interaction was developed for OpenLayers. I just created a PR with this work: https://github.com/openlayers/ol3/pull/4008. I'll merge it.

While testing this new interaction I noticed that it doesn't play well with the Modify interaction. This is related to https://github.com/openlayers/ol3/issues/3927 – the Modify interaction has a segments cache that should be modified when the geo

[2015-08-18 14:45] elemoine commented on #811
New PR created for that issue: https://github.com/openlayers/ol3/pull/4011.

[2015-08-19 09:10] rmichaelis opened #830 "Priority of the results from the search"
First results from the search could be the pois located inside the current bounding box view.
At least for poi and probably not for addresses, layers, ..

[2015-08-25 08:07] pgiraud commented on #767
Fixed via #827.

[2015-08-25 08:07] #767 closed

[2015-08-25 13:58] elemoine commented on #811
openlayers/ol3#4011 is closed.

[2015-08-25 13:58] #811 closed

[2015-08-25 14:03] elemoine commented on #808
OpenLayers 3 permet maintenant de dessiner des cercles. Voir http://openlayers.org/en/master/examples/draw-features.html. On peut soit dessiner de véritables cercles (`ol.geom.Circle`), soit dessiner des polygones en forme de cercle. Sachant que les véritables cercles ne sont pas sérialisables en GeoJSON, ce qui peut nous poser des problèmes.

[2015-08-25 14:03] #808 closed

[2015-08-25 14:05] petzlux commented on #808
:+1:

[2015-08-25 15:13] elemoine commented on #793
Nous avons dans CGXP un format OpenLayers permettant d'encoder des features avec leurs attributs et leurs styles: https://github.com/sbrunner/OpenLayers-URLCompressed. Nous proposons de porter ce format dans ngeo.

Pour information, voici un exemple de permalien contant 5 géométries (voir le param `rl_features`) :

http://geomapfish-demo.camptocamp.net/1.6/wsgi/theme/Administration?map_x=537582.56

[2015-08-26 10:07] elemoine opened #831 "Replace app.VectorOverlay by ngeo.FeatureOverlay"
ngeo now includes `ngeo.FeatureOverlay`, which is the same as geoportailv3's `app.VectorOverlay`. So geoportailv3 should use `ngeo.FeatureOverlay`.

[2015-08-26 15:03] elemoine commented on #793
Pour information, j'ai commencé à travailler sur ce nouveau format dans ngeo. Ça se passe dans ma branche pla-format: https://github.com/elemoine/ngeo/tree/pla-format.

[2015-08-27 12:43] rmichaelis opened #834 "travis fails"
Has something changed ?

ERR! compile /home/travis/build/Geoportail-Luxembourg/geoportailv3/geoportailv3/static/js/search/searchdirective.js:528: ERROR - actual parameter 2 of ngeoCreateGeoJSONBloodhound does not match formal parameter
ERR! compile found   : (null|ol.proj.Projection)
ERR! compile required: (function ((GeoJSONFeature|null)): boolean|undefined)
ERR! compile   var bloodhound = ngeoCr

[2015-08-27 12:44] petzlux commented on #834
I think @elemoine changed search in ngeo  , maybe try with update-node-modules ?

[2015-08-27 12:45] petzlux commented on #834
https://github.com/Geoportail-Luxembourg/geoportailv3/pull/817 ?

[2015-08-27 12:45] rmichaelis commented on #834
Are node modules not automatically updated in Travis ?

[2015-08-27 12:47] petzlux commented on #834
dont know about travis, did it work in your build?

[2015-08-27 12:49] rmichaelis commented on #834
I don't know...  I don't want to break my build :-)

[2015-08-27 12:50] petzlux commented on #834
im trying with your branch as we speak ...

[2015-08-27 12:57] petzlux commented on #834
Unfortunately, yes get the same problem :-(

[code]

[2015-08-27 13:00] petzlux commented on #834
I think I found the issue , ngeo bloodhound function changed
https://github.com/camptocamp/ngeo/blob/master/src/services/creategeojsonbloodhound.js#L10

Will create pull request to change!

[2015-08-27 13:07] petzlux commented on #834
@rmichaelis use #835 to fix problem.

[2015-08-27 13:19] petzlux commented on #834
okay @rmichaelis , if you rebase from master , then problem should be gone at next build

[2015-08-27 13:46] rmichaelis commented on #834
It works. Thanks.

[2015-08-27 13:46] #834 closed

[2015-09-01 06:38] rmichaelis opened #837 "Catalog is not updated"
When switching from one theme to another, the catalog is not updated.

[2015-09-01 08:18] jaykayone commented on #826
faire le chargement en mode sychrone

[2015-09-01 12:31] elemoine opened #838 "Deprecating Powerful Features on Insecure Origins"
Chromium, onto which Chrome is based, is deprecating "powerful features", such as Geolocation, on pages with non-secure origins (HTTP vs HTTPS).

See  https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins.

Wondering if this is a problem for the project.

[2015-09-01 14:53] elemoine commented on #838
So more effort on this may be a good idea.

[2015-09-01 15:24] jaykayone opened #839 "Search: does not work anymore"
(Firefox on Mac): You cannot choose a result from the search anymore by hitting enter or clicking the result

Might be a build problem ... we'll see

[2015-09-01 15:24] jaykayone opened #840 "build does not work anymore ..."
just did a cleanall and build and it does not work anymore ..
I'll try to get an old version online again

2015-09-01 17:21:37 (2.33 MB/s) - ‘.build/externs/jquery-1.9.js’ saved [51584/51584]

touch .build/externs/jquery-1.9.js
./node_modules/openlayers/node_modules/.bin/closure-util build build.json .build/build.js
info closure-util Reading build config
info closure-util Getting Closure dependenc

[2015-09-01 15:38] elemoine commented on #840
Saw that. See https://github.com/camptocamp/ngeo/issues/306. I am on it.

[2015-09-01 15:42] jaykayone commented on #840
ok, thanks

[2015-09-01 18:52] jaykayone commented on #839
@elemoine might this be a regression coming from ngeo?
As @petzlux has not changed anything this week, I wonder where this regression might come from

[2015-09-02 07:43] #840 closed

[2015-09-02 07:47] geoportallux commented on #790
postponed

[2015-09-02 07:48] geoportallux commented on #789
postponed

[2015-09-02 07:49] #760 closed

[2015-09-02 07:49] geoportallux commented on #760
does not make sense, according to @rmichaelis

[2015-09-02 09:44] jaykayone opened #845 "permalink vs mymaps id"
if a user draws something outside a mymaps map, the features are stored in the permalink

if a user draws something in a map he has write rights on, the features are stored in the map and the map_id goes into the permalink

if a user draws something in a map he has no write rights on, the features are stored in the permalink and the map_id goes into the permalink too

[2015-09-02 12:19] elemoine commented on #839
This is probably a regression introduced by https://github.com/Geoportail-Luxembourg/geoportailv3/pull/817.

[2015-09-02 12:39] jaykayone commented on #839
I get an Error: Pattern length is too long in debug mode (console).

[2015-09-02 12:54] elemoine commented on #839
I don't know what this means…

[2015-09-02 13:23] elemoine commented on #839
Ok, we're fixing a regression introduced in typeahead 0.11.1. The regression is tracked by https://github.com/twitter/typeahead.js/issues/1313. And there is an (unmerged) PR here: https://github.com/twitter/typeahead.js/pull/1207.

One workaround would involve storing the dataset in the suggestion object, but this would require some work, as we handle different suggestion types.

Another option is

[2015-09-02 13:31] pgiraud commented on #778
Latest PDF of the mockups available with this link: https://drive.google.com/a/camptocamp.com/file/d/0B3tnRYRfuoYienU0N3hrNC02Rmc/view?usp=sharing

[2015-09-02 13:40] elemoine commented on #839
I finally decided to make the revert PR. See #849. And it actually took me less than 1h.

[2015-09-02 13:43] pgiraud commented on #789
Can we also remove this from milestone 2?

[2015-09-02 15:38] elemoine commented on #805
I just merged an OpenLayers PR for that. See https://github.com/openlayers/ol3/pull/4044.

[2015-09-02 15:38] #805 closed

[2015-09-03 08:47] geoportallux commented on #795
Nous proposons de commencer les travaux par ce point

[2015-09-03 08:53] jaykayone commented on #795
celà correspond aux mockups page 16, 23, 13,14

[2015-09-03 08:54] jaykayone commented on #795
attention, temps prévu dans l'offre: 2j
Concentre - toi donc sur le CSS et le workflow, l'interaction avec le serveur, ce sera fait par nous

[2015-09-03 08:55] jaykayone commented on #796
ce sera juste une variation de #795, donc en attente de celui-ci

[2015-09-03 08:55] jaykayone commented on #797
voir mockups, on voudrait en plus avoir une table triable et filtrable

[2015-09-03 08:56] jaykayone commented on #797
slide 18

[2015-09-03 08:57] jaykayone commented on #794
cf #845

[2015-09-03 08:58] jaykayone commented on #794
depends on #793

[2015-09-03 08:59] jaykayone commented on #787
cf #845

[2015-09-03 09:02] jaykayone commented on #787
cf slide 21 -> Partager la carte

On partage l'id de la carte (sans tout le reste du permalien total (par exemple pas l'extent actuel)

[2015-09-03 09:08] jaykayone commented on #785
entre #785 et #786, il y a 5 jours de prévus.
A voir en détail au moment de l'implémentation

[2015-09-03 09:15] jaykayone commented on #785
à faire en 2e lieu

[2015-09-03 09:17] jaykayone commented on #806
à faire ensemble avec #785

[2015-09-03 09:20] jaykayone commented on #806
je propose que tu te coordonnes avec @rmichaelis et le #807

[2015-09-03 09:25] jaykayone opened #850 "alerte "please login""

[2015-09-03 09:26] jaykayone opened #851 "create a new map from anonymous drawing"
mockup slide 11 et 12

[2015-09-03 09:29] jaykayone opened #852 "menu d'actions sur une carte mymaps"
slide 21

[2015-09-03 09:30] jaykayone commented on #813
slide 7,8, 20

[2015-09-03 09:30] jaykayone commented on #813
slide 22

[2015-09-03 09:32] jaykayone opened #853 "interaction changement de contexte mymaps"
slide 24-27

[2015-09-03 13:33] pgiraud commented on #795
À mon avis, il n'y a pas vraiment de UI pour la création de carte mis à part un bouton "Create new map".

Les mockups en pages 13 et 14 sont réalité liés à la modification du titre et de la description d'une carte. Cette fenêtre doit apparaître automatiquement lors de la création d'une nouvelle carte. Mais, à ce moment, la carte a déjà été créée sur le serveur et a été chargée.

Je pense donc que

[2015-09-03 13:36] jaykayone commented on #795
je vois ce que tu veux dire. comme c'est le premier popup, je préfère quand même que tu l'implémentes toi même si le #796 ne t'est pas assigné

[2015-09-03 14:19] #837 closed

[2015-09-03 14:29] #826 closed

[2015-09-03 14:29] #839 closed

[2015-09-03 14:41] #831 closed

[2015-09-04 12:17] pgiraud opened #858 "Ignore the generated *-client.po files"
#854 didn't do the job actually. I still get modifications to commit on .po files.
We'll probably have to remove them.
@petzlux can you please address this issue?

[2015-09-07 08:13] pgiraud opened #860 "Infos - HTML tags mess up with translation in french"
![screenshot from 2015-09-07 10 12 51](https://cloud.githubusercontent.com/assets/319774/9712159/075b86aa-5549-11e5-95cc-d44ab00c033c.png)

Here's the HTML code generated:

[code]

[2015-09-07 13:36] pgiraud commented on #795
See #859.

[2015-09-10 07:22] elemoine commented on #793
La PR ngeo https://github.com/camptocamp/ngeo/pull/304 est mergée. L'essentiel est là mais il restera très probablement des petites choses à faire. Par exemple il me semble qu'on aura besoin de pouvoir filtrer les propriétés encodées dans le permalien. Je pressens en effet qu'on aura des espèces de propriétés privées qui ne devront pas être encodées dans le permalien. On aura aussi des manques au

[2015-09-10 07:22] #793 closed

[2015-09-10 09:00] #795 closed

[2015-09-11 13:56] elemoine opened #865 "Generalize the use of `@export` for controller instance properties"
Recent versions of Closure Compiler have the `--export_local_property_definitions` flag that can be used to "export" instance properties using the `@export` annotation. We [use](https://github.com/camptocamp/ngeo/pull/216) that annotation in ngeo, and we've started to use it in the project as well, for example in the [app-mymaps directive](https://github.com/Geoportail-Luxembourg/geoportailv3/blob

[2015-09-15 07:34] petzlux commented on #838
see #512

[2015-09-15 07:39] petzlux commented on #694
can this be moved to milestone 2 ?

[2015-09-15 07:44] rmichaelis commented on #694
Yes It can.
The main work has already been done for milestone 1.
For milestone 2, we have to point out the missing information, and add it in tooltips.

[2015-09-16 13:08] pgiraud commented on #813
See #866.

[2015-09-17 09:35] rmichaelis opened #867 "Geoportail does not load and work properly in IE9"
2 js errors :

1) ```SCRIPT438: Object doesn't support property or method 'trunc'
coordinatestringservice.js, line 94 character 5```

2) ```SCRIPT5022: DOM Exception: SECURITY_ERR (18) ```
due to forEachLayerAtPixel in querydirective

[2015-09-22 07:45] #615 closed

[2015-09-22 07:57] elemoine commented on #784
OpenLayers 3 already supports GPX and KML, both for read and write. So I am closing this issue.

[2015-09-22 07:57] #784 closed

[2015-09-22 14:10] jaykayone commented on #724
For a better manageability through sql, I propose the folliowing changes to the database:

'''ALTER TABLE geov3.layergroup_treeitem DROP CONSTRAINT layergroup_layergroup_layergroup_id_fkey;
ALTER TABLE geov3.layergroup_treeitem ADD CONSTRAINT layergroup_layergroup_layergroup_id_fkey FOREIGN KEY(layergroup_id) REFERENCES geov3.layergroup(id) ON DELETE CASCADE ON UPDATE CASCADE;

ALTER TABLE geov3.l

[2015-09-23 14:00] rmichaelis opened #872 "How to exclude partials ?"
The partials located in the query directive are cached, but this cache is never used.
The partials are included here https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/query/info.html#L3

Then I would like to exlude these partials of the cache process.

To do that I would like to add something like this:
```APP_CHECHED_PARTIALS_FILES := $(shell find $(PACKAGE)

[2015-09-23 14:45] elemoine commented on #872
Why are these partials not read from the cache? What makes them different from other partials?

[2015-09-24 05:40] rmichaelis commented on #872
Actually, the partial name is defined in the database and is dynamically sent to the query controller.
When I want to use the cache, that means each time I define a new partial in the database, I should add a new entry into index.html
As during a normal use of the geoportal, only a very minor part of partial is used, I thought it was easier to only add a new entry into the database and to create a

[2015-09-24 06:50] rmichaelis opened #876 "accented letters in template"
I try to use some accented letters but it seems that the mako renderer does not allow it.
Example here : https://github.com/Geoportail-Luxembourg/geoportailv3/blob/renaud_test/geoportailv3/static/js/mymaps/mymaps.html#L3

The partial file is in UTF-8

Here is the compilation error :
[code]

Do you have an idea ?

[2015-09-24 06:59] fredj commented on #876
Try to add `## -*- coding: utf-8 -*-` at the top of the file.
See http://docs.makotemplates.org/en/latest/unicode.html#specifying-the-encoding-of-a-template-file

[2015-09-24 07:03] rmichaelis commented on #876
I already tried, but unfortunately this has no effect.

[2015-09-24 07:50] rmichaelis commented on #876
Ok I think I've understood the problem.

This is due to this line :
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/CONST_Makefile#L513

this is generating something like that :
[code]

But the > test.js is not created as an UTF8 file and we try to push some utf8 content inside.

Now we have to find how to force the file to be created as utf8

[2015-09-24 09:25] rmichaelis commented on #876
It works now.
I had to add the following line :
[code]
here
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/CONST_Makefile#L513

Do you agree with this ???

[2015-09-24 12:12] elemoine commented on #876
Let me have a quick look.

[2015-09-24 12:20] elemoine commented on #876
Yes, that's the correct fix. This is what you want:

[code]

I'll backport this to c2cgeoportal.

[2015-09-24 12:21] rmichaelis commented on #876
Thank you

[2015-09-24 12:30] elemoine commented on #872
I understand.

Option 1:

What if you change

[code]

to

[code]

in `CONST_Makefile`, and define your own `APP_PARTIALS_FILES` in `geoportailv3.mk`?

Option 2:

What if you use `.html_` instead of `.html` as the suffix for the "special" partials?

[2015-09-24 12:38] rmichaelis commented on #872
I prefer do not touch the CONST_makefile.
Option 2 is a good idea.
Thanks.

[2015-09-24 12:38] elemoine commented on #872
So try it and tell if it works for you!

[2015-09-25 08:48] rmichaelis commented on #793
@elemoine Ca fonctionne super bien, par contre les url générées deviennent vite assez longues.
Je pense que dans la majorité des cas, nous n'aurons pas de problème.

J'aimerais avoir ton avis, est-ce qu'on ne pourrait pas gagner en longueur en encodant les propriétés de la feature  de la même manière que l'on encode les géométries ?

[2015-09-25 09:07] elemoine commented on #793
À ce stade je ne me suis pas posé la question, parce que notre objectif, pour GMF 2, était de maintenir la compatibilité avec les permaliens actuels (de GMF 1.x).

À noter qu'il est est possible de passer une option `properties` au format `ngeo.format.FeatureHash`. Cette option est une fonction qui reçoit une feature et retourne les propriétés à encoder pour cette feature. On l'utilise déjà dans l

[2015-09-29 06:50] jaykayone commented on #794
@rmichaelis optimiser l'encodage des attributs

[2015-09-29 08:12] jaykayone commented on #785
can this be closed?

[2015-09-29 08:13] jaykayone commented on #813
can this be closed? if not, what has to be done by us for it to be closed?

[2015-09-29 08:14] jaykayone commented on #806
can this be closed? if not, what has to be done by us for it to be closed?

[2015-09-29 08:14] jaykayone commented on #778
can this be closed? if not, what has to be done by us for it to be closed?

[2015-09-29 08:14] jaykayone commented on #786
can this be closed? if not, what has to be done by us for it to be closed?

[2015-09-29 08:15] #777 closed

[2015-09-29 08:29] jaykayone commented on #724
@sbrunner, est-ce que tu peux répondre à ma questions ici stp?

[2015-09-29 08:30] jaykayone commented on #814
@elemoine, peux-tu faire la mise à jour cette semaine stp?

[2015-09-29 08:39] sbrunner commented on #724
Good question, I should investigate it, it can be effectively useful :-)

[2015-09-29 09:19] pgiraud commented on #778
There still may be some design work to be done for the mobile/tablet version.
This can be closed anyway.

[2015-09-29 09:23] pgiraud commented on #785
Selection works. A bit of styling needs to be done for the list display.
Aslo work needs to be done to display icons.
Also work needs to be done to distinguish read-only from editable features. User should be able to draw features even when a map owned by someone else is displayed.

[2015-09-29 09:25] pgiraud commented on #786
The popup should look different (available actions) if the feature is read-only or editable.
Also, coordinates, length or area should be displayed.

[2015-09-29 09:27] pgiraud commented on #806
Work needs to be done to add interaction for drawing text and circle.
Interactions should be modified to handle measure display while drawing.
About styling, the symbols for point features still needs work.

[2015-09-29 09:28] pgiraud commented on #813
Work needs to be done to allow user to add a picture when editing a feature from a mymap.

[2015-09-29 12:20] #778 closed

[2015-10-01 12:16] elemoine commented on #876
Fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/880.

[2015-10-01 12:17] #876 closed

[2015-10-02 13:57] elemoine commented on #814
La mise à jour à c2cgeoportal 1.6.4 a été faite. Voir https://github.com/Geoportail-Luxembourg/geoportailv3/pull/880.

[2015-10-06 14:52] rmichaelis opened #881 "null value cannot be encoded"
I'm trying to encode some features received from mymaps, and some attributes have null value.
NULL value cannot be encoded due to the following :
https://github.com/camptocamp/ngeo/blob/master/src/ol-ext/format/featurehash.js#L901

Is this behavior wanted ?

To bypass this, I will set a default value other than null.

[2015-10-07 09:04] elemoine commented on #881
This is a bug (somewhere).

Do you think `null` values should be encoded?

[2015-10-07 09:38] rmichaelis commented on #881
In fact, the features having null values comming from mymaps should not be encoded in the url. only the mapid has to be in the url. I'm working on it.

Instead of encoding null values, I will just remove the properties having null values from the feature.

Thanks,

[2015-10-07 11:12] elemoine commented on #881
This can probably be done in the `properties` function [passed](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/draw/drawdirective.js#L139-L145) to the `FeatureHash` function.

[2015-10-07 11:13] elemoine commented on #881
We should think about the decoding as well.

[2015-10-07 12:55] rmichaelis commented on #881
I did it in that way.
Thanks.

[2015-10-07 13:10] rmichaelis opened #882 "mymaps use cases"
@pgiraud I think we didn't discussed about the following use cases :
1) A user has already drawn features on a map.
Then he opens an existing map. What's happen with the previously drawn features ?
- Are they deleted ?
- Are they automatically saved in the opened mymap ?  (I don't think so)
- Should we have 2 lists ? one for the mymaps elements and the other for the already drawn elements ? That m

[2015-10-08 12:16] rmichaelis opened #883 "Compilation error"
Do you know where does it come from ?
https://travis-ci.org/Geoportail-Luxembourg/geoportailv3/builds/84286297

[code]

[2015-10-09 07:21] pgiraud commented on #882
Hi,

I do see what you mean. I think it was discussed but it doesn't appear in the mockups. Or maybe it was only in my mind.
First of all, I'd start with an other use case. What if a user already drew features on the map and then creates a new map. IMO, the drawn features should be automatically added to the new map.
So, for case 1) I do think we can do the same ie. automatically add the features

[2015-10-09 07:49] rmichaelis commented on #882
Thanks @petzlux

@jaykayone Do you agree ?

[2015-10-09 08:10] jaykayone commented on #882
I see one problem that I would like to discuss further:

The user drew lines on a map, he than opens one of his own maps where he has editing rights.

I don't want those features to be automagically added to the map without asking him if we wants to.

We could ask him the following:

You have drawn features, do you want to:

x delete them before loading the map?
x add them to the map
x keep them a

[2015-10-09 08:39] rmichaelis opened #884 "Print query information results"
When feature information is available, then it would be helpful to allow to print it together with the map.

[2015-10-09 08:40] jaykayone commented on #884
I totally agree, but I have no idea about the how at the moment

[2015-10-09 09:38] rmichaelis commented on #883
it works now. It was a problem in OL3.

[2015-10-09 09:38] #883 closed

[2015-10-12 11:46] jaykayone commented on #872
@rmichaelis is this still open?

[2015-10-12 11:54] rmichaelis commented on #872
Yes still open. This is no more a question, but a task that could be assigned to me.

[2015-10-13 09:36] sbrunner commented on #724
I didn't see any changes with your new constrains here I purpose an other solution:
https://github.com/camptocamp/c2cgeoportal/pull/1700

CU
Stéph

[2015-10-14 14:03] rmichaelis opened #885 "Modal window small screens"
Hi @pgiraud ,

When you open the list of maps in mymaps.
A modal window appears.
This modal window is not clickable when the screen size is under 768 px and the modal seems to be under the banner.

Do you know why ?

This is ok :
![image](https://cloud.githubusercontent.com/assets/5594996/10485887/b4c85da8-728c-11e5-98c8-4ff34f09af33.png)

This is not ok :

![image](https://cloud.githubusercontent

[2015-10-16 08:24] rmichaelis commented on #872
Do not forget to adapt the tool to extract the translations. It should also extract keys ftom .html_

[2015-10-16 08:25] #850 closed

[2015-10-16 08:26] rmichaelis commented on #845
waiting for #882

[2015-10-16 08:29] rmichaelis commented on #781
Minify the properties in the url

[2015-10-16 08:31] #881 closed

[2015-10-16 09:26] jaykayone commented on #759
just re-pinging @elemoine for this one

[2015-10-16 09:27] jaykayone commented on #865
@elemoine is this something you wanna do retroactively?

[2015-10-16 09:29] jaykayone commented on #791
@elemoine could you help on this one? You are certainly the one who knows this best.

It concerns KML and GPX import and export

[2015-10-16 09:32] rmichaelis commented on #791
Maybe does @elemoine need some examples of our KML and GPX ?

[2015-10-16 09:45] elemoine commented on #865
We could. It would be good to make the code consistent. But this is not mandatory.

[2015-10-16 14:29] pgiraud commented on #882
Indeed we can consider asking the user. I would rather try to keep it as simple as possible.
It should still be possible to add such a feature later.

[2015-10-16 14:38] pgiraud commented on #885
This seems to be due to the fact that we change the `position` style for `#sidebar`.
Do you want me to try to find a way to fix this issue?

[2015-10-16 14:45] jaykayone commented on #882
I don't like asking the user either (yet)

which should be the standard case then?

[2015-10-16 14:46] jaykayone commented on #885
yes please

[2015-10-16 14:54] pgiraud commented on #882
Automatically add the drawings to the map (as soon as the map belongs to the current user).

This means that there should be 2 kind of features in the list :
 - features not belonging to user (in map from other user),
 - features belonging to user (drawn or from map).

[2015-10-16 15:32] jaykayone commented on #882
@rmichaelis do you want @pgiraud to help here after your pr gets merged?

[2015-10-16 15:35] rmichaelis commented on #882
Maybe for the layout.
I'll ask him if I need.

2015-10-16 17:32 GMT+02:00 Jeff Konnen <notifications@github.com>:

[2015-10-19 06:57] jaykayone opened #886 "Prettify Info Popup"
it should be in the top right corner of the window
Info window: "x" icon too low
move popup for editing vertices

[2015-10-19 06:57] jaykayone opened #887 "there are a lot of features that are not visible"
probably because of an empty size field (when coming from mobile APP).
We should have a default fallback size

[2015-10-19 06:59] jaykayone opened #888 "usability"
I fear that nobody will find how to edit the title and description of a map.

@pgiraud

http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=13&X=686645&Y=6397626&lang=lb&layers=305&opacities=1&bgLayer=basemap_2015_global&map_id=864a60f9ad7c48799f5a6a0d3117397f&crosshair=false

[2015-10-19 07:04] jaykayone commented on #888
@pgiraud could you generally do some polishing on the UI now that everything is functional?

- position of the popup (It positions over the geometries one wants to edit),
- design of the element list (bullet representation not intuitive -> striped table ?)
- ..

[2015-10-19 07:04] jaykayone opened #889 "drawn features - how to edit title and description?"
http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=15&X=682507&Y=6379895&lang=lb&layers=305&opacities=1&bgLayer=basemap_2015_global&map_id=864a60f9ad7c48799f5a6a0d3117397f&crosshair=false&features=Fl(u8na-qta6HnMzLnJhK~name*element%25201%27color*%2523ed1c24%27opacity*0.2%27stroke*1.25%27size*10%27angle*0%27is_label*false%27linestyle*plain%27symbol_id*circle)

(-> element 1)

[2015-10-19 07:08] jaykayone opened #890 "mymaps vs drawings"
Here is another use case where I am not sure our concept is good:

http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=15&X=682507&Y=6379895&lang=lb&layers=305&opacities=1&bgLayer=basemap_2015_global&map_id=864a60f9ad7c48799f5a6a0d3117397f&crosshair=false&features=Fl(u8na-qta6HnMzLnJhK~name*element%25201%27color*%2523ed1c24%27opacity*0.2%27stroke*1.25%27size*10%27angle*0%27is_label*false%2

[2015-10-19 07:09] jaykayone opened #891 "read-only mode"
when a user clicks on a line in read-only mode, the vertices are shown, this should not be the case

[2015-10-19 07:10] rmichaelis commented on #890
I agree.

[2015-10-19 07:12] jaykayone opened #892 "linestyles are not saved"
when modifying a linestyle it does not get saved

[2015-10-19 07:15] jaykayone opened #893 "tooltips vs mymaps"
When the mymaps panel is open, we should not show any tooltips from other layers.

When the mymaps panel is closed, we should show all the tooltips in the left "info" panel (even those from mymaps features, ie they should not be shown in the popup

[2015-10-19 07:21] jaykayone opened #894 "create new map does not work (anymore)"
http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=16&X=682404&Y=6377851&lang=lb&layers&opacities&bgLayer=basemap_2015_global&crosshair=false&features=Fl%289cna-hs86HwL7CdKuA~name*element%25201%27color*%2523ed1c24%27opacity*0.2%27stroke*1.25%27size*10%27angle*0%27is_label*false%27linestyle*plain%27symbol_id*circle%29

[2015-10-19 08:11] rmichaelis commented on #894
fixed

[2015-10-19 08:11] #894 closed

[2015-10-19 14:33] rmichaelis commented on #796
Dans la version actuelle, il manque la sélection et la gestion des catégories.

[2015-10-19 14:34] rmichaelis commented on #797
Il manque l’arborescence par catégorie

[2015-10-19 19:11] jaykayone commented on #724
Well my solution helps to manage the catalog using SQL queries instead of using the admin interface, yours fixes the admin interface

[2015-10-20 06:48] sbrunner commented on #724
Effectively, then no problem for be that you change the constrains :-)

[2015-10-20 12:23] elemoine commented on #791
Could you please elaborate on how I could help on KML/GPX import/export?

[2015-10-20 12:25] elemoine commented on #890
I think I agree too. The automagical transfer would confuse users.

[2015-10-20 12:43] jaykayone commented on #791
I think implementing a directive to import and export KML/GPX data into or from a map would be welcome ..

We could then try with a maximum of files that we have and have encountered problems with.

That way we could profit from your experience to patch openlayers if necessary

[2015-10-20 13:48] elemoine commented on #759
If we zoom out the map when the user changes the print scale (in the case when the print rectangle is bigger than the map extent) then two things will move at the same time: the map and print mask. I wonder if this may confuse the user.

And if we do that will we also want to automatically change the print scale when the user zooms in the map? Again, two things will move at the same time, which ma

[2015-10-20 13:50] rmichaelis opened #896 "waiting cursor"
Waiting cursor would be helfull during a big mymaps loading.

[2015-10-20 13:56] jaykayone commented on #759
@petzlux  ?

[2015-10-20 14:46] petzlux commented on #759
@elemoine , after talking with @jaykayone , can you please implement as discussed. We just want to give the user a visual hint of what will be printed, and this only works when the whole print extent is in view.
We should just change the zoom level, not the map center, so that the print extent doesnt move.

[2015-10-20 14:47] petzlux commented on #890
I agree, we should have a separate list with 'unsaved' map elements, that can be saved into the mymaps.

[2015-10-20 14:50] petzlux opened #897 "Indicator if a mymaps is loaded or not when pane is closed"
We need a visual indicator for the user to understand that a Mymap Map is open, even if the Mymaps Pane is closed.

One possibility would be a change to the MyMaps bottom toolbar icon

[2015-10-20 14:50] jaykayone commented on #890
OK so have an agreement here, @pgiraud can you implement this please?

[2015-10-20 14:54] jaykayone commented on #897
+1

[2015-10-20 14:58] jaykayone commented on #896
cf #897 ... they should be considered together

[2015-10-20 15:00] petzlux commented on #884
:+1: depends on length of information (depends on layers) . if we can keep it short, than an optional box on printout? also depends on number of features selected.

[2015-10-20 15:01] petzlux commented on #884
Or other way around ? Separate Print feature information with small map box showing location

[2015-10-20 15:30] elemoine commented on #759
What about this question?

[2015-10-20 16:30] jaykayone commented on #759
yes that makes sense too

[2015-10-20 18:27] elemoine commented on #759
Ok, I'll start by adjusting the map zoom based on the print scale. And we'll see if we do it in the other direction as well.

[2015-10-21 07:03] petzlux commented on #759
In my opinion, as it is now, is sufficient. I dont believe we need to change the print scale on zoom in. We want to stay consistent and only change print scale through the dropdown.

[2015-10-21 07:20] elemoine commented on #759
Sounds good to me.

[2015-10-21 11:59] jaykayone opened #900 "Function to add an external WMS"
For the GISGR Portal there is a requirement that the user must be able to add an external wms layer

[2015-10-21 11:59] jaykayone opened #901 "Overview map"
For the GISGR Portal there is a requirement that the user must be able to show an overview map

[2015-10-21 12:04] jaykayone opened #902 "Export an image"
In addition to the print as PDF, the print should also be available as png

[2015-10-21 12:06] jaykayone opened #903 "Window showing all legends of currently shown layers"
For the GISGR Portal there is a requirement that the user must be able to see all legends of currently shown in a singe window

[2015-10-21 12:11] jaykayone opened #904 "feedback tool"

[2015-10-21 12:20] elemoine commented on #759
Fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/899.

[2015-10-21 12:20] #759 closed

[2015-10-21 12:59] petzlux opened #905 "Make Contact link theme dependent"

[2015-10-21 13:00] petzlux opened #906 "License for MyMaps maps"

[2015-10-21 13:20] grischard commented on #906
How flickr does it: http://www.wikihow.com/Apply-the-Creative-Commons-License-to-Flickr-Photographs

The license can be used as a filter criteria:

https://www.flickr.com/creativecommons/

[2015-10-23 08:30] jaykayone opened #908 "admin interface: impossible to create new ui_metadata"
we have an empty drop_down component for the name field in the ui_metadata editor.

how can it be filled?

[2015-10-23 14:55] pgiraud commented on #885
https://github.com/camptocamp/ngeo/pull/368 should do the job.

[2015-10-23 15:06] rmichaelis commented on #851
I think this should not work as explained in the 2 slides. But much more as explained in #882 with the 2 lists and a map menu "copy the anonymous drawing into the map"

[2015-10-26 10:47] pgiraud commented on #885
@rmichaelis Can you please update ngeo in your instance and confirm that the issue is fixed?

[2015-10-26 13:42] elemoine commented on #791
I've done a bit of research related to the export/import functionality, and see how we can implement it based on today's web technologies.

### Export

For "export" we will use `ol.format.GPX` and `ol.format.KML` to create text representations of features in the map. So no apparent problem here.

Then we need a way for the user to be able to download/save the GPX or KML file.

One possible way is

[2015-10-26 13:54] jaykayone commented on #791
Thanks @elemoine for this analysis.
We discussed this. In geoportailv2 we only had "load local from disk" and we think it would be enough for v3 too. drag and drop is a nice to have, so if it can be added easily let's do it.
There is not need for "load remote from URL".

FileSaver.js seems like a good way to go.
Don't loose too much time on IE9, we have 4% and the percentage is decreasing

[2015-10-26 14:09] elemoine commented on #791
Sounds good to me.

Another thing: I am not sure about `FileSaver.js` and Safari. And FWIW `mf-geoadmin3` uses their "download web service" on IE 9, or Safari, or when the browser doesn't have `Blob` (required by `FileSaver.js`). Note that their "download web service" is quite [straightforward](https://github.com/geoadmin/mf-chsdi3/blob/master/chsdi/views/downloadkml.py), so it shouldn't be a prob

[2015-10-26 14:11] jaykayone commented on #791
let's try it out

[2015-10-26 14:36] petzlux commented on #865
:+1:

[2015-10-26 14:50] rmichaelis commented on #885
It works fine. Thanks.

[2015-10-26 14:50] #885 closed

[2015-10-26 15:23] elemoine commented on #791
This is an example using `FileSaver.js`: http://erilem.net/ngeo/exportfeatures/examples/exportfeatures.html. Seems to work on FF, Chrome, IE 10 & 11. However it does not work on Safari 8 for me (in Browserstack).

[2015-10-26 15:45] jaykayone commented on #791
indeed, it does not work in safari 9 either

[2015-10-26 15:48] elemoine commented on #791
So either we find a way to make it work, or a "download" web service will be required for Safari and IE 9.

[2015-10-26 15:50] jaykayone commented on #791
let me play devil's advocate here:
if we have to write a download service, why not use it in every browser?

[2015-10-26 15:53] elemoine commented on #791
It's a fair question. I'm asking the same to myself. What you gain is a round-trip on the wire for capable browsers.

[2015-10-27 09:20] sbrunner commented on #908
Hello,

In the file `vars_<package>.yaml` you should add the `available_metadata`,  something like this:

[code]

[2015-10-27 09:58] rmichaelis opened #913 "public maps"
Up to now, we don't have the ability to choose a public map.
Shouldn't we have a button "open a public map" that is working just like the button "open a map" but with public maps.?

[2015-10-27 10:00] petzlux commented on #913
In the old geoportail, public mymaps were displayed as a separate category in the catalogue. For example, in the tourism portal . Do we want to keep this way to publish MyMaps ?

[2015-10-27 10:02] jaykayone commented on #913
we want to keep that way, we could add another way to open them with a list but let's keep that for later.

[2015-10-27 10:03] petzlux commented on #913
Simply pushing Mymaps marked as public to a separate category in the catalogue would have the benefit of:

- Keeping the interaction consistent to find layers of information (through catalogue or search)
- Make the public feel that MyMaps are geodata just like any other information, ie not second class data
- Make life easier for us to develop

[2015-10-27 10:08] jaykayone commented on #913
It's the way it works today or have I misunderstood sthg?

[2015-10-27 10:56] petzlux commented on #913
No that is indeed the way, just listed the benefits in my view :-)

[2015-10-27 13:59] petzlux opened #916 "Circular reference crashing"
In the user manager, the following causes a circular reference error.

https://github.com/Geoportail-Luxembourg/geoportailv3/commit/9d203f1fe65c9941e4de1d081ddb606d06187f8b#diff-3ea6f846403c9b02ff2ee1b7ed3214a9R213

@rmichaelis can you please check ?

[2015-10-27 14:01] #916 closed

[2015-10-27 14:02] rmichaelis commented on #916
How did you solve it?

[2015-10-27 14:03] petzlux commented on #916
my fault, i did a rebase of my changes from a pull request and missed a conflict

[2015-10-27 14:39] elemoine commented on #791
For everyone's information, I've added more information to the analysis, with explanations on the way the current version (geoportail v2) works.

Also, I've added the "import functionality" to my `exportfeatures.html` example. It's based on the FileReader browser API (see the analysis for details). See http://erilem.net/ngeo/exportfeatures/examples/exportfeatures.html again. I confirm that it work

[2015-10-27 14:41] jaykayone commented on #791
@petzlux can you do safari?
@rmichaelis can you do ie10 please?

[2015-10-27 14:46] elemoine commented on #791
I just tried on IE 10 in a Virtualbox VM and it worked.

[2015-10-27 21:12] #852 closed

[2015-10-28 06:34] #788 closed

[2015-10-28 07:29] elemoine commented on #791
It would be good to know if "import" works with my example in Safari. If it does then it means we have a server-less solution for "import", if we exclude IE 9 obviously. Although we also need to test on phones and tablets...

For "export", the most difficult part it seems, I agree with @jaykayone that we should use the download/export service for every browser, instead of pulling in `FileSaver.js`

[2015-10-28 09:34] petzlux commented on #791
Okay, seems to work in my Safari fine !

[2015-10-28 10:36] elemoine commented on #791
Thanks for testing. So it seems we're in pretty good shape on the "import" part. I mentioned "phones" and "tablets" in my previous comment, but I'm not fully sure "import" really makes sense on mobile devices. Sounds like secondary to me.

[2015-10-28 10:47] jaykayone commented on #791
I agree, it is not prioritary at all

[2015-10-28 10:59] rmichaelis opened #917 "NGEO and geoportailv3 does not build anymore"
Probably due to these ol3 commits https://github.com/openlayers/ol3/commit/2f06d214f5ead84f3119f2ffa1867a97c0ccd7e9

@elemoine could we use a specific version of Openlayers and ngeo to temporarily bypass this issue ?

[2015-10-28 11:38] elemoine commented on #917
@rmichaelis, https://github.com/camptocamp/ngeo/pull/370 is about to be merged. I hope it'll fix the geoportailv3 build.

[2015-10-28 12:25] fredj commented on #917
camptocamp/ngeo#370 is now merged

[2015-10-28 12:59] rmichaelis commented on #917
ngeo errors are fixed.
We have now to fix the geoportalv3 errors.
[code]

[2015-10-28 13:01] petzlux commented on #917
:-1:

[2015-10-28 13:02] elemoine commented on #917
Is anyone working on a PR already? Otherwise I can do it.

[2015-10-28 13:04] rmichaelis commented on #917
If petzlux is not working on it and agree, you can do it.
Thanks

[2015-10-28 13:06] petzlux commented on #917
I can do it , @elemoine I would prefer if you can review my PRs' :-)

[2015-10-28 13:08] elemoine commented on #917
Ok.

This one https://github.com/Geoportail-Luxembourg/geoportailv3/pull/914?

(Sorry, I've already spent more time that I should have on the project :)

[2015-10-28 13:10] petzlux commented on #917
#907 and #912 (I believe there to be a problem with ngeo in that one)

[2015-10-28 14:53] #917 closed

[2015-10-28 16:02] pgiraud opened #919 "Open a map when no map has been created yet"
If the user never created any mymaps map and clicks on the "Open a map" button, nothing happens. The modal window doesn't show up.

Expected: the window should be open telling that there are no map available.

[2015-10-28 17:09] pgiraud commented on #888
I think that the user should be invited to change the title and description just right after the map creation.

[2015-10-29 07:49] pgiraud opened #921 "Give the drawn features a relevant title"
Currently, the drawn features are automatically given "element xx" as title.
It would be better in terms of usability to give them a more concrete name such as "Line 1" or "Point xx".

Also the counter should take the already drawn features in case of a loaded map. Currently, the counter starts from "0" even if features are already in the map. It may results in two features having the same title (

[2015-10-29 07:57] jaykayone commented on #921
+1

[2015-10-29 07:58] jaykayone commented on #888
+1 @petzlux aren't you already working on that point?

[2015-10-29 07:59] jaykayone commented on #919
+1

[2015-10-29 08:21] pgiraud opened #922 "mymap-footer doesn't appear with second map load"
Steps to reproduce:
 - Login,
 - Open a map,
 - Close the map and open a new one.

Result: the actions button in the map footer doesn't appear for the second map.

[2015-10-29 08:23] pgiraud commented on #922
It's actually there (in the DOM) but doesn't appear visually.

[2015-10-29 08:26] pgiraud commented on #922
Forget about this issue. This is only on my side. Due to modifications I'm currently working on.

[2015-10-29 08:26] #922 closed

[2015-10-29 09:25] petzlux commented on #888
yes its in PR #912

[2015-10-29 10:24] petzlux opened #923 "Circle type Object not serializable to GeoJSON"
In PR #914 , I have to transform OL Circle object to a vector, as GeoJSON doesnt support Circle as a feature class. This is potentially a problem for later editing the circle (change location or radius)

[2015-10-29 15:57] pgiraud commented on #890
@rmichaelis Is https://github.com/Geoportail-Luxembourg/geoportailv3/pull/924 related to the current issue?

[2015-10-29 19:58] rmichaelis commented on #890
Yes it's part of #924

[2015-10-30 08:20] elemoine commented on #923
Yes, I think we should not use `ol.geom.Circle` in the project.

[2015-10-30 08:50] jaykayone commented on #797
recherche et tri suffisent

[2015-10-30 08:53] petzlux commented on #797
okay so this is implemented now ? can we close

[2015-10-30 08:54] #812 closed

[2015-10-30 08:56] #797 closed

[2015-10-30 08:57] #891 closed

[2015-10-30 09:00] #796 closed

[2015-10-30 09:01] jaykayone opened #926 "manage public / private state of map"

[2015-10-30 09:02] #809 closed

[2015-10-30 09:05] #845 closed

[2015-10-30 09:11] jaykayone commented on #887
http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=17&X=680816&Y=6379043&lang=en&layers&opacities&bgLayer=basemap_2015_global&map_id=864a60f9ad7c48799f5a6a0d3117397f

[2015-10-30 09:14] jaykayone opened #927 "Mymaps: gestion des couches de fond"
à respécifier

[2015-10-30 09:16] rmichaelis commented on #927
slide 24-27

[2015-10-30 09:16] #853 closed

[2015-10-30 09:25] pgiraud commented on #888
With the code from https://github.com/Geoportail-Luxembourg/geoportailv3/pull/928, I made some tests with users to see if it's easy for them to find the way to change the title and description of the map. It looks like it works well.

[2015-10-30 14:13] petzlux commented on #810
fixed by #925

[2015-11-02 16:26] elemoine commented on #791
I found two OpenLayers bugs while working on the "export/import" functionality. One on the GPX format and one on the KML format. I created a PR for the former, see https://github.com/openlayers/ol3/pull/4361. The latter has an unfinished PR: https://github.com/openlayers/ol3/pull/3955. I'll try to finish it.

[2015-11-03 13:21] pgiraud opened #933 "proj4 is loaded twice in debug mode"
See
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/templates/index.html#L240

and

https://github.com/Geoportail-Luxembourg/geoportailv3/commit/424a744e8bf3c1c5f2145b73a7b92d44ac0c14b8

[2015-11-04 14:21] elemoine commented on #791
I've also created an ngeo PR that adds an `ngeo-filereader` directive and an example demonstrating how to use the directive to import KML files. See https://github.com/camptocamp/ngeo/pull/378.

[2015-11-04 16:16] elemoine commented on #791
For the record, I've created two ol3 PRs related to the KML format: https://github.com/openlayers/ol3/pull/4376 and https://github.com/openlayers/ol3/pull/4378.

[2015-11-05 07:15] rmichaelis commented on #806
@pgiraud  can you please explain why the "display while drawing" cannot be reused from the measure tools in ngeo?

[2015-11-05 07:22] #882 closed

[2015-11-05 08:08] petzlux commented on #906
would an open data license only apply for public maps?

[2015-11-05 08:09] jaykayone commented on #906
probably

[2015-11-05 08:10] petzlux commented on #933
ups :-1:

[2015-11-05 15:01] grischard commented on #906
I think it would apply to any map. A license applies to anything you distribute, even if distribution only happens in a restricted group. Anything uploaded or created on mymaps is distributed with at least the Cadastre, and it can be a legal requirement to ShareAlike.

Example case:

A mushroom picking club creates secret trails based on OpenStreetMap and uploads it to MyMaps. One year later, anot

[2015-11-12 07:56] elemoine commented on #791
The OpenLayers 3, ngeo and c2cgeoportal patches I worked on for the GPX/KML export/import are now all closed.

* https://github.com/openlayers/ol3/pull/4376
* https://github.com/openlayers/ol3/pull/4378
* https://github.com/openlayers/ol3/pull/4361
* https://github.com/camptocamp/ngeo/pull/378
* https://github.com/camptocamp/ngeo/pull/377
* https://github.com/camptocamp/c2cgeoportal/pull/1758

[2015-11-12 16:28] rmichaelis opened #935 "Editus POI not correctly displayed"
Since the last rebase, the editus pois are misplaced ... It works fine on old versions.
Here wrong :
http://devv3.geoportail.lu/renaud/theme/main?version=3&zoom=10&X=662973&Y=6411594&lang=fr&bgLayer=basemap_2015_global&layers=561&opacities=0.9

here fine :
http://devv3.geoportail.lu/main/theme/main?version=3&zoom=10&X=662973&Y=6411594&lang=fr&bgLayer=basemap_2015_global&layers=561&opacities=0.9

[2015-11-12 16:33] jaykayone commented on #935
height and width in ogc request are wrong:

bad:
http://devv3.geoportail.lu/renaud/wsgi/ogcproxywms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=png&TRANSPARENT=true&LAYERS=561&CRS=EPSG%3A3857&STYLES=&WIDTH=1401&HEIGHT=1016&BBOX=595387.1225703091%2C6330056.060408587%2C756019.5375116072%2C6446546.091515195
good:
http://devv3.geoportail.lu/main/wsgi/ogcproxywms?SERVICE=WMS&VERSION=1.3.0&REQUEST=G

[2015-11-13 09:09] rmichaelis commented on #927
How should it work ?
Is the layers list saved as soon as a MyMaps is opened and a layer is added, removed, or modified ?
Or is a user action needed as suggested in slide 27 ?

[2015-11-13 11:00] rmichaelis opened #937 "New versions of OL3 breaks ngeo compilation"
[code]

[2015-11-16 09:06] rmichaelis commented on #937
related to https://github.com/camptocamp/ngeo/issues/386

[2015-11-16 09:46] fredj commented on #937
The issue is now fixed in ngeo

[2015-11-16 09:47] rmichaelis commented on #937
Thanks.

[2015-11-16 10:14] #887 closed

[2015-11-16 10:15] rmichaelis commented on #937
Fixed in NGEO

[2015-11-16 10:15] #937 closed

[2015-11-16 10:49] rmichaelis opened #938 "One of the recent merge introduced the following error"
Error: [$compile:ctreq] Controller 'ngModel', required by directive 'ngeoModal', can't be found!

Any idea how to solve this error ?

[2015-11-16 10:52] rmichaelis commented on #935
Solved with latest ngeo and ol libraries

[2015-11-16 10:52] #935 closed

[2015-11-16 13:21] #938 closed

[2015-11-16 15:05] #851 closed

[2015-11-18 13:10] jaykayone opened #941 "freeze versions OL and NGEO"

[2015-11-18 16:04] petzlux commented on #923
@jaykayone can I close this for now and accept PR #914 as is ?

[2015-11-18 16:08] jaykayone commented on #923
yes, we have to write a modify interaction later on, like we did in geoportalv2

[2015-11-18 16:41] #923 closed

[2015-11-18 18:58] hitchcockwill commented on #679
@rmichaelis did you find a fix for that problem? I'm running into the same issue and this is the only reference to it I've found so far.

[2015-11-19 08:53] pgiraud opened #942 "Drawn elements cannot be selected on the map"
If the user tries to click on drawn elements, they are not selected anymore.

[2015-11-19 10:45] rmichaelis commented on #942
Probably due to this commit : https://github.com/openlayers/ol3/commit/d968f324560b39aba28524022516c8c53661c562

[2015-11-19 15:26] #888 closed

[2015-11-19 15:38] #810 closed

[2015-11-19 15:39] hitchcockwill commented on #679
Thanks for the response @rmichaelis. That's too bad. I'll keep looking for a solution.

[2015-11-19 15:40] petzlux commented on #926
closed with PR #912

[2015-11-19 15:40] #926 closed

[2015-11-19 16:04] #933 closed

[2015-11-20 07:52] jaykayone commented on #791
@pgiraud can you check when we can merge this ? --> cf c2cgeoportal

[2015-11-20 07:58] jaykayone opened #944 "mymaps: modify cercle"
cf geoportailv2 πr2

[2015-11-20 07:58] jaykayone opened #945 "mymaps: show measure while drawing"

[2015-11-20 08:00] #786 closed

[2015-11-20 08:01] #806 closed

[2015-11-20 08:07] jaykayone commented on #785
@pgiraud, can this be closed?

[2015-11-20 09:23] #785 closed

[2015-11-25 10:08] petzlux opened #946 "Ngeo breaks build"
I blame @sbrunner :-) https://github.com/camptocamp/ngeo/pull/402

[code]

[2015-11-25 11:18] sbrunner commented on #946
you should add `ngdoc` and `ngname` here: https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/build.json#L84 :-)

[2015-11-25 14:35] #946 closed

[2015-11-25 14:56] petzlux opened #948 "Feature Idea : allow to link to external geojson for display"

[2015-11-27 12:21] pgiraud commented on #942
It looks like the regression has already been fixed in OL3.
See https://github.com/openlayers/ol3/pull/4450.

I wanted to make sure that the given commit is the right one, but I can't seem to use OL3 with an npm link in Geoportailv3.

[2015-11-27 12:21] pgiraud commented on #942
Can you confirm that this is fixed for you too by updating node modules?

[2015-11-27 12:24] jaykayone commented on #942
@rmichaelis can you check this please?

[2015-11-27 12:25] petzlux commented on #942
works for me !

[2015-11-27 12:43] #942 closed

[2015-11-27 12:48] rmichaelis commented on #942
Works for me too.
If needed, last version of the master is available here : http://devv3.geoportail.lu/renaud/

[2015-11-27 12:52] pgiraud opened #949 "Label for public value should be changed"
A checkbox label should not be an action (ie. a verb).
It's confusing for the user.

![screenshot from 2015-11-27 13 50 41](https://cloud.githubusercontent.com/assets/319774/11441584/eb2c4c3a-950d-11e5-8deb-fa89c0deadb0.png)
![screenshot from 2015-11-27 13 50 53](https://cloud.githubusercontent.com/assets/319774/11441585/ec9d87a0-950d-11e5-8848-c86e34cb7b71.png)

[2015-11-27 13:00] jaykayone commented on #949
I agree.
Can you make a proposition?

[2015-11-27 14:22] pgiraud opened #950 "Sliders in mymaps editing popup need styling"
![screenshot from 2015-11-27 15 21 25](https://cloud.githubusercontent.com/assets/319774/11443121/a278be62-951a-11e5-9f55-42613d801aca.png)

[2015-11-27 14:27] pgiraud opened #951 "measure tools don't work any more"
Looks like there's a mix between the measure interactions and the select interaction.

[2015-11-27 14:27] pgiraud commented on #951
I'll address this issue in priority.

[2015-11-27 14:27] petzlux commented on #951
urghh yeah just noticed !

[2015-11-27 14:38] petzlux commented on #941
Questions for @pgiraud :

Before we go to prod, we want to version pin ngeo and openlayers , to exclude problems like we had multiple times in the past #937 #946 #917  ....

Is there any downside to doing this, except for the fact that we will then for an update of ngeo explicitely create a pull request?

PS: I noticed that ngeo is on angular 1.4.7  vs us on 1.4.1 , which seems to win. We will hav

[2015-11-27 15:33] pgiraud commented on #951
This is due to the fact that the filter function in the select interaction is not called any more thus features drawn with the measure tools are selected.
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/draw/drawdirective.js#L255

Probably an OL3 regression. Digging into it.
But I have to `npm link` openlayers which I'm not able to do at the moment.

[2015-11-30 09:29] petzlux opened #952 "Drawn Elements saved in URL all change to label on reload"

[2015-11-30 10:02] petzlux commented on #952
I think I found error

[2015-11-30 10:25] #952 closed

[2015-11-30 13:02] pgiraud commented on #951
FYI, I got the `npm link` working.
The node module `slimerjs-edge` needs to be removed. Also `ol-debug.js` needs to be removed if OL3 has already been built.

[2015-12-01 10:41] pgiraud commented on #951
OL3 bug tracked here: https://github.com/openlayers/ol3/issues/4504

[2015-12-01 12:38] pgiraud commented on #951
Fixed via https://github.com/openlayers/ol3/pull/4472

[2015-12-01 12:38] #951 closed

[2015-12-02 09:42] rmichaelis opened #957 "line direction is missing"
Displaying or not the line direction is missing in the style popup

[2015-12-02 09:53] rmichaelis opened #958 "Continue to draw a line is not available"
After the line creation, it's no more possible to continue to draw the line

[2015-12-02 15:10] petzlux commented on #944
A Circle then is a Point Geometry with a radius , and will be serialized as a point ...

[2015-12-02 15:13] jaykayone commented on #944
in geoportail v2 it was serialized as a polygon and only the modify action was specific

[2015-12-02 15:21] rmichaelis opened #961 "The drawn feature should be draggable"
Just like in v2

[2015-12-03 07:12] petzlux commented on #944
Okay will do the same!

[2015-12-03 07:15] rmichaelis commented on #944
I think that in GeoportailV2 Mymaps does not allow to modify the circle as a circle. Only the drawing tool allows that.

[2015-12-03 08:16] pgiraud commented on #941
I think freezing the OpenLayers and ngeo versions before going to prod is a good idea too.
We should do this as soon as we know that we don't need new features. I think that we should freeze OpenLayers already.
I'm not sure about ngeo though.

Creating a pull request any time we need a library update is the right way to go I think.

I'm less afraid about angular versions but I can't tell why.

[2015-12-03 08:35] jaykayone commented on #941
YES. Can you do this please?

[2015-12-03 08:39] rmichaelis commented on #941
Don't we need to have the latest version of c2cgeoportal before freezing anything ?

[2015-12-03 08:55] jaykayone commented on #941
that's correct.
what's the status here @pgiraud @sbrunner ?

[2015-12-03 10:07] #921 closed

[2015-12-03 10:57] petzlux commented on #961
@pgiraud @jaykayone The functionality to drag a feature is something that really should be done in ngeo. Is there a realistic chance that this can be done ?

[2015-12-03 12:37] sbrunner commented on #941
No direct relation between version of c2cgeoportal end version of ol3/ngeo...

[2015-12-03 12:52] rmichaelis commented on #941
Has ngeo no relation with this ? https://github.com/camptocamp/c2cgeoportal/pull/1758

[2015-12-03 13:15] #945 closed

[2015-12-03 13:22] rmichaelis opened #962 "update c2cgeoportal"
to the last release candidate

[2015-12-03 13:24] petzlux commented on #962
@pgiraud to get information for migration, @rmichaelis to do migration

[2015-12-03 13:36] petzlux opened #963 "Open MyMaps pane after drawing a first element"

[2015-12-03 13:37] #896 closed

[2015-12-03 13:42] petzlux commented on #962
after migration, finish #791

[2015-12-03 13:43] petzlux commented on #941
do this after #962

[2015-12-03 13:44] #919 closed

[2015-12-03 13:56] pgiraud commented on #962
@sbrunner to provide documentation and tips on how to do the migration.

[2015-12-03 14:25] sbrunner commented on #962
Hello, the upgrade documentation is here:
http://docs.camptocamp.net/c2cgeoportal/1.6/integrator/upgrade_application.html#easy-upgrading-an-application

And just to know, a second RC will be done next week :-)

[2015-12-03 15:33] petzlux opened #964 "Need way to delete Mymap without opening it"

[2015-12-03 15:53] #961 closed

[2015-12-09 08:46] rmichaelis opened #967 "Lines and polygons are not saved anymore in Mymaps."
Introduced by #956

[2015-12-09 10:37] rmichaelis opened #969 "Line and polygon modification don't show the measures"
During a geometry modification, the measures are not shown ?
Is it working as expected ?

[2015-12-10 09:48] petzlux commented on #791
Any progress on this ?

[2015-12-10 09:51] rmichaelis commented on #791
Still not.
As discussed last week with @pgiraud , I'll do the job.
It seems that a new RC of c2cgeoportal should be available this week. I'll use it.

[2015-12-10 10:45] rmichaelis commented on #791
Link to #962

[2015-12-11 08:33] rmichaelis commented on #962
Hello @sbrunner ,

After the migration to RC4, I receive during the build the following 2 errors :

[code]
[code]
To bypass these errors, I've just added layers and reset_password in my yaml file.

Am i doing something wrong ?

Thanks for your help,

[2015-12-11 10:13] petzlux commented on #948
This would also be a relevant functionality in the context of the GeoAPI, and integration into the future Luxembourg OpenData Portal for preview of geo datasets (extents and/or data)

[2015-12-11 10:17] jaykayone commented on #948
yes and it should also cover kml and gpx

[2015-12-11 14:48] petzlux opened #971 "Convert MyMaps background layer values"
For example, there are mymaps with an empty string value for bgLayer. This obviously needs to be converted to ````"blank"```` . Same with ````bg_layer: "pixelmaps-color"```` , need to check other values and keys as well.

[2015-12-11 14:59] petzlux opened #972 "Need to be able to sort MyMaps in chronological order"
This necessitates a server side timestamp of last accessed, changed, created ...

[2015-12-11 15:08] rmichaelis commented on #972
db fields "create_date" and "update_date" already exist.

[2015-12-11 15:19] sbrunner commented on #962
Yes and it will be definitively be fixed with https://github.com/camptocamp/c2cgeoportal/pull/1864

[2015-12-11 15:20] petzlux commented on #972
I just saw, will be straightforward then!

[2015-12-11 16:31] rmichaelis commented on #791
What are the supported projections of the files we want to import ?

[2015-12-11 17:06] geoportallux commented on #791
AFAIK these files are always in LL84 / 4326

--
Jeff Konnen

________________________________

From: "Renaud Michaëlis"
Date: vendredi 11 décembre 2015 17:31:21
To: "Geoportail-Luxembourg/geoportailv3"
Subject: Re: [geoportailv3] Export au format KML et GPX (#791)

What are the supported projections of the files we want to import ?

-
Reply to this email directly or view it on GitHub<https://githu

[2015-12-11 17:50] rmichaelis commented on #791
It seems that Openlayers allows to export/import in the projection you want.
That means, I have to export everything in 4326

Here is an exmample of a mymaps export :

[code]

[2015-12-16 16:49] #967 closed

[2015-12-17 08:08] rmichaelis opened #975 "Reset mymaps settings"
Add a No option, which would reset to the MyMap setting

[2015-12-17 08:09] rmichaelis opened #976 "Layers not always loaded."
Charging layers from the MyMap PilzKarte test 1e443e9c37534313a92144ae9af36d7b doesnt seem to work.

[2015-12-17 08:26] #927 closed

[2015-12-17 08:27] #813 closed

[2015-12-17 08:27] #794 closed

[2015-12-17 08:27] #807 closed

[2015-12-17 08:27] #787 closed

[2015-12-17 08:49] rmichaelis commented on #976
@petzlux this mymaps does not contain any saved layers.
"layers" contains only 2 empty layers. These data are corrupted probably awhile.
layers: ","
layers_indices: "7,8"
layers_opacity: "1,1"

[2015-12-17 13:55] jaykayone opened #978 "Continuer le dessin"

[2015-12-17 13:59] rmichaelis commented on #791
better file name

[2015-12-17 14:07] rmichaelis commented on #791
No button. Open directly the file selector

[2015-12-17 14:16] rmichaelis opened #979 "translation should not be allowed"
when the mymaps is not editable.

[2015-12-17 14:26] petzlux commented on #886
Info window: "x" icon too low
move popup for editing vertices

[2015-12-17 14:28] #976 closed

[2015-12-17 14:29] #971 closed

[2015-12-17 14:30] jaykayone commented on #949
simply "public*

[2015-12-17 14:32] #781 closed

[2015-12-17 14:32] #782 closed

[2015-12-17 14:32] #779 closed

[2015-12-17 14:32] #792 closed

[2015-12-17 14:32] #780 closed

[2015-12-17 14:32] #790 closed

[2015-12-17 14:32] #789 closed

[2015-12-18 08:16] #949 closed

[2015-12-18 15:43] #975 closed

[2015-12-18 15:44] #791 closed

[2015-12-23 16:19] jaykayone opened #986 "two lines"
in a map I have drawn with the new my maps tools, there is a line doubled.

While I was drawing, there was a moment where the drawing tool stopped although I was not done.
I then continued drawing by modifiying the line. the result is correct, but I have two geometries instead of one. One until the problem appeared and one complete one..

http://g-o.lu/wlgs3

[2015-12-23 16:20] jaykayone opened #987 "background map disappears when creating a new my maps map"
seen on http://devv3.geoportail.lu/renaud

[2015-12-23 16:22] jaykayone opened #988 "add layer trough search box"
I cannot add a layer anymore by selecting in the search box

[2016-01-04 14:31] jaykayone commented on #979
ah ok, you mean mathematical translation, not "traduction" :)

[2016-01-04 15:45] jaykayone opened #989 "delete vertex"
no possibility yet to delete vertex?

[2016-01-05 08:08] jaykayone commented on #969
they should be shown in the popup after the modification, not live during the dragging

[2016-01-05 08:37] rmichaelis opened #990 "travis failure"
@pgiraud @sbrunner Has something been changed ?

 Hash of the package http://pypi.camptocamp.net/pypi/python-gflags/python-gflags-2.0.tar.gz#md5=23c9a793959a54971b1f094b0c6d03b1 (from http://pypi.camptocamp.net/pypi/python-gflags/) (c3ab70218dbf945cc32c0cd64c51d162) doesn't match the expected hash 23c9a793959a54971b1f094b0c6d03b1!
Bad md5 hash for package http://pypi.camptocamp.net/pypi/python-gfl

[2016-01-05 09:04] jaykayone commented on #969
link to #783

[2016-01-05 12:47] #913 closed

[2016-01-05 13:08] rmichaelis opened #991 "Better color picker"
In the styles popup.

[2016-01-05 13:10] rmichaelis opened #992 "Improve ugly file chooser button"

[2016-01-05 13:11] rmichaelis opened #993 "Auto select the title"
Into title modification popup, auto select the title when title is the default one.

[2016-01-05 13:13] rmichaelis opened #994 "No translation for linestring"

[2016-01-06 08:37] sbrunner commented on #990
I just remove the wrong file from the proxy, does it works now?

[2016-01-06 08:52] rmichaelis commented on #990
Thanks, it works now.

[2016-01-06 08:53] #886 closed

[2016-01-06 09:07] sbrunner commented on #990
Excellent, thanks for the feedback :-)

[2016-01-06 09:40] #990 closed

[2016-01-06 09:57] #979 closed

[2016-01-06 09:58] #964 closed

[2016-01-06 10:16] petzlux commented on #963
see #982

[2016-01-06 10:23] petzlux opened #997 "Html errors in layer info popup"

[2016-01-06 13:52] #963 closed

[2016-01-06 13:52] #950 closed

[2016-01-08 08:38] #987 closed

[2016-01-08 14:03] rmichaelis commented on #988
I have juste a quick look, and it appears that a new version of ngeo introduced this error.

* A new version of typehead should be used.
* Listener event is no more ```selected``` but ```select```
* Css class name changed
* Probably other side effects

[2016-01-08 14:21] petzlux commented on #988
okay thanks @rmichaelis !

[2016-01-08 14:41] #993 closed

[2016-01-08 14:41] petzlux opened #1004 "Find UI elements where the cursor should change"
There are many instances where we should change the cursor all over the app to signify actions to the user, lets try and come up with a list next week.

Examples include, loading a MyMap from the list ....

[2016-01-08 14:44] #997 closed

[2016-01-11 09:30] #972 closed

[2016-01-11 09:40] #994 closed

[2016-01-11 18:55] #992 closed

[2016-01-11 18:57] rmichaelis opened #1007 "Image format not supported"
Some image formats are not supported to generate the thumnails. (Jpeg, gif)

[2016-01-12 09:06] rmichaelis opened #1009 "Travis failure."
@sbrunner @pgiraud Since yesterday Travis is failling.
Has something been changed and do we need to modify something ?

[code]

[2016-01-12 09:14] petzlux commented on #1009
looks related to transifex integration in ngeo

https://github.com/camptocamp/ngeo/commit/e0d7a9d4f6484ad14f4d3a8a293f4be84b378602#diff-1d5124e0e3f36737c2055a7235f9dd52R4

[2016-01-12 09:46] rmichaelis opened #1010 "IE11 & EDGE sliders"
Some sliders are not well rendered in IE11 and Edge

[2016-01-12 09:58] sbrunner commented on #1009
In the `geoportailv3.mk` file you should do:
[code]
and it should fix the issue.
I will also add this the folder in the CONST_Makefile ...
Sorry for the inconvenience :-/

[2016-01-12 10:08] rmichaelis opened #1011 "IE11 & EDGE file browser"
Not well styled in these 2 browsers

[2016-01-12 10:28] rmichaelis commented on #1009
It seems to work. Thanks for the support.

[2016-01-12 10:39] #1009 closed

[2016-01-12 16:06] #1007 closed

[2016-01-12 16:21] #991 closed

[2016-01-13 09:37] petzlux opened #1015 "firefox 43 mac scroll wheel doesnt work"

[2016-01-13 09:37] petzlux commented on #1015
@jaykayone can you check as well ?

[2016-01-13 09:57] #1015 closed

[2016-01-13 13:29] #988 closed

[2016-01-13 13:36] #1010 closed

[2016-01-13 13:46] rmichaelis commented on #1011
works with IE11

[2016-01-13 15:03] scastaldi commented on #679
I fixed it by adding the line of code below in function onAnimationProgress(event)
if (ev.elapsedTime === undefined) ev.elapsedTime = maxDuration;

[2016-01-15 12:10] petzlux commented on #890
@jaykayone Can we close this, it seems that the proposed solution is implemented .

[2016-01-15 12:12] petzlux commented on #512
is this something we should adress soon ?

[2016-01-15 12:29] #890 closed

[2016-01-15 12:29] jaykayone commented on #512
yes

[2016-01-18 15:37] rmichaelis opened #1019 "LineString coming from url are not displayed anymore on map"

[2016-01-18 16:10] #1019 closed

[2016-01-20 14:52] #958 closed

[2016-01-20 14:56] #957 closed

[2016-01-20 15:36] #989 closed

[2016-01-20 15:46] #978 closed

[2016-01-20 15:47] rmichaelis opened #1024 "Double click to finish line edition yoom into the map"

[2016-01-20 15:47] rmichaelis opened #1025 "cannot delete starting and ending point"

[2016-01-20 15:48] rmichaelis opened #1026 "Misplaced orientation arrow"

[2016-01-20 15:51] rmichaelis opened #1027 "orientation arrow on the vertex."

[2016-01-20 16:01] #1011 closed

[2016-01-20 16:01] #969 closed

[2016-01-20 16:01] #986 closed

[2016-01-22 09:44] rmichaelis opened #1029 "Compilation failure"
Hi @sbrunner .  I got this error during compilation.
Has something been changed ?

[code]

[2016-01-22 10:08] sbrunner commented on #1029
It is define here:
https://github.com/camptocamp/ngeo/blob/master/externs/typeahead.js#L37-L51
and you don't include it:
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/build.json#L11
...

[2016-01-22 10:25] rmichaelis commented on #1029
Thanks,  It compiles.
But It's not straightforward, I receive now errors during execution.
I'll debug this :

[code]

[2016-01-22 10:29] sbrunner commented on #1029
Effectively but it will change soon: https://github.com/camptocamp/ngeo/pull/537

[2016-01-22 14:38] rmichaelis opened #1032 "Printing dotted line does not work"

[2016-01-22 14:39] rmichaelis opened #1033 "Printing a line with orientation returns error 500"

[2016-01-22 15:07] rmichaelis opened #1034 "Printing point with a symbol does not work"

[2016-01-22 15:21] rmichaelis opened #1035 "Printing a label returns an error"
[code]

[2016-01-27 10:33] #783 closed

[2016-01-27 14:18] petzlux opened #1036 "Layer Manager drag element styling is ugly"

[2016-01-27 15:28] petzlux opened #1038 "Add layer button doesnt work anymore"
[code]

[2016-01-27 15:32] petzlux opened #1039 "MyMaps public layers , include profile in info tab"

[2016-01-27 15:33] petzlux opened #1040 "Mymaps public layers, tries to load image in sidebar even if doesnt exist"

[2016-01-27 15:40] petzlux commented on #635
can this be done in the url rewrite ?

[2016-01-27 15:43] #597 closed

[2016-01-27 15:47] petzlux opened #1041 "Different tile servers for bg and overlay wmts"

[2016-01-27 15:49] #1029 closed

[2016-01-27 15:58] #893 closed

[2016-01-27 15:58] #892 closed

[2016-01-27 15:58] #889 closed

[2016-01-27 16:07] petzlux opened #1042 "Browser test to exclude older versions of IE"
IE 9

[2016-01-27 16:07] #814 closed

[2016-01-27 16:09] #829 closed

[2016-01-27 16:12] #752 closed

[2016-01-27 16:13] #675 closed

[2016-01-27 22:05] geoportallux opened #1043 "error when updating translations"
[code]

[2016-01-28 14:08] rmichaelis opened #1045 "Export csv is missing in profile"

[2016-01-29 06:24] jaykayone opened #1047 "Add OSM to background layers?"

[2016-02-01 14:44] rmichaelis commented on #1034
@sbrunner we can't print predifined symbols (such as square, cross, ...) because iIt seems that `ol.style.RegularShape` is not supported in ngeo : [Example here](https://github.com/camptocamp/ngeo/blob/master/src/services/print.js#L554)
and mapfishprint only supports ol2 version of styles.
Am I right ?

How do you think  we can print such things  ?

[2016-02-01 15:24] rmichaelis commented on #1035
fixed by #1050

[2016-02-01 15:27] #944 closed

[2016-02-01 15:47] #1035 closed

[2016-02-01 15:48] rmichaelis commented on #1032
@sbrunner ngeo does  not forward the strokeDashstyle information to mapfish-print
How may I bypass this issue ?

[2016-02-01 15:52] #1033 closed

[2016-02-01 15:53] rmichaelis opened #1051 "The line orientation isn't printed."

[2016-02-02 08:07] #1027 closed

[2016-02-02 10:50] rmichaelis commented on #1025
see openlayers/ol3#3708

[2016-02-02 12:12] rmichaelis commented on #1051
@sbrunner I try to print the ">" character in the middle of each vertex of a LineString. (to show the orientation of the line)
The style of each character along the line is encoded (probably not well encoded), and the print output shows the line with misplaced characters.

On the screen it looks like this :

![image](https://cloud.githubusercontent.com/assets/5594996/12749018/48d26354-c9ae-11e5-8e

[2016-02-02 12:16] #1024 closed

[2016-02-02 14:00] #1040 closed

[2016-02-02 15:15] sbrunner commented on #1032
It should probably added somewhere in this method:
https://github.com/camptocamp/ngeo/blob/master/src/services/print.js#L611-L623

[2016-02-02 15:22] ybolognini commented on #1051
After checking with three MapFish Print developers, what you're doing looks good and it should work. Reason why it doesn't is not obvious, correcting this problem in MapFish Print would need to investigate more.

[2016-02-02 15:24] ybolognini commented on #1034
MapFish Print does not know about the custom symbols that were created with "ol.style.RegularShape", but because it uses SLD, these standard SLD symbols could be used instead:

http://docs.geoserver.org/stable/en/user/styling/sld-extensions/pointsymbols.html#standard-symbols

[2016-02-02 16:02] rmichaelis commented on #1032
Yes, you are right, but as the method is marked as private, I can't subclass it.

[2016-02-02 16:03] sbrunner commented on #1032
Than I should be done in ngeo, a pullrequest is welcome :-)

[2016-02-02 16:04] rmichaelis commented on #1032
Ok I'll do that with pleasure :-)

[2016-02-05 15:20] petzlux opened #1055 "Build broken - ngeo move to ol.events"
need to follow ngeo and move to ol.events

see https://github.com/camptocamp/ngeo/pull/593

[2016-02-11 09:59] petzlux opened #1056 "POI ONT getfeatureinfo empty"

[2016-02-12 09:24] petzlux opened #1057 "getFeatureInfo MyMaps Layers - Select Point get all Points"
seems to be a general problem with mymaps layers and multipoint geometries

[2016-02-12 09:29] geoportallux commented on #1057
thats's a nice one ;)

[2016-02-12 15:22] petzlux opened #1058 "Search Result - Select feature in sidebar"
At the moment, once the user selects a search result, a point feature is drawn on the map and the relevant layer is loaded. But the actual feature is not selected so no sidebar with feature information is opened.

Can we pass a getfeatureinfo a layer id and object id to select and load feature information?

[2016-02-12 15:34] petzlux opened #1059 "Replace Google Plus with Whatsapp ?"
Seems to me that Whatsapp sharing would be way more useful and used than G+ !

But first need to add sharing to mobile, see #709

[2016-02-12 15:34] petzlux commented on #1059
http://stackoverflow.com/questions/21935149/sharing-link-on-whatsapp-from-mobile-website-not-application-for-android

[2016-02-12 15:37] petzlux commented on #709
As far as I can tell, the left bottom info button is useless in mobile, shall we replace with sharing button ?

[2016-02-17 10:18] jaykayone opened #1060 "désactiver rotation de la carte ?"

[2016-02-17 10:20] jaykayone commented on #1060
firefox sur android

[2016-02-17 10:28] jaykayone opened #1061 "problem with sliders on mobile"
layertree sliders are ok, but not sliders for styling drawn features.
they cannot be dragged

[2016-02-17 12:18] #694 closed

[2016-02-17 12:18] #43 closed

[2016-02-17 12:18] #267 closed

[2016-02-17 12:21] jaykayone commented on #1026
in safari

[2016-02-17 12:21] jaykayone commented on #1026
![screen shot 2016-02-17 at 13 20 48](https://cloud.githubusercontent.com/assets/1518019/13109422/5b077286-d579-11e5-88a4-408c6e38dbfa.png)

[2016-02-17 12:24] jaykayone commented on #1026
dans v2 c'est mieux

[2016-02-17 12:24] jaykayone commented on #512
faire le test, si trop compliqué, on fait trop tard

[2016-02-17 12:36] jaykayone commented on #609
a analyser la faisabilité
si trop complexe, on ne migre pas go et prof du premier coup

[2016-02-17 12:37] jaykayone commented on #586
very important

[2016-02-17 12:45] jaykayone commented on #586
compromise: when crosshair=true on device where infopanel is fullscreen, don't open panel by default. allow opening by clicking on info button.

nice to have: set a style on the info button to show that there is something to see

[2016-02-17 12:53] jaykayone commented on #601
we stay with french for the moment

[2016-02-17 13:00] jaykayone commented on #1057
http://devv3.geoportail.lu/renaud/theme/tourisme?version=3&zoom=12&X=660230&Y=6365457&lang=fr&bgLayer=basemap_2015_global&layers=158&opacities=1&crosshair=false

[2016-02-17 13:01] #1043 closed

[2016-02-17 13:05] jaykayone commented on #635
on load will be done in apache rewrite

[2016-02-17 13:08] jaykayone commented on #884
possibility to add second page to print with tooltip info,
nice to have

[2016-02-17 13:09] #867 closed

[2016-02-17 13:09] #865 closed

[2016-02-17 13:10] #872 closed

[2016-02-17 13:10] #858 closed

[2016-02-17 13:12] #736 closed

[2016-02-17 13:17] #838 closed

[2016-02-17 14:01] jaykayone opened #1062 "cookie caca ?"
doit-on faire un message d'avertissement de cookie?

[2016-02-17 14:17] rmichaelis commented on #1062
Ne faut-il pas demander à "Renow" (ou à une personne compétente) les cookies qui sont concernés et les textes légaux qui vont avec ? si ca se trouve ca ne nous concerne pas.

[2016-02-19 10:42] #1055 closed

[2016-02-19 14:51] #1038 closed

[2016-02-19 17:38] #685 closed

[2016-02-22 13:46] rmichaelis opened #1066 "ngeo compilation failure"
Hi @sbrunner,

It seems that something causing the following error has been introduced in ngeo :
Could it be solved by an option in our project?

ERR! compile /var/www/vhosts/geoportailv3_mire/node_modules/ngeo/src/directives/btngroup.js:31: Parse error. illegal use of unknown JSDoc tag "htmlAttribute"; ignoring it
* @htmlAttribute {*} ngeo-btn-group-active Any property of the scope.

[2016-02-22 13:52] sbrunner commented on #1066
It failed on witch running command by make?

[2016-02-22 13:58] rmichaelis commented on #1066
It failed in our project by executing the build command.

[2016-02-22 15:26] rmichaelis commented on #1066
Ok I've found

This solves the issue :
[code]

[2016-02-22 15:32] sbrunner commented on #1066
+1 :-)

[2016-02-22 15:33] #1066 closed

[2016-02-22 15:59] #1045 closed

[2016-02-22 15:59] #1057 closed

[2016-02-22 17:09] #1056 closed

[2016-02-23 11:00] pgiraud opened #1071 "No confirmation message when deleting all elements"
When user tries to delete one element (by clicking on the trash icon in the popup), confirmation is required.
When user tries to delete all elements at once, no confirmation is required.

[2016-02-23 14:25] #677 closed

[2016-02-24 11:02] jaykayone commented on #768
order from database / rest rather than alphabetical

[2016-02-24 15:34] #1039 closed

[2016-02-25 09:15] rmichaelis opened #1074 "Print measures"
Te measures cannot be printed

[2016-02-25 09:21] rmichaelis opened #1075 "Issue with mymaps popup"
1) Open a "mymaps"
2) Click on an object
3) Close the current "mymaps"
=> Popup is still opened and the feature cannot be edited ==> Ok
4) Open an other mymaps
=> Popup is still opened and the feature can be edited ==> KO

[2016-02-25 09:24] rmichaelis opened #1076 "Export GPX/KML is missing"
Export GPX/KML is missing when the object is a mymaps object and the user is not logged in

[2016-02-25 09:25] rmichaelis opened #1077 "Missing template for "mensuration officielle""
The layer "mensuration officielle" has no template configured

[2016-02-25 09:35] rmichaelis opened #1078 "Download NG"
Should be permanent
mount nfs1:/publication/CRAL_PDF /sketch

[2016-02-25 09:36] rmichaelis opened #1079 "Layer "affaires en cours" is missing"

[2016-02-25 09:37] rmichaelis opened #1080 "Search improvement"
Recherche « Parzell.. » en allemand donne une liste SANS les « Katasterparzellen » à à voir si on peut changer la pondération

Recherche monochamp : pas encore assez parfaite et intuitive. Problème des 4 langues (devraient être considérées TOUTES), problème de logique de recherche (à partir de début au lieu de string à l’intérieur des textes : exemple cadastral à trouve PAS parcelles cadastrales,

[2016-02-25 09:41] rmichaelis opened #1081 "Search in layers category"
Probl de retrouver les couches de l’inondation suite à recherche de mot clé « inondation », car les couches ont des noms techniques qui ne disent rien au public (HQ10)à on pourrait trouver une solution en montrant dans la recherche aussi les catégories de layers, ainsi que leurs sous-couche (contenu)

[2016-02-25 09:44] rmichaelis opened #1082 "login panel should be closed after login"
After connecting, mymaps panel should be opened if the login panel was automatically opened by mymaps.

[2016-02-25 09:45] rmichaelis opened #1083 "print issue"
"Error 500 internal server error" when printing from Surface

[2016-02-25 09:47] rmichaelis opened #1084 "too many characters  in print title"
The print template does not print the entire title if too long.
Either limit the string length or print the entire title

[2016-02-25 09:48] rmichaelis opened #1085 "En bas : texte « Légalités » pas correct à ascpects légaux"

[2016-02-25 09:49] rmichaelis opened #1086 "Layer Topo 20K is not responding"

[2016-02-25 15:14] #586 closed

[2016-02-25 16:04] pgiraud opened #1089 ""add layer" button doesn't open catalog tab"
The following error happens:
[code]

[2016-02-25 16:05] rmichaelis commented on #1089
This error should be already solved.
Are you working with http://beta.geoportail.lu/ ?

[2016-02-25 16:33] #1089 closed

[2016-02-25 16:33] pgiraud commented on #1089
Yes. Indeed. Sorry for the noise.

On Thu, Feb 25, 2016 at 5:05 PM, Renaud Michaëlis <notifications@github.com>
wrote:

--
Pierre GIRAUD
Géomaticien, Analyste

Camptocamp France SAS
Savoie Technolac, BP 352
73377 Le Bourget du Lac, Cedex

Tel : 00 33 4 79 44 44 93
Mail : pierre.giraud@camptocamp.com
http://www.camptocamp.com

[2016-02-26 16:01] #768 closed

[2016-03-01 13:45] rmichaelis opened #1093 "build is failing ?"
Hi @sbrunner ;

Do you know why this merge https://github.com/camptocamp/ngeo/blob/master/src/ol-ext/interaction/measure.js  introduced the following error ? :

[code]

[2016-03-01 14:06] fredj commented on #1093
`displayHelpTooltip` is missing from the `ngeo.interaction.MeasureBaseOptions` typedef (probably ...)

[2016-03-01 14:09] fredj commented on #1093
https://github.com/camptocamp/ngeo/pull/790

[2016-03-01 15:02] rmichaelis commented on #1093
thanks @fredj for the fix.

[2016-03-01 15:02] #1093 closed

[2016-03-01 15:15] #667 closed

[2016-03-02 08:48] jaykayone opened #1094 "dénivellé"
montrer dénivellé dans info profil

Positif et négatif

[2016-03-02 08:48] jaykayone opened #1095 "routing"
dans implémentation routing, afficher altitude de chaque point

[2016-03-02 08:48] jaykayone opened #1096 "intégrer offline mode de swisstopo"

[2016-03-02 08:48] jaykayone opened #1097 "intégrer 2.5d mode de swisstopo"

[2016-03-02 10:44] pgiraud opened #1098 "Profile doesn't update after line direction reverse"
Reversing the line direction isn't taken into account for the displayed profile.

[2016-03-02 14:56] rmichaelis commented on #1051
MapFish print doesn't seem to be the problem.
Part of the problem is due to the fact that ngeo is awaiting to have a font definition defined in this order : weight, size and family "ex : normal 10px sans-serif" and openlayers by default defines 10px sans-serif.
With a font weight the symbol has the right size but is still not at the right place. I continue to investigate.

[2016-03-04 10:25] pgiraud opened #1100 "showing tooltip when hovering feature popup's buttons"
This would be a nice enhancement.

![screenshot from 2016-03-04 11 21 45](https://cloud.githubusercontent.com/assets/319774/13524490/cedba0e0-e1fb-11e5-8ad8-c084ada7a85d.png)

[2016-03-07 07:33] rmichaelis commented on #1025
https://github.com/openlayers/ol3/pull/4976

[2016-03-07 08:39] #1071 closed

[2016-03-07 08:43] #1098 closed

[2016-03-07 13:41] #609 closed

[2016-03-07 14:43] pgiraud opened #1104 "Feature selection & map query conflict"
Clicking on a feature on the map may result in selecting the feature and querying the map at the same time. This is a bit confusing.
This doesn't happen if the drawing tools bar is open.

![select_query](https://cloud.githubusercontent.com/assets/319774/13572576/5382daa8-e47b-11e5-833a-c7596005665f.gif)

[2016-03-07 14:45] pgiraud commented on #1104
In my opinion, feature selection should prevent query.

[2016-03-07 16:29] #512 closed

[2016-03-08 08:57] jaykayone opened #1106 "Outil de reporting"
créer un outil de feedback des utilisateurs cf outil suisse

[2016-03-08 14:59] #1026 closed

[2016-03-08 14:59] #1032 closed

[2016-03-08 14:59] #1034 closed

[2016-03-08 14:59] #1051 closed

[2016-03-08 17:04] jaykayone opened #1108 "marker images"
je peux définir une image (par exemple voiture rose) et elles est correctement imprimée, mais je ne la vois pas sur ma carte

http://beta.geoportail.lu/theme/main?version=3&zoom=17&X=680320&Y=6379108&lang=fr&bgLayer=topo_bw_jpeg&layers=151&opacities=1&features=Fl%28yfha-s4c6HnSK5_nB9C4-KtA~c*%2523364fe5%27e*5%27l*dashed%27n*LineString%25201%27o*0.2%27s*circle%27t*10%27r*true%29p%28dwha-w1c6H~n*Poi