[2014-10-14 09:42] elemoine opened #1 "The repo description still includes ngeo-lux"
It looks like I can't change this myself.

[2014-10-14 12:45] #1 closed, assigned to nobody

[2014-10-17 07:38] petzlux opened #2 "RFC: Header Menu"
Il y a un menu général que l'on trouve en haut dans la partie CMS du géportail ( cartes | applications | questions | commande ...).

Peut-on considérer qu'il n'est pas très utile dans l'application carto ?
Mon avis : les utilisateurs qui en ont besoin peuvent revenir sur le CMS s'ils en ont besoin.

[2014-10-17 07:41] petzlux opened #3 "RFC: Footer Menu"
Il y a un menu en bas de page dans la partie CMS (A propos | aide | contact | légalités | ACT).

Idem question ci-dessus.
Doit-on le conserver dans la partie carto ?

[2014-10-17 07:41] petzlux opened #4 "Ordre des boutons couches/cartes"
Ordre des boutons "couches / cartes"

Quand on arrive sur une application carto, l'intérêt premier de l'utilisateur est de visualiser des couches sur la carte.
Il est donc probablement judicieux de faire apparaître le plus tôt ou, en tous cas, le plus facilement possible la liste des couches du catalogue.

Qu'en pensez-vous ?

[2014-10-17 07:42] petzlux opened #5 "Nom des onglets selection catalogue"
Nom des onglets pour la sélection et le catalogue

Pour les couches du catalogue, on a plusieurs alternatives : Liste, Catalogue.
Pour les couches sélectionnées : Mes couches, Couches, Sélection

Votre avis ? Il faut en tous cas rester le moins technique possible ou, en tous cas, utiliser des termes qui signifient quelque chose pour la plupart des utilisateurs.

Un icône pourrait aussi certainemen

[2014-10-17 07:42] petzlux opened #6 "Choix fond de carte"
Choix du fond de carte

Le choix du fond de carte est très lié à la carte. Il doit être placé soit directement sur la carte soit localisé au même endroit que la liste des couches sélectionnées.

Sa position dans les templates proposés (avec la liste des couches du
catalogue) est discutable. Dans leur proposition, c'est le catalogue qui semble être l'outil central.
Je favoriserais davantage la list

[2014-10-17 07:43] petzlux opened #7 "Onglet mes couches - bouton "ajouter des couches""
Dans l'onglet "mes couches", il me semble important de guider l'utilisateur et lui proposer un moyen de rajouter des couches. Un message "aucune couche" devrait apparaitre lorsque la sélection est vide. Et surtout un bouton "Ajouter des couches" doit permettre d'ouvrir automatiquement le widget de sélection de couches.
Ce pourrait éventuellement disparaître après le premier ajout si on considère q

[2014-10-17 07:43] petzlux opened #8 "Onglet Mes couches, ouvert par défaut?"
L'onglet "Mes couches" pourrait être ouvert par défaut. Ou en tout cas, on pourrait faire en sorte qu'il soit mis en avant. Il est selon moi l'outil central de l'application devant le catalogue.

[2014-10-17 07:43] petzlux opened #9 "Légende"
Légende.
Est-il toujours prévu d'avoir accès à la légende via le bouton "i"
dans le catalogue ou dans l'arbre des couches ?
C'est comme ça que ça fonctionne dans la nouvelle version de geoadmin.
Par contre, dans Infoterre ou dans geomapfish, il y a un widget pour la légende.

[2014-10-17 07:44] petzlux opened #10 "Icone type de couche"
Icône type de couche
Dans la version actuelle du géoportail, dans l'arbre du catalogue, un icône apparait à gauche du nom de la couche pour montrer de quel type de couche il s'agit.
Doit-on conserver cette fonctionnalité ? Est-elle est vraiment utile ou appréciée des utilisateurs ?

[2014-10-17 07:44] petzlux opened #11 "Arbre du Catalogue"
Arbre du catalogue

La représentation en arbre peut potentiellement est remise en cause.
Bien souvent les icônes qui représentent les noeuds (+ ou >) sont difficiles à comprendre. Perso, je trouve les icônes dossier (ouvert ou fermé) plus compréhensibles.

La suggestion faite par la société de design est inéressante.
(accordéon pour le 1er niveau, puis + pour le niveau 2, et tous les autres niveau

[2014-10-17 07:44] petzlux opened #12 "Couches sélectionnées"
Couches sélectionnées
Dans la plupart des applications on utilise une checkbox pour changer la visibilité des couches. Dans infoterre, c'est un icône "oeil" qui est utilisé. C'est suffisamment intuitif et ça permet de bien faire la différence avec les checkbox de sélection qui se trouvent dans le catalogue.

[2014-10-17 07:45] petzlux opened #13 "Couches sélectionnées - options de paramétrage"
Couches sélectionnées - options de paramétrage (affichage, opacité, suppression, ordre, info)

Il existe deux alternatives :
- celle qui consiste à afficher la majorité des contrôles tout le temps (infoterre),
- celle qui consiste à afficher certains au survol ou après un clic.

[2014-10-17 07:45] petzlux opened #14 "Sélecteur de thèmes"
Sélecteur de thème

 a/ Sur quels éléments a-t'il de l'influence ?
Le catalogue de données et le style (couleur) d'éléments dans la page.
D'autres ?

 b/ Est-il prévu de pouvoir mixer des couches qui proviennent de plusieurs thèmes différents ?

 c/ Si un utilisateur choisi un autre thème, est-ce qu'il perd sa sélection de couches courante ?

 d/ Le changement de couleur reste-t'il vraiment pertin

[2014-10-17 07:45] petzlux opened #15 "Outils de dessin"
Outils de dessin

Serait-il envisageable que seuls les utilisateurs inscrits puissent avoir accès aux outils de dessin via MyMaps ? cf. google

[2014-10-17 07:46] petzlux opened #16 "Messages"
Messages
Il sera à mon avis judicieux de mettre en place un système de messages pour informer l'utilisateur du résultat de ses actions. ex: après ajout d'une couche depuis le catalogue.
Ce système serait utilisé pour avertir l'utilisateur des règles de non-superposition

[2014-10-17 07:47] petzlux opened #17 "Résultats d'interrogation sur la carte"
Résultats d'interrogation sur la carte Plutôt que utiliser des popup au dessus de la carte qui apparaissent parfois de façon intenpestive et qui sont souvent mal placées, j'imaginait utiliser le bloc de gauche (tel que proposé dans les
templates) pour afficher certaines informations comme :
 - les résultats de requête sur la carte,
 - le profile,
 - compléments résultats distance,
 - routing,
 - .

[2014-10-17 07:47] petzlux opened #18 "Recherche"
Recherche
Il est certainement une bonne idée que le champ de recherche soit toujours visible et bien en évidence. Il me semble alors inutile d'avoir l'icône avec la loupe.

Par ailleurs, afin d'optimiser la place disponible, je pense que sur les petits écran, il serait intéressant de cacher la carte dès que l'utilisateur met le focus sur le champ de recherche. On pourrait afficher un message lui i

[2014-10-17 12:29] #2 closed, assigned to nobody

[2014-10-17 12:29] #3 closed, assigned to nobody

[2014-10-17 12:30] #4 closed, assigned to nobody

[2014-10-17 12:31] #5 closed, assigned to nobody

[2014-10-17 12:33] #9 closed, assigned to nobody

[2014-10-17 12:33] #10 closed, assigned to nobody

[2014-10-17 12:37] #15 closed, assigned to nobody

[2014-10-17 15:11] #7 closed, assigned to nobody

[2014-10-21 07:06] #13 closed, assigned to nobody

[2014-10-21 07:41] elemoine opened #19 "Define group/layer/theme architecture and data model"
We need to define the group/layer/theme data model and strategy, that work for both Luxembourg geoportail_v3 and GeoMapFish.

[2014-10-21 08:20] elemoine opened #20 "Define i18n architecture"
This issue is about defining the global architecture for a unified (client & server) i18n system.

[2014-10-21 08:51] #6 closed, assigned to pgiraud

[2014-10-21 09:37] #8 closed, assigned to pgiraud

[2014-10-21 09:48] pgiraud opened #21 "Catalogue - Rajouter plusieurs couches en même temps"
Dans le géoportail actuel, il n'est pas possible de rajouter toutes les couches d'un même niveau en même temps. Il n'y a des cases à cocher que au niveau des feuilles. Jamais au niveau des noeuds.
Ça me semble être une bonne chose.

On conserve ce comportement, n'est-ce pas ?

[2014-10-21 09:48] #12 closed, assigned to pgiraud

[2014-10-21 10:00] #16 closed, assigned to pgiraud

[2014-10-21 12:00] pgiraud opened #22 "changement de thème"
Serait-il possible de nous décrire un (des) scenario (scenari) dans lequel l'utilisateur est amené à changer de "thème" ?

Note : je cherche à déterminer quelle serait la meilleure façon d'intégrer le sélecteur de thème.

[2014-10-21 12:14] jaykayone opened #23 "Layers hybrides [lux]"
Nous voudrions avoir des layers hybrides qui peuvent avoir des sources différentes en fonction du niveau de zoom (tuiles ou wms selon l'échelle).

[2014-10-21 12:31] #21 closed, assigned to nobody

[2014-10-22 08:07] pgiraud opened #24 "Onglet "couches" ouvert par défaut"
Après quelques tests utilisateur, il semble que ce soit une erreur de vouloir ouvrir l'onglet "couches" par défaut au chargement de l'application. Il semble plus judicieux de laisser les nouveaux utilisateurs découvrir l'application.
Si l'onglet est ouvert alors ils ne voient pas les boutons en bas à gauche.

Proposition :
- nouveaux utilisateurs : aucun onglet ouvert au chargement de l'applicatio

[2014-10-22 11:54] #24 closed, assigned to nobody

[2014-10-22 13:49] sbrunner opened #25 "Infrastructure projet"
* [x] Projet GitHub
* [x] Structure de projet
* [x] Intégration des librairies externes
* [x] Outils de développement
* [x] Outils de test
* [x] HuBoard
* [x] Serveurs de développement
* [ ] Backport makefile to c2cgeoportal [c2c:4j]

[2014-10-22 13:53] sbrunner opened #26 "Infrastructure tuile"
* [x] Calcul des tuiles
* [x] Déploiement

[2014-10-22 13:53] sbrunner opened #27 "Layout"
* [x] Mockups
* [x] Layout général
* [x] Layout spécifique à chaque device
* [ ] Finalisation [c2c: 1j]
* [ ] Refactor table  en Angular UI [c2c: 1j]
* [ ] Mobile (contrôles à afficher) ? [c2c: ?]

[2014-10-22 13:53] sbrunner opened #28 "Authentification [lux]"
* [x] Authentification (serveur) [lux]
* [x] Gestion des droits [lux]
* [x] UI de connexion [lux]
* [ ] Rechargement du catalogue après login [lux]

[2014-10-22 13:54] sbrunner opened #29 "Navigation"
* [x] Composant Map
* [x] Navigation
* [ ] Contrôles openlayers dans la carte (zoom, full extent, full screen) [c2c: 1j]
* [ ] Mode plein écran [lux]
* [ ] Sélection de l'échelle [c2c: 1j] [lux ?]
* [ ] Affichage des coordonnées de la souris [lux ?]
* [ ] Affichage de l'altitude [lux ?]
* [ ] Sélection projection affichage coordonnées [lux ?]
* [ ] Géolocalisation [c2c: 1j] [lux]

[2014-10-22 13:54] sbrunner opened #30 "Internationalisation"
* [x] Processus de traduction client/serveur
* [x] Prise en charge de la langue
* [x] Merger fichers pot [c2c: 0.5j]
* [ ] UI changement langue [lux]
* [ ] Socle commun menu mesures/redlining/langue [c2c: 0.5j]

[2014-10-22 13:54] sbrunner opened #31 "Choix des données"
* [ ] Couches de fond [c2c: 2j]
* [x] Catalogue des données
* [ ] Sélection des thèmes [=> lux ?]
* [x] Modèle de données catalogue/thèmes
* [x] Mécanisme de caching
* [ ] Prise en charge de la version des fichiers statiques (cache bursting) [c2c: 0.25j]
* [x] Services Web
* [ ] Exclusion layer [c2c: 2j]

[2014-10-22 13:54] sbrunner opened #32 "Actions sur les données sélectionnées"
* [x] Sélection/visibilité [c2c: 1j]
* [x] Transparence [c2c: 1j]
* [ ] Ordre [c2c: 2j]
* [ ] Affichage méta-données [c2c: 2j]

[2014-10-22 13:54] sbrunner opened #33 "Outils de mesure"
* [ ] Composant (distance, surface, azimut(altitude) ) [c2c: 5j, lux: 1j]
* [x] Service Web altitude

[2014-10-22 13:54] sbrunner opened #34 "Outils de profile"
* [ ] Composant (d3.js) [c2c: 3j (ngeo), lux: 3j]
* [x] Service Web

[2014-10-22 13:54] sbrunner opened #35 "Liens avec l'application mobile native [lux]"
Invitation à utiliser l'application native

[2014-10-22 13:54] sbrunner opened #36 "Permalien et partage"
* [x] Permalien [c2c: 0.5j]
* [x] Service Web shortener
* [ ] Réseaux sociaux [lux: 1j]
* [ ] Paramètre spécifique [lux: 1.5j]
* [ ] QR code [c2c: 1j dans ngeo

[2014-10-22 13:54] sbrunner opened #37 "Impression [c2c / lux]"
* [x] UI formulaire spécifique [lux]
* [x] Interfacer le protocole [c2c: 2j]
* [x] Lecture des données de la carte [c2c: 1j]
* [x] Layers vecteurs [c2c: 2j]
* [x] Impression de la légende [c2c: 1j]
* [x] Annulation de l'impression
* [x] Configuration des templates [lux]
* [x] MapFish Print v3 fonctionnel [c2c: 1j]
* [x] Ajouter entêtes cors dans print proxy [c2c: 0.5j]

Restant c2c 01/03/2015 : 6j

[2014-10-22 13:55] sbrunner opened #38 "Fonctions de routing [lux]"
- [ ] Mockups [lux]
- [ ] Composant [lux]
- [ ] Service Web [lux]

[2014-10-22 13:55] sbrunner opened #39 "Interrogations [lux]"
* [ ] Service de query [lux]
* [ ] Composant [lux]
* [ ] Popup des résultats [lux]

[2014-10-22 13:55] sbrunner opened #40 "Recherche unifiée [lux]"
* [x] Conception [lux]
* [x] Processus mise à jour des index [lux]
* [x] Processus de déploiement [lux]
* [x] Composant [lux]
* [x] Composant ngeo [c2c]

Nous avons décidé dans https://github.com/Geoportail-Luxembourg/geoportailv3/issues/235 que Camptocamp travaillait sur un composant de recherche dans ngeo.

Restant c2c 01/03/2015 : 3j
Restant c2c 01/04/2015 : 0.5j

[2014-10-22 13:55] sbrunner opened #41 "Search Engine Optimization [c2c/lux]"
Restant c2c 01/01/2015 1j support
Restant c2c 01/02/2015 1j support

Processus SEO

[2014-10-27 10:33] #14 closed, assigned to pgiraud

[2014-10-27 14:51] pgiraud opened #42 "Taille de la topbar sur les petits écrans"
Je pense qu'il ne faudra pas conserver la taille (hauteur) de la barre en haut sur les petits écrans. Elle prend trop de place.
Voici pour comparaison ce que ça donne sur Lux / Geoadmin / Google :
![img_3879](https://cloud.githubusercontent.com/assets/319774/4792686/8cca5f86-5de8-11e4-980f-321eba43e0c3.PNG)

[2014-10-27 15:34] pgiraud opened #43 "Fonctionnalités disponibles en fonction du device"
Il nous faut déterminer la liste des fonctionnalités qui ne seront pas proposées lorsque la taille de l'écran devient petite.

[2014-10-28 10:05] pgiraud opened #44 "control geolocalisation pour devices touch"

[2014-10-28 12:11] #42 closed, assigned to nobody

[2014-10-28 14:29] petzlux opened #45 "Icones Zoom inversés"
Inverser l'ordre vers Plus Minus

[2014-10-28 15:12] #22 closed, assigned to nobody

[2014-10-29 17:10] sbrunner opened #48 "Move stuff to c2cgeoportal scaffolds"
voir: https://github.com/Geoportail-Luxembourg/geoportailv3/pull/47/files [1.5j]
* [x] Backport all new files
* [x] Backport the Makfile
* [x] Add missing tasks
* [x] Update the documentation
* [x] Update the changlog
* [x] Move the less files
* [x] Update the Luxemburg project
* [x] Move the Luxembourg specific task to the `geoportailv3.mk` file
* [x] Check other used commands: msgmerge, msgfmt,

[2014-10-29 17:11] sbrunner opened #49 "Remove buildout and rely on make only"

[2014-10-29 17:11] sbrunner opened #50 "Set up Travis"

[2014-10-29 17:12] sbrunner opened #51 "Rely on openlayers's or ngeo's tasks scripts instead of having our own copies [c2c]"
Restant c2c 01/02/2015 0.25j
Restant c2c 01/03/2015 0.25j
Restant c2c 01/04/2015 0.25j

[2014-11-06 15:33] #19 closed, assigned to sbrunner

[2014-11-06 15:36] #49 closed, assigned to sbrunner

[2014-11-10 08:46] #50 closed, assigned to sbrunner

[2014-11-12 14:57] elemoine opened #69 "Use request.static_url"
The URLs to the static resources in ngeo.html look like this `/node_modules/angular/angular.js`. This is not correct: wrong URLs are created when `mod_wsgi` is used. `request.static_url`  should be used.

[2014-11-25 11:22] elemoine opened #80 "Accomodate for the ngeo namespace changes"
ngeo a changé pas mal avec https://github.com/camptocamp/ngeo/pull/103. Ces changements ont un impact sur le code applicatif. Il faut faire les changements. Je m'en occupe.

[2014-11-25 13:11] #80 closed, assigned to nobody

[2014-11-26 07:54] jaykayone opened #82 "build derrière un proxy: Souci NPM"
Après quelques itérations de configuration, npm fonctionne maintenant derrière le proxy.
Il reste quelques soucis que nous allons décrire dans ce ticket afin de pouvoir chercher une solution

[2014-11-26 08:17] jaykayone opened #83 "build derrière un proxy: Souci nosexcover"
L'installation de nosexcover par le make ne passe pas. en utilisant un pip install manuel, il n'y a pas de souci par contre

[code]

[2014-11-26 08:22] jaykayone opened #84 "build derrière un proxy: Souci pypi"
Si nous utilisons le repo de c2c, nous avons régulièrement des soucis avec les md5 des fichiers téléchargés à travers le proxy. Bizarrement, ce souci n'apparaît pas si on n'a pas de proxy.
Si par contre nous utilisons le repo de python, c'est OK (avec ou sans proxy).
Est-ce que nous pouvons enlever la première ligne de requirements.txt?

(venv)[root@workshop3-local geoportailv3]# make -f jkonnen.m

[2014-11-26 09:11] #82 closed, assigned to nobody

[2014-11-27 10:44] rmichaelis opened #91 "Header des fichiers"
Que préconisez vous de mettre comme header dans les fichiers source ?
Les mêmes que c2c mais adapté, ou autre chose ?

exemple :

[code]

[2014-12-01 15:46] petzlux opened #94 "Missing lb locale ?"
I tried to setup the luxembourgish locale as detailed in http://docs.camptocamp.net/c2cgeoportal/master/integrator/internationalization.html

[code]

[2014-12-02 08:09] #18 closed, assigned to pgiraud

[2014-12-02 08:10] #45 closed, assigned to nobody

[2014-12-02 08:40] #69 closed, assigned to nobody

[2014-12-02 09:01] elemoine opened #96 "Travis build is broken"
See https://travis-ci.org/Geoportail-Luxembourg/geoportailv3/builds/42713668.

[2014-12-02 09:13] #84 closed, assigned to nobody

[2014-12-02 11:02] #96 closed, assigned to nobody

[2014-12-03 11:11] #83 closed, assigned to nobody

[2014-12-03 13:31] petzlux opened #101 "Comment intégrer de nouveaux dépendances style requirements.txt"
Pour le travail de traduction, je voulais installer lingua dans le processus de build, mais je n'ai pas trouvé ou mettre la dépendance.  Un fichier classique style pip install -r requirements.txt semble pas exister.

[2014-12-03 13:33] petzlux opened #102 "Comment intégrer de nouveaux dépendances style requirements.txt"
Pour le travail de traduction, je voulais installer lingua dans le processus de build, mais je n'ai pas trouvé ou mettre la dépendance.  Un fichier classique style pip install -r requirements.txt semble pas exister.

[2014-12-03 13:33] #101 closed, assigned to nobody

[2014-12-03 13:47] #102 closed, assigned to nobody

[2014-12-03 13:55] jaykayone opened #104 "Version d'intégration"
J'ai défini une version d'intégration qui tourne chez nous sur la branche master en mode wsgi:

http://devv3.geoportail.lu/main/wsgi/ngeo

Cette version peut par exemple être utilisée chez vous pour intégrer le contrôleur wms interne dans vos instances de développement

[2014-12-03 15:31] #104 closed, assigned to nobody

[2014-12-08 13:46] #94 closed, assigned to elemoine

[2014-12-09 13:47] pgiraud opened #110 "travis tests are broken"
Currently the tests are broken when using travis.
This is a known issue. I opened this issue to keep track on this.

FYI, the issue is related to a failing dependency on GeoFormAlchemy2.
@sbrunner commited a change in c2cgeoportal to fix this
https://github.com/camptocamp/c2cgeoportal/commit/c17436b01a40259138be19fd3c1f191a89ce7d57

[2014-12-09 16:38] #110 closed, assigned to nobody

[2014-12-19 21:12] jaykayone opened #129 "Récursion dans le service de thème"
Le service themes de c2cgeoportal a un problème avec les hiérarchies à plusieurs niveaux.
Voici par exemple ce qu'on devrait retrouver au premier niveau
![screen shot 2014-12-19 at 22 11 03](https://cloud.githubusercontent.com/assets/1518019/5511286/f644c1d8-87cb-11e4-9ecc-b6773b6d036d.png)

et ce qu'on trouve

![screen shot 2014-12-19 at 22 11 45](https://cloud.githubusercontent.com/assets/151801

[2014-12-19 21:14] jaykayone opened #130 "InternalWMS: restUrl [lux]"
L'URL rest ne devrait pas faire partie des metadataUI parce qu'elle ne doit pas être transmise vers l'extérieur. Etendre le modèle de données ..

[2014-12-19 21:23] jaykayone opened #131 "config://my_maps"
La valeur de prod pour config://my_maps est d'ailleurs http://ws.geoportail.lu/mymaps (pour tester par exemple la couche "env_sentiersnature"

[2015-01-05 09:58] elemoine commented on #131
Je suis désolé mais je ne comprends pas cet issue. Quelqu'un peut m'éclairer ?

[2015-01-05 10:03] jaykayone commented on #131
ici: http://luxembourg-geomapfish.dev.sig.cloud.camptocamp.net/pgiraud la couche "env_sentiersnature" ne marche pas parce que l'url my_maps dans la config est fausse

[2015-01-05 10:06] elemoine commented on #131
Ok, merci pour la précision.

[2015-01-06 07:37] jaykayone commented on #26
une première implémentation est faite et est opérationnelle avec mapproxy. il y aura évtl des changements au cours du projet, mais ça ne devrait pas impacter le développement

[2015-01-06 09:57] sbrunner commented on #129
Effectivement, je suis en train de regarder :-)

[2015-01-06 10:41] #131 closed

[2015-01-06 14:59] elemoine opened #135 "Switch language programmatically"
This how we can switch language programmatically (in the dev tools console):

[code]

[2015-01-07 11:18] sbrunner opened #138 "The themes errors should be displayed [c2c]"
In the integration environment the themes error should be displayed.

Actually with GeoMapFish it's the case in all environment.

[2015-01-07 12:16] jaykayone commented on #138
que dois-je faire?

[2015-01-07 12:26] sbrunner commented on #138
Je ne sais pas si c'est plutôt @elemoine ou @pgiraud qui doit le faire dans le composant de catalogue...

[2015-01-07 13:38] jaykayone opened #140 "layer_external_wms -> wrong request parameters for "LAYERS" [c2c]"
Restant c2c 01/02/2015 0.25j

----

The WMS request that is issued is not correct:

eg for env_sentiers the following request is sent:

http://ws.geoportail.lu/mymaps?category_id=15&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=env_sentiersnature&CRS=EPSG%3A3857&STYLES=&WIDTH=1680&HEIGHT=892&BBOX=640024.3755957562%2C6361959.241609995%2C704231.4793553044%2C6396

[2015-01-07 13:51] #129 closed, assigned to sbrunner

[2015-01-07 14:22] sbrunner commented on #140
Related with camptocamp/c2cgeoportal#1168

[2015-01-07 15:25] sbrunner commented on #138
I hope that that will fix it: camptocamp/c2cgeoportal#1169

[2015-01-12 11:09] sbrunner opened #143 "Less files"
Why less folder is in the project "root" folder ?
for me it should be in the folder "geoportailv3/static/" ...

[2015-01-12 12:32] pgiraud commented on #143
We don't need the less files to be accessible by the browser actually.

[2015-01-13 09:12] pgiraud opened #144 "Layers exclusion [c2c]"
Get from #31

Restant c2c 01/01/2015 2j
Restant c2c 01/02/2015 2j
Restant c2c 01/03/2015 2j

----

Some layers cannot be displayed together on the map. There's an exclusion mechanism.

[2015-01-14 13:10] elemoine opened #147 "Background layer question"
In https://github.com/camptocamp/ngeo/pull/133 I created a `backgroundLayerMgr` service and an example implementing a background layer selector based on that service. In that example a standard `<select>` element is used. The example can be seen at http://erilem.net/ngeo/backgroundlayer/backgroundlayer.html.

The question is: is using a regular `<select>` ok for the geoportailv3 project? The drawb

[2015-01-14 13:26] jaykayone commented on #147
Hi
I'm not near a computer so I cannot check it myself.
What was used in the prototype implemented by the designers?

Will a normal select fit into the design or will it necessarily be ugly?

I suspect that it will render diffenrently on diffenrent platforms and browsers which is not wantes

Jeff

[2015-01-14 14:04] elemoine commented on #147
A component that pushes the "my layers / catalog" panel down when the list opens. When we were in Lausanne we said that we weren't sure we'd keep that. See https://github.com/Geoportail-Luxembourg/geoportailv3/issues/6.

But, in the design prototype, the design of background layer is obviously well integrated with the rest of the page.

Right.

So this means we should try to use a Bootstrap (or Bo

[2015-01-14 14:16] jaykayone commented on #147
RIGHT

YES

[2015-01-14 16:20] rmichaelis opened #148 "Questions sur l'authentification."
Hello,

Je suis en train de développer le composant d’authentification.
Pour se faire, je me connecte à une base de données ldap et je vérifie que mon utilisateur est valide.

J’ai plusieurs questions :

1)	J’ai du installer dans mon environnement des librairies python et ldap.
a.	Yum install openldap-devel
b.	Pip install python-ldap
c.	Pip install pyramid_ldap
Comment dois-je faire pour automatis

[2015-01-14 17:30] #26 closed

[2015-01-14 20:00] jaykayone commented on #138
Maintenant c'est tilecloud qui demande nose ...

[2015-01-15 08:20] sbrunner commented on #138
Hello,

Je viens de faire une version 0.2dev-20150115 qui doit corriger le problème.

CU et merci de la notif :-)

Stéph

2015-01-14 21:00 GMT+01:00 Jeff Konnen <notifications@github.com>:

--
camptocamp.com
mapfish.org

[2015-01-15 09:01] elemoine commented on #147
Here is a new example based on [Angular Bootstrap](http://angular-ui.github.io/bootstrap/)'s `dropdown` directive: http://erilem.net/ngeo/backgroundlayer2/backgroundlayerdropdown.html.

[2015-01-15 09:03] jaykayone commented on #147
much better :)

[2015-01-19 15:06] elemoine commented on #27
@pgiraud, est-ce qu'on peut considérer que le layout général est fait et qu'il est fait pour tous les types de devices ciblés ? (On a besoin de cette réponse pour les estimations.)

[2015-01-19 16:15] elemoine commented on #143
@sbrunner can we close this?

[2015-01-20 08:26] elemoine commented on #51
Remove unused scripts.

[2015-01-20 08:46] elemoine commented on #27
Après discussion : il faut qu'on teste régulièrement l'interface sur différents navigateurs et devices, et ouvrir des issues dès que des problèmes sont détectés.

[2015-01-20 09:15] elemoine opened #158 "Useful project links"
Useful links:

* Luxembourg's dev server http://devv3.geoportail.lu/main/wsgi/
* Mockups http://dev.camptocamp.com/files/lux/geoportail_lux_specs/cartes/

[2015-01-20 09:34] elemoine commented on #29
Le bouton "plein écran" sera au même endroit que les boutons +/- de zoom (dans la carte), et tous les boutons doivent avoir le même look&feel.

Dans un premier temps, l'équipe Luxembourg peut utiliser simplement le control FullScreen d'OpenLayers, en ajoutant ce control à la carte (qui est créée dans le `MainController`).

[2015-01-20 09:37] jaykayone opened #159 ""Mes couches" -> décalage apès traduction"
http://devv3.geoportail.lu/main

Sur Firefox 35 / Mac OS Yosemite

Depuis qu'il y a la traduction "Mes couches", le contenu est décalé vers le bas.
------
![screen shot 2015-01-20 at 10 37 34](https://cloud.githubusercontent.com/assets/1518019/5814878/5eac7ffe-a090-11e4-816c-228e925efb20.png)

[2015-01-20 09:39] jaykayone opened #160 "Catalogue interférences d'ouvertures de groupes"
Dans Firefox 35 / Mac OS Yosemite, l'ouverture d'un sous-groupe referme le groupe principal

[2015-01-20 09:40] jaykayone opened #161 "Catalogue: activation de couches"
Dans Firefox 35 / Mac OS Yosemite, si on active la couche "anf_reserves_naturelles", les 4 couches de se niveau sont cochées, mais aucune d'elles n'est affichée

[2015-01-20 09:58] elemoine commented on #160
Tu peux stp décrire de manière plus précise comment reproduire le problème (pas à pas). Je suis étonné, il me semble que je ne reproduis pas dans mon Firefox (Firefox 36.0a2 Linux).

[2015-01-20 10:01] elemoine commented on #161
À nouveau (comme #160) je ne reproduis pas le problème dans mon Firefox (36.0a2 Linux). Ce bug me semble être un bug de logique, je suis donc étonné de ne pas pouvoir le reproduire.

[2015-01-20 10:11] petzlux opened #162 "Search: specify layers to return results for per theme [lux]"

[2015-01-20 10:25] jaykayone commented on #160
![interferences](https://cloud.githubusercontent.com/assets/1518019/5815564/f2039be2-a096-11e4-94a5-7b0f3369abdc.gif)

[2015-01-20 10:25] jaykayone commented on #161
cf video https://github.com/Geoportail-Luxembourg/geoportailv3/issues/160

[2015-01-20 10:28] pgiraud commented on #160
Le code ne semble pas être complètement à jour.
En effet, il devrait y avoir un +/- qui apparait à droite pour le niveau 2.

![screenshot from 2015-01-20 11 27 37](https://cloud.githubusercontent.com/assets/319774/5815623/66bf566a-a097-11e4-9383-45b7a08e7872.png)

[2015-01-20 10:32] jaykayone commented on #160
en mode incognito c'est OK, il semble donc y avoir un problème de cache assez brutal, est-ce qu'il faudrait dès le départ prévoir de charger certains fichiers avec un paramètre de version comme c'était déjà la cas dans l'ancienne version? (idem https://github.com/Geoportail-Luxembourg/geoportailv3/issues/161)

[2015-01-20 10:40] #161 closed

[2015-01-20 10:41] jaykayone commented on #160
je ferme celui-ci et je rouvre un autre

[2015-01-20 10:41] #160 closed

[2015-01-20 10:42] jaykayone opened #163 "Prise en charge de la version des fichiers statiques (cache bursting) [c2c]"
Get from #31
Restant c2c 01/01/2015 0.25j
Restant c2c 01/02/2015 1j

----

Firefox semble avoir un gros souci de cache après upgrade de la solution.
On doit prévoir un mécanisme d'invalidation du cache dès le départ (par exemple avec un paramètre de version dans les requêtes de chargement du js)

[2015-01-20 10:48] pgiraud opened #164 ".build/config.yaml may not be up-to-date"
After a `make update-node-modules` the closure utils library version number may have changed.
However, the `closure_library_path` in `.build/config.yaml` may not be up-to-date.

[2015-01-20 10:51] elemoine commented on #163
Oui, @sbrunner et moi avons discuté de ça hier. Nous avons prévu de le prendre en place. @sbrunner, ça pourrait être une de tes prochaines tâches non ?

[2015-01-20 11:12] elemoine opened #167 "Shapely installation issue"
We get hit by https://github.com/Toblerity/Shapely/issues/231, making the build fail on Travis.

[2015-01-20 11:15] elemoine commented on #167
Until this is fixed we can go back to Shapely 1.5.4. @sbrunner, what is the proper place in the project to fix package versions?

[2015-01-20 11:18] elemoine commented on #167
`requirements.txt` I guess.

[2015-01-20 11:20] sbrunner commented on #163
Oui :-)

[2015-01-20 11:22] sbrunner commented on #167
Yes :-)

[2015-01-20 11:27] #167 closed

[2015-01-20 12:51] petzlux opened #169 "Spec du service Recherche"
Dans le géoportail existant, la recherche fonctionne avec deux calls:

Premièrement, le service autocomplete  (locationsearch) retourne les résultats appropriés dans le format suivant:

[code]

Quand un résultat est sélectionné par l'utilisateur, une deuxième requête au service geometry est lancée, qui transmet l'id du feature sélectionnée, et qui retourne la géométrie (point, ligne ou polygone) d

[2015-01-20 13:57] #164 closed

[2015-01-20 14:38] #159 closed

[2015-01-20 14:52] petzlux opened #171 "set angular translate tags in catalog , and elsewhere"
for example in
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/catalog/layertreenode.html#L4

[2015-01-21 09:24] sbrunner commented on #51
When I remove them I have an error ...

[2015-01-21 10:31] elemoine opened #175 "Concat minified js files"
Currently, we have script tags for `jquery.min.js`, `bootstrap.min.js`, etc. Instead we could concatenate these minified files into one file and use one script tag only.

[2015-01-21 10:34] elemoine opened #176 "Pre-cache directive partials [c2c]"
Restant c2c 01/02/2015 0.5j

----

Currently, the directive partials are downloaded at the application init time. Instead, we should add it to `build.js`. Doing that involves generating a template cache. See https://github.com/camptocamp/ngeo/commit/85350013da94da56a7e8aebd72772b6191a2c4a9 for an example.

[2015-01-21 10:42] elemoine commented on #148
Je n'ai toujours pas eu le temps de regarder ça, et je dois passer à autre chose. Je le fais la semaine prochaine. Ou, si c'est urgent, et que @sbrunner a le temps de regarder ça alors je le laisse faire.

[2015-01-22 11:10] #48 closed

[2015-01-23 10:40] #17 closed

[2015-01-26 08:05] petzlux opened #181 "C2C pypi server - package problems ?"
[code]

[2015-01-26 08:07] rmichaelis commented on #181
Est-ce que ce n'est pas un problème de cache sur notre proxy ??

[2015-01-26 08:08] petzlux commented on #181
on avait des problèmes, mais @jaykayone avait dit que c'etait résolu !

[2015-01-26 08:25] petzlux commented on #181
Autre problème:

on a besoin d'une branche spécifique de transifex de transifex pour éviter des problèmes de proxy, comme spécifié dans
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/requirements.txt#L5

Par contre, dans mon build, transifex semble étre chargé du pypi c2c , qui ne semble pas contenir la bonne version de transifex:

[code]

Donc nos problèmes de proxy reviennent

[2015-01-26 09:20] jaykayone commented on #140
The problem is still there after the latest update to c2cgeoportal

[2015-01-26 10:58] sbrunner commented on #181
Hello, pour transifex c'est tout a fait normal qu'il charge la version 0.10, si on veut une version de "dev" il faut spécifier la version dans `DEV_REQUIREMENTS += transifex-client`
par exemple avec `DEV_REQUIREMENTS += transifex-client>=0.11.1dev` :-)

[2015-01-26 11:06] sbrunner commented on #181
Pour Pillow il doit de nouveau avoie un problème dans votre proxy ...
si je fais :
[code]
J'obtiens le bon md5 ...

[2015-01-26 12:09] geoportallux commented on #181
Bizarrement, la règle “no-cache” est définie au niveau du host complet …
Je vais quand même leur demander

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Luxembourg
Tél. (+352) 44901-261 . Fax

[2015-01-26 12:56] jaykayone commented on #181
avec wget, ça marche aussi correctement:
[root@workshop3-local tmp]# md5sum Pillow-2.7.0.zip
da10ee9d0c0712c942224300c2931a1a  Pillow-2.7.0.zip

[2015-01-26 14:13] jaykayone opened #182 "Eviter que les clés de traduction soient visibles avant que les traductions ne soient chargées [c2c]"
Restant c2c 01/02/2015 0.25j uniquement pour investigation
Restant c2c 01/03/2015 0.25j uniquement pour investigation
Restant c2c 01/04/2015 0.25j uniquement pour investigation
Restant c2c 01/05/2015 0.25j uniquement pour investigation

[2015-01-26 15:58] pgiraud opened #183 "db2pot command not found"
I've updated my local clone of the project, called `make clean`, then `make build`, but I now get the following error:
[code]

[2015-01-26 16:28] pgiraud commented on #183
I did a cleanall and everything is OK now. Closing.

[2015-01-26 16:28] #183 closed

[2015-01-26 16:46] pgiraud opened #184 "debug mode doesn't work anymore"
Restant c2c 01/02/2015 0.5j

----

I get the following error: `goog.require could not find: app.MainController`

`http://localhost:5000/closure-deps.js` returns an empty response.

[2015-01-26 17:41] jaykayone commented on #184
same for me

[2015-01-27 08:58] rmichaelis opened #185 "--trusted-host is not a valid option in build"
Any idea ?

 make -f renaud.mk build
.build/venv/bin/pip install --index-url http://pypi.camptocamp.net/pypi --find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal --find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal-win --trusted-host pypi.camptocamp.net -r CONST_versions.txt -e git+https://github.com/camptocamp/pyramid_closure#egg=pyramid_closure -e .

Usage

[2015-01-27 09:03] geoportallux commented on #185
make cleanall ...

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Luxembourg
Tél. (+352) 44901-261<tel:(+352)%2044901-261> . Fax (+352) 44901-333<tel:(+352)%2044901-333>
E-mail: jeff.konnen@ac

[2015-01-27 09:07] pgiraud commented on #185
Une nouvelle version de pip doit être installée.
Le `make cleanall` aide bien en effet.

On Tue, Jan 27, 2015 at 10:03 AM, geoportallux <notifications@github.com>
wrote:

--
Pierre GIRAUD
Géomaticien, Analyste

Camptocamp France SAS
Savoie Technolac, BP 352
73377 Le Bourget du Lac, Cedex

Tel : 00 33 4 79 44 44 93
Mail : pierre.giraud@camptocamp.com
http://www.camptocamp.com

[2015-01-27 09:09] rmichaelis commented on #185
Zut, j'ai à nouveau le problème de  "Bad md5 hash" quand je fais le cleanall.

[2015-01-27 09:41] pgiraud commented on #135
See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/172

[2015-01-27 09:42] rmichaelis commented on #185
J'ai passé le problème du "Bad md5 hash" en installant la librairie Pillow manuellement.

Par contre nouvelle erreur :
@sbrunner  J'essaye de faire un build sur le master et je recois l'erreur suivate de db2pot :
database "lux" does not exist

Est-ce que j'ai besoin d'une configuration particulière ?

mkdir -p geoportailv3/locale/
.build/venv/bin/db2pot
Traceback (most recent call last):
  File ".

[2015-01-27 10:02] rmichaelis commented on #185
J'ai refait un clean et c'est passé.
C'est en ordre.

[2015-01-27 10:02] #185 closed

[2015-01-27 10:51] sbrunner commented on #148
1) Il faut les ajouter dans le `install_requires` du `setup.py`: https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/setup.py#L18

[2015-01-27 10:54] sbrunner commented on #148
2) Cela me semble effectivement le bon endroit :-)

[2015-01-27 11:00] petzlux opened #187 "Need to add .eggs to .gitignore ?"
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/search/.eggs/README.txt

[2015-01-27 11:01] sbrunner commented on #148
3) Personnellement je les mettrais plutôt dans les variables à exporté soit ajouter
`CONFIG_VARS += ldap_url ldap_base_dn` dans le fichier geoportailv3.mk
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3.mk#L18

A voir si cela fonctionne, car si on en a besoin avant le include de c2cgeoportal
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportail

[2015-01-27 11:04] sbrunner commented on #148
4) @elemoine tu as probablement plus d'informations que mois, ce que je peut dire c'est que dans CGXP on effectue une requête d’authentification ajax et on recharge la page uniquement si c'est ok.

[2015-01-27 11:06] sbrunner commented on #148
5) non, cela n'existe pas et il vaut mieux que l'on le fasse dans c2cgeoportal.

[2015-01-27 11:15] sbrunner commented on #187
I don't understand why this repository is created ...
Anyone know why ?

[2015-01-27 12:31] elemoine commented on #187
I don't know either at this point, but it should be removed from the GitHub repository.

[2015-01-27 12:55] sbrunner commented on #187
sure that should be removed :-) and added to the .gitignore !

[2015-01-27 14:15] #143 closed

[2015-01-27 14:24] pgiraud commented on #143
So the less files are now in static folder, right?

[2015-01-27 14:32] sbrunner commented on #143
yes

[2015-01-27 20:52] jaykayone opened #195 "problem with translations when label <> key [lux]"
There is a problem in the translations:
http://devv3.geoportail.lu/main/ vs http://emwelt.geoportail.lu/

In the old version there is a group called "env_bruit" which should be translated "bruit"... but it is translated "Aéroport 2011 (LNGT)"...

I guess it is a problem with the migration of the translations @petzlux ... in the old portal, the group was called "env_bruit" but it's label was "bruit

[2015-01-28 07:37] petzlux commented on #195
maybe simplest to update transifex  .... ?

[2015-01-28 07:38] petzlux commented on #181
@sbrunner okay, probleme transifex resolu avec #191

[2015-01-28 13:14] pgiraud opened #196 "layer info - Modal ?"
Bonjour,

J'ai commencé à travailler sur l'outil qui permettra d'afficher des infos (métadonnées) sur les couches de données.
Pour afficher ces métadonnées, plusieurs options s'offrent à nous en terme de UI.

- popover :
L'avantage de cette solution est que le block qui apparait est lié à un élément via une flèche.
Il sera par contre assez difficile de gérer techniquement le fait qu'un seul popove

[2015-01-28 13:23] jaykayone commented on #196
En tout cas, la solution actuelle n'est pas optimale, parce que le texte des métadonnées peut remplir toute la fenêtre et on ne voit alors pas la légende. La légende elle peut-être très longue ..

Une petite fenêtre comme un popover ne s'y prête donc pas.

La solution à la geoadmin est viable sans me plaire, surtout qu'on peut y superposer une multitude de popups

[2015-01-28 13:27] pgiraud commented on #196
Pour info, mon commentaire était parti un peu vite. J'ai complété.

@jaykayone "viable sans me plaire"  : peux-tu élaborer ?

[2015-01-28 13:32] pgiraud commented on #196
Au SITG, quand la fiche de métadonnées est conséquente, c'est une nouvelle fenêtre du navigateur qui s'ouvre.
http://ge.ch/geoportail/pro/?share=2bf9e744-881b-435a-8237-45cda4fac5d4

![screenshot from 2015-01-28 14 30 40](https://cloud.githubusercontent.com/assets/319774/5938359/6fc06be6-a6fa-11e4-9ca9-ff26397ddfe8.png)

[2015-01-28 13:38] jaykayone commented on #196
Ma réponse était partie trop vite aussi, tu n'avais pas encore complété.
Le premier truc qui me gêne c'est qu'on puisse en ouvrir plusieurs, tu l'as dit toi-même dans ta réponse complétée.
Je dis viable parce que ça correspond au fonctionnement actuel ... donc faisable et OK
Mais l'actuel ne me plaît pas non plus, notamment parce qu'on doit scroller autant.
Est-ce qu'un panneau latéral tel que tu

[2015-01-28 13:43] pgiraud commented on #196
Quand tu parles de l'actuel, tu parles du géoportail Luxembourg actuel n'est-ce pas ?
Autre considération à prendre en compte, c'est l'affichage sur mobile.

OK, mais ça fonctionne bien et même sur mobile. C'est sans surprise.

[2015-01-28 13:47] pgiraud commented on #196
Un inconvénient est peut-être la largeur réduite de ce panneau.

[2015-01-28 13:52] jaykayone commented on #196
oui, "actuel" c'est le map.geoportail.lu actuel

[2015-01-28 15:08] rmichaelis opened #197 "Bad interaction between Fullscreen and left panel [lux]"
If the left panel is open and if we enter in the fullscreen mode, the map is displayed between 2 black boxes.
Modifying the property width of the map from "auto" to "100%" solves the problem. But the left panel does not work as expected anymore.

[2015-01-28 15:28] rmichaelis opened #198 "The scale bar is behind the map"
The scale bar is behind the map

[2015-01-28 15:47] petzlux commented on #196
Je ne vois pas d'inconvénient majeur a une fenêtre modale , avec un button clair pour fermer, ca se prête alors aussi bien pour le mobile ou l'on peut utiliser toute la fenêtre.

Tout popover assez large est fonctionellement similaire a un modal de toute facon. Un popover en général contient juste un contenu court, un tooltip par exemple ...

[2015-01-28 15:48] petzlux commented on #196
Autre question est quels sont les metadonnées qu'on veut afficher, la quantité de contenu dicte aussi quel manière d'affichage on doit choisir.

[2015-01-29 08:11] elemoine opened #200 "Modified .po files in the working dir [c2c]"
Restant c2c 01/02/2015 1j

----

With the latest `master` I get modified `.po` and `.pot`  files (reported by Git as such) after a build. Is this related to the discussion in https://github.com/Geoportail-Luxembourg/geoportailv3/pull/191? Is someone going to work on this?

[2015-01-29 08:14] #175 closed

[2015-01-29 08:16] elemoine opened #201 "angular-animate.min.js.map 404 (Not found) error in non-debug mode"
We get this error at application load time in non-debug mode:

[code]

This is annoying and should be fixed eventually.

[2015-01-29 08:18] geoportallux commented on #200
patrick is away until monday...
maybe sbrunner?

I remember that the files were included in a commit for travis to be happy ...
But I dont know any details

Jeff Konnen

Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG

Ministère des Finances

Administration du cadastre et de la topographie

Service informatique & Service géoportail

54, avenue Gaston Di

[2015-01-29 08:19] #187 closed

[2015-01-29 09:14] sbrunner commented on #200
I don't have any pot modified, for the po at each build he ge the new files from transifex if we don't want that we should remove this line: https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3.mk#L19

[2015-01-29 09:52] #158 closed

[2015-01-29 11:24] petzlux commented on #200
+1 for excluding transifex push pull from build

[2015-01-29 16:38] elemoine commented on #32
À noter que pour l'ordre des couches Pierre et moi avons travaillé sur une directive `ngeoSortable` et un service `ngeoSyncArrays` pour la sélection des couches et le drag&drop des couches dans le layer manager. Les PRs sont https://github.com/camptocamp/ngeo/pull/148, https://github.com/camptocamp/ngeo/pull/149, et https://github.com/camptocamp/ngeo/pull/151.

La directive `ngeoSortable`, qui per

[2015-01-29 17:43] elemoine commented on #200
@sbrunner I have `geoportailv3/locale/geoportailv3-db.pot`.

[2015-01-29 17:44] elemoine opened #202 "Add pytz-2014.10-py2.7.egg to .gitignore"
The build process adds `pytz-2014.10-py2.7.egg` as an untracked file. Should it be added to `.gitignore`?

[2015-01-29 17:49] sbrunner commented on #202
He isn't in the `.eggs` folder ?
We added the `.eggs` folder to the `.gitignore` for him ...

[2015-01-29 17:52] elemoine commented on #202
It's not in my case. It's at the root of the repo.

[2015-01-29 18:20] rmichaelis opened #203 "Fullscreen constrol problem when using multiple css class names"
When the full screen control is declared with more than one className example: ol.control.FullScreen({className: 'hidden-xs ol-full-screen'})

The fullscreen icon does not change anymore when entering in full screen mode.

This seems to be due to the fact that in the fullscreen control the function "goog.dom.classlist.swap" should be used with only one className.

[2015-01-30 07:06] rmichaelis commented on #203
Solves by inherited the class hidden-xs in .ol-full-screen

[2015-01-30 07:07] rmichaelis commented on #203
Solves by inherited the class hidden-xs in .ol-full-screen

[2015-01-30 07:07] #203 closed

[2015-01-30 08:13] elemoine commented on #31
Pour les couches de fond il me reste à connecter le composant des couches de fond au web service des thèmes. Il faudra aussi que je fasse du refactoring pour que la réponse du web service des thèmes soit partagé par les composants catalogue et couches de fond, à travers un service. Je pense que j'ai besoin d'½ journée pour ça.

[2015-01-30 10:09] #30 closed

[2015-01-30 10:09] #25 closed

[2015-01-30 13:27] elemoine opened #205 "Interrogation clic-droit"
Avec le géoportail actuel il est possible de faire un clic-droit pour obtenir un certain nombre d'informations relatives à la position géographique cliquée.

Voici à quoi ressemble la popup de résultats :

![right-click-popup](https://cloud.githubusercontent.com/assets/76594/5976216/99a60690-a88b-11e4-89ff-79f3ee1925e3.png)

La popup contient donc :

* des permaliens
* un QR code (permalien)
* des

[2015-01-30 13:31] elemoine opened #206 "Sélection de l'échelle [c2c/lux]"
Get from #29
Restant c2c 01/01/2015 1j
Restant c2c 01/02/2015 fini

---

Une directive `ngeoScaleselector` a été développée dans ngeo pour cette fonctionnalité. Voir https://github.com/camptocamp/ngeo/pull/150.

Cette directive utilise le plugin `dropdown` de Bootstrap. L'exemple `scaleselector` dans ngeo montre comment utiliser cette directive, et comment la configurer pour que le mode "dropup" p

[2015-02-02 07:58] jaykayone commented on #205
ce n'est pas primordial, je propose que ce soit réalisé par @rmichaelis ou @petzlux le moment venu.

[2015-02-02 07:59] jaykayone commented on #206
intégration à faire par @petzlux

[2015-02-02 08:11] jaykayone commented on #196
Le contenu est le même qu'aujourd'hui

en moyenne, c'est ceci, mais les description peuvent être bcp plus longues
![screen shot 2015-02-02 at 09 09 37]

(https://cloud.githubusercontent.com/assets/1518019/5997423/45407afe-aabb-11e4-8fd9-694b36a2bcab.png)

je suis finalement pour une solution à la geoadmin (sans ouverture multiple). ça me semble le meilleur compromis

[2015-02-02 08:42] #171 closed

[2015-02-02 08:52] pgiraud commented on #184
This has been fixed in pyramid_closure. Closing.

[2015-02-02 08:55] pgiraud opened #207 "openlayers controls - incorrect display"
Characters are shown in the fullextent and fullscreen buttons.
![screenshot from 2015-02-02 09 54 17](https://cloud.githubusercontent.com/assets/319774/5997918/a6d2a99e-aac1-11e4-8a8d-73b4de27ddc1.png)

[2015-02-02 08:57] pgiraud commented on #196
OK. Merci.

[2015-02-02 08:57] #196 closed

[2015-02-02 08:59] pgiraud commented on #147
Question answered. Closing.

[2015-02-02 08:59] #147 closed

[2015-02-02 09:15] elemoine commented on #207
@pgiraud I just added the `bug` and `Base/Navigation` labels. I think it makes sense to try to add proper labels when we create new issues.

[2015-02-02 09:57] sbrunner opened #208 "Réseaux sociaux [lux]"
Get from #36

[2015-02-02 09:57] sbrunner opened #209 "Permaliens: Paramètre spécifique [c2c, lux]"
Get from #36

Restant c2c 01/02/2015 : 0.5j (implémenter la base, explication)
Restant c2c 01/03/2015 : 1j (implémenter la base, explication)

Note : j'ai ajouté ½ journée pour prendre en compte les permaliens "dièse" et cookies/localStorage, même si je ne connais encore pas les implications.

[2015-02-02 09:58] jaykayone opened #210 "db2es problem in wsgi mo"
wsgi mode does not start anymore because of db2es which looks for development.ini at the wrong place
[Mon Feb 02 10:54:14.668020 2015] [autoindex:error] [pid 19757] [client 10.111.80.101:51356] AH01276: Cannot serve directory /var/www/html/: No matching DirectoryIndex (index.html) found, and server-generated directory index forbidden by Options directive
[Mon Feb 02 10:54:21.000219 2015] [:error]

[2015-02-02 09:59] sbrunner opened #211 "QR code dans ngeo [c2c]"
Get from #36

Restant c2c 01/01/2015 1j
Restant c2c 01/02/2015 1j

[2015-02-02 09:59] sbrunner opened #212 "Nice to have: le permalien inclut les objets dessinés"
Get from #36

[2015-02-02 10:01] sbrunner opened #213 "Outil de profile, Composant (d3.js) (ngeo)"
Get from #34

Restant c2c 01/01/2015 3j
Restant c2c 01/02/2015 3j
Restant c2c 01/03/2015 1j (support pour intégration dans l'application)

[2015-02-02 10:02] sbrunner opened #214 "Integration outil de profile [lux]"
Get from #34

[2015-02-02 10:02] #34 closed

[2015-02-02 10:03] sbrunner opened #215 "Outil de mesure, (distance, surface, azimut(altitude), ngeo [c2c]"
Get from #33

Restant c2c 01/01/2015 5j
Restant c2c 01/02/2015 5j

 * [x] Distance
 * [x] Surface
 * [x] Azimut
 * [ ] Altitude

[2015-02-02 10:03] sbrunner opened #216 "Integration outil de mesure [lux]"
Get from #33

 * [x] Distance
 * [x] Surface
 * [x] Azimut
 * [x] Altitude

[2015-02-02 10:03] #33 closed

[2015-02-02 10:05] jaykayone commented on #207
OK, can reproduce on current state of master @rmichaelis

[2015-02-02 10:05] sbrunner opened #217 "Donnée selectionnée / Ordre des couches [c2c, lux]"
Get from #32
Restant c2c 01/01/2015 2j
Restant c2c 01/02/2015 fini

 * [ ] Intégration [lux]

[2015-02-02 10:06] sbrunner opened #218 "Affichage méta-données des couches [c2c]"
Get from #32
Restant c2c 01/01/2015 2j
Restant c2c 01/02/2015 0.5j

Reste intégration [lux]

[2015-02-02 10:06] #32 closed

[2015-02-02 10:07] sbrunner opened #219 "Couches de fond [c2c]"
Get from #31
Restant c2c 01/01/2015 2j
Restant c2c 01/02/2015 fini

[2015-02-02 10:08] sbrunner opened #220 "Sélection des thèmes [c2c/lux]"
Get from #31
* [x] Service return backgrounds and themes [c2c]
* [x] Central service to manage themes web service
* [ ] themes error handling [c2c]
* [ ] Integration [lux]

Restant c2c 01/02/2015 1j
Restant c2c 01/03/2015 0.5j (themes error handling)

[2015-02-02 10:08] sbrunner opened #221 "Prise en charge de la version des fichiers statiques (cache bursting) [c2c]"
Get from #31
Restant c2c 01/01/2015 0.25j
Restant c2c 01/02/2015 1j

[2015-02-02 10:09] sbrunner opened #222 "Exclusion layer [c2c]"
Get from #31
Restant c2c 01/01/2015 2j
Restant c2c 01/02/2015 2j

[2015-02-02 10:09] #31 closed

[2015-02-02 10:09] sbrunner commented on #219
See https://github.com/Geoportail-Luxembourg/geoportailv3/issues/31#issuecomment-72167650

[2015-02-02 10:11] sbrunner opened #223 "Contrôles openlayers dans la carte (zoom, full extent, full screen) [lux]"
Get from #29
Restant c2c 01/01/2015 1j

[2015-02-02 10:12] sbrunner opened #224 "Mode plein écran [lux]"
Get from #29

[2015-02-02 10:12] sbrunner opened #225 "Sélection de l'échelle [c2c, lux ?]"
Get from #29
Restant c2c 01/01/2015 1j
Restant c2c 01/02/2015 fini

[2015-02-02 10:13] sbrunner opened #226 "Affichage des coordonnées de la souris [lux]"
Get from #29

[2015-02-02 10:13] sbrunner opened #227 "Affichage de l'altitude [lux]"
Get from #29

[2015-02-02 10:13] sbrunner opened #228 "Sélection projection, affichage coordonnées [lux]"
Get from #29

[2015-02-02 10:14] sbrunner opened #229 "Géolocalisation [c2c, integration: lux]"
Get from #29
Restant c2c 01/01/2015 1j
Restant c2c 01/02/2015 fini (à voir si le usecase est bien couvert)

[2015-02-02 10:14] #29 closed

[2015-02-02 10:15] sbrunner opened #230 "Finalisation du layout [c2c]"
Get from #27
Restant c2c 01/02/2015 1j
Restant c2c 01/03/2015 1j
Restant c2c 01/04/2015 1j
Restant c2c 01/05/2015 1j

[2015-02-02 10:15] sbrunner opened #231 "Refactor table en Angular UI [c2c]"
Get from #27
1j

[2015-02-02 10:16] sbrunner opened #232 "Mobile (contrôles à afficher) ? [lux]"
Get from #27

[2015-02-02 10:16] #27 closed

[2015-02-02 10:22] elemoine commented on #231
Finally, we decided not to use Angular UI for now, so closing.

[2015-02-02 10:22] #231 closed

[2015-02-02 10:23] sbrunner commented on #184
This should also be fix in c2cgeoportal

[2015-02-02 11:08] rmichaelis commented on #207
This issue is introduced with the new version of OpenLayers.
I can now reproduce it on my environment.

[2015-02-02 12:31] #135 closed

[2015-02-02 13:17] petzlux opened #235 "Search Autocomplete UI, who implements ?"
Is this C2C , as part of ngeo ?

[2015-02-02 13:28] elemoine commented on #235
Can we please discuss what the UI will look like? What types of results will be provided? I think we should specify it before deciding where it will be implemented.

[2015-02-02 13:32] elemoine commented on #235
I think you're abusing the `help wanted` label a bit :-)

[2015-02-02 13:38] petzlux commented on #235
eric, so what does the tag apply to ?

[2015-02-02 13:42] elemoine commented on #235
Sorry, I am bit pedantic here. My apologies. To me `help wanted` means "I'm blocked, please help me so I can move forward". And `question` means "I have a question/I need to discuss something". So, to me, we should either use `question` or `help wanted`, but not both at the same time. But this may just be my interpretation of the flags…

[2015-02-02 13:46] petzlux commented on #235
Okay, I understand then :-) no worries

[2015-02-02 13:51] elemoine commented on #232
Il s'agit de discuter des fonctionnalités qu'on veut/veut pas sur mobile.

[2015-02-02 13:55] jaykayone commented on #235
I just had a look at the new geo.admin.ch search component and I think we could try to copy it as much as possible (without the sharing stuff)

[2015-02-02 13:57] elemoine commented on #225
Voir https://github.com/Geoportail-Luxembourg/geoportailv3/issues/206.

[2015-02-02 13:58] #225 closed

[2015-02-02 14:00] #224 closed

[2015-02-02 14:01] #223 closed

[2015-02-02 14:06] #210 closed

[2015-02-02 14:09] #219 closed

[2015-02-02 14:30] sbrunner commented on #200
* [ ] Transifex shouldn't be called every times
* [ ] All pot should be removed from the repository
* [ ] All pot should be in the git ignore

[2015-02-02 14:32] elemoine commented on #198
@rmichaelis could you please more specific? What scale bar are you talking about exactly? The scale line?

[2015-02-02 14:38] elemoine commented on #181
@jaykayone est-ce qu'on peut fermer ça ? Est-ce que le problème avec Pillow a été résolu ?e

[2015-02-02 14:39] petzlux commented on #181
Non encore aujourd'hui , j'avais le problème :-(

[2015-02-02 14:40] elemoine commented on #176
Adding the `question` label to discuss if we want to implement this.

[2015-02-02 14:44] sbrunner commented on #221
dupplicate of #163

[2015-02-02 14:44] #221 closed

[2015-02-02 14:47] elemoine commented on #169
Stéphane et moi avons brièvement discuté de ce point. Il nous semble qu'il est pertinent de faire deux requêtes, pour éviter de payer pour des coordonnées qui ne seront pas utilisées.

[2015-02-02 14:47] sbrunner commented on #222
dupplicate of #144

[2015-02-02 14:47] #222 closed

[2015-02-02 14:49] petzlux commented on #169
Est ce qu'on peut alors rédéfinir les deux interfaces ?

L'interface autocomplete sera alors sans geometry du tout, puis un service qui prend une ID et retourne geometry et attributs ?

[2015-02-02 14:50] elemoine commented on #140
This is a bug in the geoportailv3 client code:  `layers` rather than `name` should be used when creating a WMS layer.

[2015-02-02 14:53] elemoine commented on #138
Now tracked by https://github.com/Geoportail-Luxembourg/geoportailv3/issues/220.

[2015-02-02 14:53] #138 closed

[2015-02-02 14:56] elemoine commented on #91
Le plus important c'est de donner une license au projet, avec un fichier LICENSE.txt à la racine du projet. Les en-têtes dans les fichiers ne sont pas obligatoires à ma connaissance.

[2015-02-02 14:59] #44 closed

[2015-02-02 15:00] elemoine commented on #232
Déjà discuté ici : https://github.com/Geoportail-Luxembourg/geoportailv3/issues/43. https://github.com/Geoportail-Luxembourg/geoportailv3/issues/43 est l'issue à l'utiliser si on besoin de continuer à discuter.

[2015-02-02 15:00] #232 closed

[2015-02-02 15:04] #20 closed

[2015-02-02 15:05] #11 closed

[2015-02-02 15:07] jaykayone commented on #181
je confirme que le problème existe toujours. avec wget, le fichier est OK, mais avec l'installer il a un mauvais hash

[2015-02-02 15:08] elemoine commented on #169
À qui poses-tu ces questions ?

[2015-02-02 15:10] elemoine commented on #181
Que faut-il faire ? Pensez-vous qu'il s'agit d'un problème de notre côté ? En tout cas un problème que Camptocamp doit résoudre ?

[2015-02-02 15:15] elemoine commented on #220
En ce qui concerne ce point : avec le travail de Stéphane dans c2cgeoportal la réponse du service de `themes` va contenir les informations relatives à tous les thèmes, toutes les couches overlay, et toutes les couches background. Il faut donc, côté client, créer un composant central, un service Angular en fait, de gestion des informations retournées par ce web service. Ce service central sera util

[2015-02-02 15:17] elemoine commented on #217
Voir ce commentaire pour le travail d'intégration : https://github.com/Geoportail-Luxembourg/geoportailv3/issues/32#issuecomment-72057153.

[2015-02-02 15:22] jaykayone commented on #217
A faire par @rmichaelis

[2015-02-02 15:24] jaykayone commented on #181
je dirais que vous pourriez analyser si la dépendance pillow est définie d'une autre manière que tous les autres ce qui nous expliquerait la différence. Ensuite une installation "à part" dans le script make pourrait être envisagée pour contourner le problèmes

[2015-02-02 15:30] sbrunner commented on #181
Pillow est une dépendance de TileCoud tout a fait classique ...

[2015-02-02 15:56] rmichaelis commented on #198
Here is the problem :
![scale](https://cloud.githubusercontent.com/assets/5594996/6003457/41b93e0c-aafc-11e4-9daf-416f4f4ea6df.PNG)

[2015-02-02 16:01] elemoine commented on #198
That is VERY VERY strange. What browser? What layer? How can I reproduce that?

[2015-02-02 16:04] pgiraud commented on #198
Not that strange.
We chose to put the scaleline component outside the map.
Adding the following in the less files should do the job:
[code]

[2015-02-02 16:05] pgiraud commented on #198
But actually, the scaleline, is supposed to be moved to the info panel (behind the "i" button) eventually.

[2015-02-02 16:07] elemoine commented on #198
Oh, I thought the scale line was in the map. The scaleline is going to move to the collapsible panel anyway, so no need to try to fix that for now I guess.

[2015-02-02 16:24] jaykayone commented on #220
quid de l'aspect CSS? @pgiraud avait fait des propositions d'UI pour le sélectionneur de thèmes?

[2015-02-03 07:56] rmichaelis commented on #207
fixed

[2015-02-03 08:39] pgiraud commented on #220
Je crois que nous pouvons garder ce qui avait été proposé dans les templates initiaux.
![screenshot from 2015-02-03 09 36 30](https://cloud.githubusercontent.com/assets/319774/6016909/6cb29766-ab88-11e4-9463-9d3d5eb2c755.png)

cf. http://dev.camptocamp.com/files/lux/geoportail_lux_specs/cartes/

[2015-02-03 08:45] pgiraud commented on #207
Here's what I get now:
![screenshot from 2015-02-03 09 44 38](https://cloud.githubusercontent.com/assets/319774/6016980/5ae05306-ab89-11e4-82a0-24f67b55f853.png)

[2015-02-03 08:52] jaykayone commented on #220
cf aussi https://github.com/Geoportail-Luxembourg/geoportailv3/issues/22
Je propose de mettre @petzlux dessus, avec appui css de @pgiraud si nécessaire

[2015-02-03 08:53] jaykayone commented on #207
can you try incognito mode?
we don't have the problem ..
shift-reload helps

[2015-02-03 09:06] pgiraud commented on #207
My bad.

[2015-02-03 09:06] #207 closed

[2015-02-03 09:44] jaykayone commented on #235
to be analyzed by c2c if something is done in ngeo

[2015-02-03 09:46] elemoine commented on #202
The problem is gone.

[2015-02-03 09:46] #202 closed

[2015-02-03 09:57] jaykayone commented on #169
@sbrunner fait la spec de son service de recherche et @petzlux pourra l'implémenter avec elasticsearch pour que ce soit compatible

[2015-02-03 10:04] pgiraud commented on #217
@elemoine doit d'abord finaliser un patch pour supporter les touch events.

[2015-02-03 10:05] elemoine commented on #229
Voici l'exemple ngeo : http://camptocamp.github.io/ngeo/master/geolocation.html.

[2015-02-03 10:07] elemoine commented on #217
Voici l'issue ngeo : https://github.com/camptocamp/ngeo/issues/154.

[2015-02-03 10:23] elemoine commented on #229
Action @elemoine : donner plus de détails sur le fonctionnement.

[2015-02-03 11:29] elemoine commented on #229
Dans la lib ngeo il y a le décorateur `ngeoDecorateGeolocation` qui permet d'utiliser `ng-model` pour activer/désactiver le tracking du composant `ol.Geolocation`. C'est en fait la seule chose fournie par la lib ngeo. Tout le reste (affichage du point, de la zone de précision, etc.) eest fait dans l'exemple `geolocation.html`. Voir https://github.com/camptocamp/ngeo/blob/master/examples/geolocatio

[2015-02-03 12:27] sbrunner commented on #169
The server interface as I imagine:

Result Query:
Parameters:
* query: Text to search
* details: should be 'no', default is 'yes'.
* callback: For JSONP
Result:
[code]

Details query:
Parameters:
* id: element id
* callback: For JSONP
Result: GeoJson with one geometry and the following parameters: 'id', 'label', 'layer_name', 'params'.

Is it ok for you ?

[2015-02-03 12:53] elemoine commented on #148
Voici quelques informations au sujet de la question 4) de @rmichaelis:

Le service `login` de c2cgeoportal fonctionne avec des requêtes `GET` et `POST`. Actuellement, avec CGXP, c'est `POST` qui est utilisé. Et nous utilisons des requêtes XHR.

Lorsque les credentials ne sont pas valides, le service retourne une 401. C'est à la partie client de détecter cette erreur et d'avertir l'utilisateur que

[2015-02-03 13:09] jaykayone commented on #229
ok alors c'est l'intégration dans notre page qui devrait se faire un peu autrement

lorsque je dézoome je voudrais qu'il garde ce niveau de zoom pendant que je me déplace

[2015-02-03 13:20] elemoine commented on #229
En effet. Dans l'exemple un `setZoom(17)` est fait à chaque fois qu'une nouvelle position est obtenue.

[2015-02-03 14:04] pgiraud commented on #215
Un travail de design préalable est nécessaire.

[2015-02-03 14:06] #197 closed

[2015-02-03 14:50] pgiraud commented on #215
Dans l'offre, il n'est pas précisé si les outils de mesure (distance et surface) doivent afficher la valeur de la mesure au fur et à mesure comme c'est le cas actuellement.
Mais, dans l'offre toujours, dans la section "4.2.5 Dessin et marker", il est prévu d'adapter OL3 afin d'afficher les mesures au fur et à mesure du dessin.
Cette fonctionnalité (ou exemple qui montre que c'est possible) n'exist

[2015-02-04 08:14] rmichaelis commented on #148
@sbrunner concernant le point 3. J'ai pu ajouter mes variables dans le geoportailv3.mk ca fonctionne super.

Par contre j'ai du ajouter les définition de authtkt_secret, authtkt_cookie_name  dans le development.ini.in et production.ini.in .
Sans ca, ca ne fonctionnait pas.
Est-ce que c'est normal ?

[2015-02-04 08:31] sbrunner commented on #148
Oui, c'est normal :-)

[2015-02-04 08:32] #200 closed

[2015-02-04 08:32] rmichaelis commented on #148
parfait merci ;-)

[2015-02-04 08:39] pgiraud commented on #198
I think we can close this issue because it will be addressed with the info panel. Closing.

[2015-02-04 08:40] #198 closed

[2015-02-04 09:19] petzlux opened #243 "Language Switcher UI adjustments"
Gap between tiles is too large, and also slight overlap on top with header bar

[2015-02-04 09:19] elemoine commented on #243
FWIW, I agree.

[2015-02-04 13:22] jaykayone commented on #243
In the design, I also saw that the color is theme-dependant
![screen shot 2015-02-04 at 11 48 54](https://cloud.githubusercontent.com/assets/1518019/6039125/d7d22b20-ac63-11e4-9013-5cce09e7cabf.png)

[2015-02-04 16:40] pgiraud commented on #215
Ce matin, Éric a proposé de discuter un peu de ce point. Nous avons décidé de tester la faisabilité, avec OL3, d'affichar la mesure au fur et à mesure du dessin. Bien lui en a pris, car j'ai pu montrer assez rapidement que nous avions tout ce qu'il nous fallait pour le faire.

[2015-02-04 16:41] pgiraud commented on #215
Il y a une pull request en cours de review.
https://github.com/openlayers/ol3/pull/3206
https://cloud.githubusercontent.com/assets/319774/6044255/60f6dd46-ac92-11e4-86b7-96fa0bc36b4e.gif

[2015-02-04 16:43] elemoine commented on #215
Voici le lien vers la PR ol3 de Pierre : https://github.com/openlayers/ol3/pull/3206. Il y a un screencast qui montre le résultat.

[2015-02-04 17:49] jaykayone commented on #215
génial!!

[2015-02-05 10:56] jaykayone opened #246 "Icônes manquantes"
Les icônes ont disparu
![screen shot 2015-02-05 at 11 54 41](https://cloud.githubusercontent.com/assets/1518019/6059079/ded49bc2-ad2d-11e4-9f22-c399764cf7b4.png)
![screen shot 2015-02-05 at 11 55 46](https://cloud.githubusercontent.com/assets/1518019/6059084/f4fe4a92-ad2d-11e4-8c7b-66632cd259ff.png)

[2015-02-05 13:53] elemoine commented on #217
Comme indiqué dans l'issue ngeo j'ai noté un bug dans Closure Library. J'ai fait un PR pour Closure Library mais il n'est pas encore mergé. Nous sommes donc en attente.

[2015-02-05 14:27] #246 closed

[2015-02-05 17:14] rmichaelis commented on #148
Quelqu'un a-t-il une idée de pourquoi lorsque je suis connecté je peux retrouver dans mon controlleur pyramid le login de mon utilisateur grâce à authenticated_userid(self.request) et que par contre je ne peux pas le retrouver grâce à self.request.user ?

Autre question, dans c2cgeoportal est-ce que je dois configurer quelque chose pour pouvoir faire un logout ? Actuellement le login fonctionne co

[2015-02-05 17:43] elemoine commented on #148
Tu utilises le mode standard d'auth de c2cgeoportal ou as-tu déjà des trucs spécifiques ?

Le service logout retourne une 404 si request.user est None. Donc c'est lié à ton premier problème.

[2015-02-05 19:07] rmichaelis commented on #148
J'utilise un validator pour vérifier la connexion dans ldap.

Dans les logs j'obtiens cette info :
2015-02-05 20:01:37,916 INFO  [c2cgeoportal.views.entry][Dummy-2] User 'renaud.michaelis' logged in.

Donc je suppose que mon validator fonctionne correctement.

[2015-02-05 19:12] elemoine commented on #148
Il faut que je vois ton code pour comprendre ce qui cloche.

[2015-02-05 19:21] rmichaelis commented on #148
Ici le validator :
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/lux_authentication/geoportailv3/views/authentication.py

Et ici l'association du validator avec l'authetification c2cgeoportal:

https://github.com/Geoportail-Luxembourg/geoportailv3/blob/lux_authentication/geoportailv3/__init__.py

[2015-02-05 19:27] elemoine commented on #148
Est-ce que ton utilisateur est aussi dans la base de donnée (table "user") ?

[2015-02-05 19:54] rmichaelis commented on #148
Non je ne l'ai pas défini dans la table user.
Si mais j'ai bien compris le but du user validator, c'est justement de ne pas utiliser cette table et de tester le user contre une autre source de données.

Par contre je me demande si le problème ne vient pas du role associé à l'utilisateur.
Je vais un peu creuser dans cette direction.

[2015-02-05 19:58] elemoine commented on #148
Il est là le problème. On a besoin d'avoir les utilisateurs dans la table "user", même si leur mot de passe n'y sont pas stockés et même si l'identification se fait par ailleurs. D'ailleurs l'objet request.user est une instance de la classe modèle SQLA "User" définie dans c2cgeoportal.

[2015-02-05 20:04] elemoine commented on #148
Ou alors il faut redéfinir la fonction qui sette le user sur les objets request. C'est expliqué dans la doc : http://docs.camptocamp.net/c2cgeoportal/master/integrator/authentication.html. Mais dans ce cas il faut qu'LDAP fournisse un id permettant de trouver le rôle de l'utilisateur.

[2015-02-05 20:08] rmichaelis commented on #148
Ok je vais voir avec la redéfinition de la fonction.
Merci

[2015-02-10 08:11] jaykayone commented on #216
pour distance et surface, les exemples OL sont là.
quid pour azimut et profile?

[2015-02-10 08:12] jaykayone commented on #216
cf #217

[2015-02-10 09:20] pgiraud commented on #218
https://github.com/camptocamp/ngeo/commit/fb8fa60c403beea3409ecc8befb04ed708f4eb88

[2015-02-10 09:20] petzlux opened #252 "Elevation Service & UI"
- [x] @jaykayone to mount data to workshop
- [x] @petzlux implement c2cgeoportal config for MNT
- [x] implement infobar ui

[2015-02-10 09:21] jaykayone commented on #252
Data mounted in /var/sig

[2015-02-10 13:24] #148 closed

[2015-02-11 15:01] #91 closed

[2015-02-11 20:04] jaykayone opened #254 "theme webservice throws error when user has got a role"
tested with the theme "eau" and a user having roleid = 1
demo on demosite will follow asap

[2015-02-12 12:33] rmichaelis opened #255 "version conflict"
After a cleanall. Build ok but I've got the following error in the log and the application does not start anymore.
 ContextualVersionConflict: (pyramid 1.5.2 (/var/www/vhosts/geoportailv3/.build/venv/lib/python2.7/site-packages), Requirement.parse('pyramid<=1.6.99,>=1.6.0.dev'), set(['c2cgeoportal']))

[2015-02-12 13:20] jaykayone commented on #181
seems to be solved

[2015-02-12 13:20] #181 closed

[2015-02-12 13:50] jaykayone commented on #254
voici le contenu du logfile:

[Thu Feb 12 14:49:38.697974 2015] [:error] [pid 25124] 2015-02-12 14:49:38,697 INFO  [c2cgeoportal.views.entry][Dummy-1] User 'fk' logged in.
[Thu Feb 12 14:49:52.612850 2015] [:error] [pid 25124] [remote 10.111.80.101:164] Error - <class 'sqlalchemy.exc.ArgumentError'>: All selectables passed to CompoundSelect must have identical numbers of columns; select #1 has 24

[2015-02-12 15:24] sbrunner commented on #254
Thanks for the log :-)

[2015-02-16 14:43] #243 closed

[2015-02-17 09:25] #36 closed

[2015-02-17 09:27] jaykayone commented on #209
Il faudra s'assurer que les anciens permaliens (paramètres URL) et les permaliens "dièse" ainsi qu'un cookie qui contient les paramètres puissent fonctionner en parallèle

[2015-02-17 09:47] jaykayone commented on #39
ici, il faut de la coordination pour bien comprendre ce qu'il y a dans c2cgeoportal @sbrunner

En plus il faut du support de @pgiraud / @elemoine pour configurer le templating des popups.

Il y a les cas suivants:

1) simple réflection des champs de la base de données dans un tableau HTML
2) réflexion des champs d'un requête REST ESRI dans un tableau HTML
3) possibilité d'intégrer des iframes par

[2015-02-17 09:52] pgiraud commented on #209
cookie ou localStorage

[2015-02-17 10:44] jaykayone opened #258 "make translations"
@sbrunner je ne retrouve plus le make target pour synchroniser les traductions avec transifex.
Comment dois-je faire?

[2015-02-17 10:47] jaykayone commented on #258
c'est bon j'ai trouvé, c'est le help du makefile qui n'est pas à jour

[2015-02-17 14:23] sbrunner commented on #39
Hello, dans CGXP on a la possibilité de faire de l'interrogation ponctuelle effectuant une requête `WMS-GetFeatureInfo` ou une interrogations pas bbox effectuant une requête `WFS-GetFeature`.
Donc c2cgeoportal fournis un mapserver fonctionnel, et dans le web-service des thèmes une lecture des capabilities pour en extraire les informations nécessaire soit principalement la composition des groupes e

[2015-02-18 07:25] jaykayone commented on #39
OK, donc nous devons écrire un contrôleur sur mesure pour prendre en compte tous nos besoins.

[2015-02-18 08:52] sbrunner commented on #39
C'est bien l'impression que j'avais :-)

[2015-02-18 14:40] rmichaelis opened #261 "Language switcher has no effect on the layer name"
Language switcher has no effect on the layer name in the catalog

[2015-02-18 14:48] jaykayone commented on #261
I think this is a regression

[2015-02-18 15:26] pgiraud commented on #261
It looks like we cannot use one-time binding in combination with the translate filter. I'll come back with a pull request.

[2015-02-19 07:30] jaykayone commented on #258
la question qui reste est donc: comment mettre à jour l'aide du make pour que l'option y soit listée vu qu'il s'agit d'un target qui est défini dans geoportail_v3.mk

[2015-02-19 09:10] rmichaelis commented on #28
@sbrunner  Qu'est-ce que tu entends par gestion des droits dans l'authentification?

[2015-02-19 09:38] jaykayone opened #263 "Elevation offset in azimuth tool"
In the azimuth tool, the elevation offset should be indicated (see existing tool)

[2015-02-19 10:23] sbrunner commented on #28
Réconcilier les données en provenance de l’authentification avec les rôles de c2cgeoportal.

[2015-02-19 10:29] rmichaelis commented on #28
Ok merci pour la réponse mais Ils n'étaient pas vraiment fâchés ;-)

[2015-02-23 07:57] jaykayone commented on #28
rechargement du catalogue après login

[2015-02-23 08:03] jaykayone commented on #220
switched from @petzlux to @rmichaelis, so that @petzlux can concentrate on #searchfield for now

[2015-02-23 08:34] elemoine commented on #28
@jaykayone Faut-il ajouter une checkbox pour ça dans la description de l'issue ? Ce travail est lié à la centralisation du service "themes" que je dois encore faire.

[2015-02-23 08:42] elemoine commented on #258
Tu peux essager ça dans `geoportailv3.mk`:

[code]

Non testé.

[2015-02-23 08:46] sbrunner commented on #258
Je pensais plutôt ajouter la possibilité d'ajouter la possibilité d'ajouter des commandes à l'aide :-)

[2015-02-23 08:58] #261 closed

[2015-02-23 09:00] elemoine commented on #39
Moi aussi, depuis le début.

[2015-02-23 09:43] jaykayone commented on #28
ah ok, j'avais prévu que renaud le fasse, si tu l'avais prévu, mets une checkbox, ça me va :)

[2015-02-23 09:47] elemoine commented on #28
Renaud peut le faire mais il y a une dépendance sur un travail que je dois faire de mon côté, et qui était en attente de changements côté web services des thèmes.

[2015-02-23 10:23] elemoine commented on #216
@jaykayone, quel est le rapport avec #217 ?

[2015-02-23 10:28] jaykayone commented on #216
sorry, wrong link. corrected

On Mon, Feb 23, 2015 at 11:23 AM, Éric Lemoine <notifications@github.com>
wrote:

--
Jeff Konnen

[2015-02-23 16:01] #255 closed

[2015-02-23 16:02] #254 closed

[2015-02-23 16:02] #184 closed

[2015-02-23 16:02] #163 closed

[2015-02-23 16:28] jaykayone opened #266 "Print configuration"
Card for questions about print config

* [x] JRXML Files
* [x]  Legend implentation (HTML) cf #314
* [x] Scalebar in LUREF cf #313
* [x] WMTS layers don't work cf https://github.com/mapfish/mapfish-print/issues/208

Restant c2c 01/04/2015 : 2j
Restant c2c 01/05/2015 : 2j

[2015-02-24 07:32] jaykayone commented on #252
cf #250

[2015-02-24 07:33] jaykayone commented on #228
cf #250

[2015-02-24 07:33] jaykayone commented on #227
cf #250

[2015-02-24 07:33] jaykayone commented on #226
cf #250

[2015-02-24 07:33] jaykayone commented on #206
cf #250

[2015-02-24 07:34] jaykayone commented on #215
cf #259

[2015-02-24 07:36] jaykayone commented on #217
si je comprends bien, ce patch concerne le touch. nous pouvons donc déjà implémenter la fonctionnalité côté desktop et attendre que ta PR soit mergée?

[2015-02-24 07:37] jaykayone commented on #229
cf #265

[2015-02-24 07:38] jaykayone commented on #140
on peut mettre une tête sur cette issue? @elemoine ?

[2015-02-24 07:39] jaykayone commented on #201
who's in charge?

[2015-02-24 07:40] #23 closed

[2015-02-24 07:43] jaykayone commented on #258
qui fait? @sbrunner?

[2015-02-24 08:11] elemoine commented on #217
Oui, je suis d'accord. Un développeur de Closure Library m'a conseillé de mieux expliquer le problème dans ma PR. Je vais tenter de faire ça cette semaine.

[2015-02-24 08:15] elemoine commented on #201
I can look into it.

[2015-02-24 08:15] elemoine commented on #140
Yes.

[2015-02-24 08:15] elemoine commented on #140
C'est fait.

[2015-02-24 08:21] jaykayone opened #267 "-- github --> branches"
there are a lot of open branches in github. can everyone take 5 minutes to tidy up please?

[2015-02-24 08:27] elemoine commented on #267
I deleted `angular-bootstrap`, `angular-ui-bootstrap`, `tp-eric`, `print-directive`, and `watchers`.

I suggest that we always prefix branches with the github username of the branch creator. E.g. `elemoine_print-directive`.

[2015-02-24 08:35] elemoine opened #268 "Lint the JS code"
It looks like we do not currently lint the JS code.

[2015-02-24 08:37] sbrunner commented on #258
yes :-)

[2015-02-24 08:39] elemoine commented on #217
Je suis acutellement assigné à cette tâche. Faut-il réassigner ?

[2015-02-24 09:04] jaykayone commented on #217
A toi de me dire :) si pour toi tout est prêt, on la passe à @rmichaelis

[2015-02-24 09:06] elemoine commented on #217
En fait il faudrait qu'on merge ma branche ngeo avant. Je vous tiens au courant.

[2015-02-24 09:06] petzlux opened #269 "Build fails -"
After a rebase from master, the build fails with:

[code]

The submodules fails to update, because it is specified by git protocol, not https protocol . Needs to be fixed

Restant c2c 01/03/2015 : 1j

[2015-02-24 09:15] elemoine commented on #269
@sbrunner is going to look into it.

[2015-02-24 09:28] elemoine commented on #268
This is just a typo in `CONST_Makefile`. @sbrunner, where should changes to `CONST_Makefile` go? PR to c2cgeoportal?

[2015-02-24 09:34] sbrunner commented on #268
Yes in c2cgeoportal :-)

[2015-02-24 09:40] elemoine commented on #268
Ok, will do. Can I still make a local change to geoportailv3 not to wait for the next update of c2cgeoportal in geoportailv3?

[2015-02-24 09:49] sbrunner commented on #268
No problem to do the changes also in the project :-)

[2015-02-24 10:14] jaykayone commented on #211
is this going to be similar to https://project.camptocamp.com/viewvc/geoportail_luxembourg/trunk/geoadmin/geoadmin/geoadmin/controllers/shorten.py?view=markup ?

In my implementation of the print template, I need a controller that generates an image for the QR code. Is it already in c2cgeoportal, will it be, or should I add a controller by myself?

[2015-02-24 10:17] sbrunner commented on #211
With ngeo the QR code will be probably generate in client side :-) (=> ngeo only)

[2015-02-24 10:20] jaykayone commented on #211
So I will have to write a controller nevertheless to get a qrcode in the print template, is this correct?

[2015-02-24 10:25] sbrunner commented on #211
I asked the question to the print developers: https://github.com/mapfish/mapfish-print/issues/199

[2015-02-24 10:38] #268 closed

[2015-02-24 10:38] #201 closed

[2015-02-24 11:07] jaykayone commented on #266
if I have several print layouts (a4 portrait, a4 landscape, a3 portrait, a3 landscape), I need one config defining them all and one jrml - file per layout. is that correct?

[2015-02-24 11:43] sbrunner commented on #266
yes :-)

[2015-02-24 13:39] elemoine opened #275 "TypeError: Cannot read property 'length' of undefined"
I am seeing this error in the console:

[code]

The error occurs in Angular.

I cannot debug this now because the debug mode is broken, but this is a problem we need to address, sooner rather than later.

[2015-02-24 14:51] elemoine commented on #217
Ok, le [PR ngeo](https://github.com/camptocamp/ngeo/pull/170) a été mergé. C'est l'exemple layerorder qu'il faut regarder.

[2015-02-24 15:32] jaykayone commented on #266
Our legends are html - documents that are embeded as iFrames.

I tried to use a HTML - Element of type iframe in the legend part

<body>
<iframe src='http://wiki.geoportail.lu/doku.php?id=fr:legend:tour_velo_national&do=export_html' width=400>
</body>

(test before starting to use parameters) but this does not seem to work.

@sbrunner: how would you implement this legend part? For the rest of the

[2015-02-24 15:34] jaykayone commented on #266
OK, can't attach pdf, i'll send an email

[2015-02-25 08:33] pgiraud commented on #275
Not sure but this may be related to the fact that in https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/catalog/catalogdirective.js#L60
`items` should be changed to `themes`

If so, should be fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/276

[2015-02-25 09:15] petzlux commented on #269
Build still fails !

This is an upstream issue with the pyramid package. It defines it submodule like this https://github.com/Pylons/pyramid/blob/master/.gitmodules#L3

Because its git not https protocol, the git submodule update fails.

I managed to manually update the relevant submodule by changing https://github.com/Pylons/pyramid/blob/master/.gitmodules#L3 to https instead of git

[2015-02-25 10:37] jaykayone commented on #266
another issue I saw: the scalebar refers to distances measured in webmercator (as the data is in webmercator), but we would prefer it to refer to LUREF distances. is there a possibility?

[2015-02-25 10:57] elemoine commented on #266
Are you talking about the print report specifically here, or are you also referring to the ol3 map?

[2015-02-25 11:00] geoportallux commented on #266
I am talking about the print report, but the problem is the same for the map.
@petzlux is analyzing what this means for his infobar directive

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Lu

[2015-02-25 11:02] elemoine commented on #275
I just tested with my `elemoine_themes` branch (the one attached to #276) and the js error still occurred. So it looks like the problem is elsewhere.

[2015-02-25 12:36] elemoine commented on #176
It was decided to implement this.

[2015-02-25 14:40] jaykayone commented on #266
I can't get WMTS layers to work in REST - mode ..

According to the code here [1],
I should put the entire templateURL (see below), but I get an AssertError:

Exception in thread "main" com.vividsolutions.jts.util.AssertionFailedException: invalid baseURL
	at com.vividsolutions.jts.util.Assert.isTrue(Assert.java:71)
	at org.mapfish.print.map.tiled.wmts.WMTSLayerParam.postConstruct(WMTSLayerParam.j

[2015-02-25 16:34] sbrunner commented on #269
Je viens de créer une branche sur un clone de pyramid ou je n'utilise pas le protocole git.

donc si vous remplace dans `CONST_requirements.txt`
`-e git+https://github.com/Pylons/pyramid@1e02bbfc0df09259bf207112acf019c8dba44a90#egg=pyramid`
par
`-e git+https://github.com/sbrunner/pyramid@c2cgeoportal#egg=pyramid`
es-ce que cela fonctionne ?

[2015-02-26 18:22] elemoine opened #281 "pkg_resources.VersionConflict: (js.jqgrid 4.3.1-1…"
With a recent version of c2cgeoportal I get the following error in the `pserve` console:

[code]

On my machine, even though `CONST_versions.txt` and `c2cgeoportal-1.6.0dev_20150226-py2.7.egg-info/requires.txt` include `js.jqgrid==4.3.1.post1` `js.jqgrid` version `4.3.1-1` gets installed. It should be ok as `4.3.1-1` and `4.3.1.post1` actually refer to the same version. But it's not ok, because `p

[2015-02-26 20:39] rmichaelis commented on #275
solved by merging #278

[2015-02-26 21:45] rmichaelis opened #283 "Delete old branch with github"
Is it possible to delete an unused branch directly with github or should I proceed in local ?

[2015-02-26 21:47] rmichaelis commented on #283
I just found it by myself. I had to go in the overview page.

[2015-02-26 21:47] #283 closed

[2015-02-27 08:59] elemoine opened #284 "Measure correctness issues"
As noted in https://github.com/Geoportail-Luxembourg/geoportailv3/pull/259#issuecomment-75930828 there are measure correctness issues related to the use of the Web Mercator projection. Two options to fix the problem: reproject the geometries from EPSG:3857 to EPSG:2169 before doing the cartesian length/area calculations, or use spherical length/area calculations, as done in the ol3 [measure exampl

[2015-02-27 10:31] #218 closed

[2015-02-27 10:31] #229 closed

[2015-02-27 10:54] pgiraud commented on #275
Closing.

[2015-02-27 10:54] #275 closed

[2015-02-27 16:20] elemoine commented on #284
See https://github.com/camptocamp/ngeo/pull/172.

[2015-02-27 17:11] elemoine opened #289 "URLs to fonts are broken again"
This is what I see in the debugger: `http://localhost:5000/proj/node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0`, which leads to 404s.

[2015-03-02 08:54] elemoine commented on #140
@jaykayone est-ce que la couche env_sentiers est dans le thème principal qui est actuellement utilisé dans l'application. C'est pour tester. Merci.

[2015-03-02 09:06] geoportallux commented on #140
oui, c’est dans le theme “emwelt” qui est utilisé par défaut à l’heure actuelle

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Luxembourg
Tél. (+352) 44901-261 . Fax (+352) 44901-333
E-mail:

[2015-03-02 15:23] #289 closed

[2015-03-03 08:07] jaykayone commented on #37
@sbrunner peux-tu mettre à jour ce ticket avec ce qui est fait et ce qui reste à faire stp?

[2015-03-03 08:10] elemoine commented on #182
Que voudrait-on exactement ? Veut-on vraiment cacher toutes les clés de traduction tant qu'on a pas les valeurs de traduction ? Si on utilise l'anglais pour les clés de traduction n'est-il pas préférable d'avoir du texte en anglais plutôt que du vide ? Le problème est peut-être lié aux clés de traduction qui ne sont pas du texte en anglais mais des mots techniques genre « seach_key_words ».

[2015-03-03 08:10] jaykayone commented on #267
@elemoine, il reste translate qui a été créé par toi
@sbrunner: il y a une branche abandonnée  cache_buster_debug -> y en-a-t'on encore besoin?

[2015-03-03 08:11] elemoine commented on #267
@jaykayone je viens de supprimer `translate`.

[2015-03-03 08:12] rmichaelis commented on #182
Est-ce que les clés de traduction ne devraient pas être dans la langue la plus utilisée du géoportail plutôt que l'anglais ?

[2015-03-03 08:13] jaykayone commented on #182
tu as raison: si toutes les clés étaient "parlantes", le problème serait moins grave.
en fait, il y a très peu de texte traduit chez nous, chez geoadmin ça me gênait plus, mais ils ont dû changer qqch récemment, le problème n'est plus là. les traductions mettaient 2-3 secondes avant d'arriver, mais ça semble résolu

[2015-03-03 08:13] jaykayone commented on #182
@rmichaelis bonne question. Le FR est le plus utilisé

[2015-03-03 08:22] elemoine commented on #182
Oui, je me suis posé la même question.

Ce serait réaliste d'utiliser le français pour toutes les clés de traduction ?

[2015-03-03 08:24] elemoine commented on #217
Pour info, j'ai mis à jour ma PR à closure-library pour bien expliquer le problème et la correction, mais je n'ai pas de nouvelle.

[2015-03-03 08:29] #140 closed

[2015-03-03 08:31] elemoine commented on #269
Ce bug est-il toujours d'actualité ?

[2015-03-03 08:38] jaykayone commented on #38
service web: reprendre ce qui a été fait par le stagiaire

mockups: a faire ensemble

composant: a faire ensuite

[2015-03-03 08:40] jaykayone commented on #211
implementing a qrcode - controller is really not complicated. I am not sure we should "waste time" to enhance ngeo and mfprint for this.

[2015-03-03 08:42] jaykayone commented on #235
At the last meeting, c2c decided to implement such a component in ngeo. we'll have to wait for it to ready to make an implmentation in the project

[2015-03-03 08:43] #258 closed

[2015-03-03 08:44] pgiraud commented on #284
Needs a node modules update. Should be fixed.

[2015-03-03 08:46] #215 closed

[2015-03-03 08:50] rmichaelis opened #294 "Measure button"
I would like to deactivate the active measure tool, when the user is closing the main measure button.

I'm not sure how I should do that.
Is there a kind of event that I could catch when the state of the ngeo button is changing ?
Any advice ?

[2015-03-03 08:59] jaykayone commented on #284
OK, I confirm

[2015-03-03 08:59] #284 closed

[2015-03-03 08:59] jaykayone commented on #269
non, c'est OK

[2015-03-03 09:01] sbrunner commented on #267
removed :-)

[2015-03-03 09:02] jaykayone commented on #217
OK, à faire par @petzlux

[2015-03-03 09:02] jaykayone commented on #267
thanks.
not closing the issue, as it is a permanent one

[2015-03-03 09:02] sbrunner commented on #37
Pas grands chose n'a été fais il est donc à jours :-)

[2015-03-03 09:05] jaykayone commented on #169
@sbrunner @petzlux
is this finished? can we close this issue?

[2015-03-03 09:07] elemoine commented on #294
I happened to have just created a PR for that! By chance. https://github.com/Geoportail-Luxembourg/geoportailv3/pull/295

[2015-03-03 09:08] sbrunner commented on #169
For me we can close it :-)

[2015-03-03 09:09] #169 closed

[2015-03-03 09:11] jaykayone commented on #28
@elemoine, est-ce que ces changements sont mergés?
@rmichaelis pourrait alors attaquer ce point?

[2015-03-03 09:14] jaykayone commented on #230
dans http://dev.camptocamp.com/files/lux/geoportail_lux_specs/cartes/ on voit que le logo cache aussi une fonction pour faire afficher le menu du cms. @petzlux as-tu une proposition pour intégrer ce menu sans devoir le dupliquer?

[2015-03-03 09:22] elemoine commented on #28
Oui : https://github.com/Geoportail-Luxembourg/geoportailv3/pull/276.

[2015-03-03 09:23] elemoine commented on #169
Where are the specs? Is https://github.com/Geoportail-Luxembourg/geoportailv3/wiki/Specification-du-service-de-recherche up to date?

[2015-03-03 09:26] pgiraud opened #296 "Measure tools: guiding point not correctly aligned with cursor"
When using the measure tools, a circle follows the cursor. Unfortunately, this circle is not centered exactly on the cursor position. There's a small offset to the right.

Restant c2c 01/03/2015 : 0.5j
Restant c2c 01/04/2015 : 0.5j

[2015-03-03 09:28] jaykayone opened #297 "wms controller"
there is  a bug with the internal wmscontroller. the url is not correctly encoded.

eg: http://__masked__internal__url/ArcGIS_Server/services/Geoportail/MapServer/WMSServer?&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image/png&TRANSPARENT=true&LAYERS=ZPS laufende \xc3\xb6ffentliche Verfahrungsweise&CRS=EPSG:3857&STYLES=&WIDTH=3360&HEIGHT=1812&BBOX=674305.7655623322,6378490.69616299,690357.541

[2015-03-03 09:29] petzlux commented on #169
Yes, as it stands now, it is uptodate

[2015-03-03 09:29] elemoine commented on #169
Is there a URL I can use to test the search service?

[2015-03-03 09:30] petzlux commented on #169
But, need to redefine interface following discussion to support two queries,

"L'interface autocomplete sera alors sans geometry du tout, puis un service qui prend une ID et retourne geometry et attributs"

[2015-03-03 09:37] jaykayone commented on #169
http://devv3.geoportail.lu/main/wsgi/fulltextsearch?query=%2054%20did

[2015-03-03 09:41] jaykayone commented on #297
btw, here is the original request: http://devv3.geoportail.lu/main/wsgi/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=eau_new_ZPS_laufende_oeffentliche_Verfahrungsweise&CRS=EPSG%3A3857&STYLES=&WIDTH=1920&HEIGHT=922&BBOX=80880.56752948766%2C6112582.557584822%2C1254953.321989795%2C6676382.078216283

I get a HTML:502, not sure that's the correct answer either

[2015-03-03 09:41] jaykayone commented on #281
this seems to be solved, right?

[2015-03-03 09:51] pgiraud opened #298 "popup position and size"

[2015-03-03 09:51] pgiraud commented on #298
See #257.

[2015-03-03 09:53] rmichaelis opened #299 "Compilation is broken"
On branch master, after a clean I get this error :

make: *** No rule to make target `node_modules/ngeo/src/ol-ext/interactions/measure.js', needed by `.build/build.js'.  Stop.

[2015-03-03 09:54] jaykayone opened #300 "background layers"
a lot of bglayers (and other layers) are currently not working

Restant c2c 01/04/2015 0.25j

[2015-03-03 09:55] geoportallux commented on #299
have you done an update_node_modules?

[2015-03-03 10:02] jaykayone commented on #300
One question for @sbrunner:

ortho_2013_global does not work.

the problem seems to be that it tries to get png images, but it should get jpeg according to the capabilities document: http://wmts.geoportail.lu/mapproxy_4_v3/demo/?wmts_capabilities

 <Layer>
      <ows:Title>orthogr_2013</ows:Title>
      <ows:Abstract></ows:Abstract>
      <ows:WGS84BoundingBox>
        <ows:LowerCorner>-180.0 -85.

[2015-03-03 10:04] rmichaelis commented on #299
it works better now thanks!

[2015-03-03 10:04] #299 closed

[2015-03-03 10:10] jaykayone opened #301 "integrate profile tool"

[2015-03-03 10:11] jaykayone commented on #301
intégrer le code ngeo pour l'outil de profil

[2015-03-03 10:18] jaykayone commented on #269
currently using a workaround with a fork from sbrunner.
better solution is necessary

[2015-03-03 10:22] petzlux commented on #269
workaround here, ideally raise issue in pyramid repo and change to https protocl
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/info_bar/CONST_requirements.txt#L6

[2015-03-03 10:26] pgiraud opened #302 "show distance in azimut control"

[2015-03-03 10:27] pgiraud opened #303 "show elevation offset in azimut control"
Restant c2c 01/03/2015 : 0j (fini)

[2015-03-03 10:27] pgiraud opened #304 "manage translations in measure controls"
Restant c2c 01/03/2015 : 0j (fini)

[2015-03-03 10:38] pgiraud commented on #300
We currently don't read capabilities. And the format in hard coded.
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/layerfactoryservice.js#L66

[2015-03-03 10:41] elemoine opened #305 "Add image format column to layer table in c2cgeoportal"
Restant c2c 01/03/2015 : 0.5j
 * [ ] update the project to new version of c2cgeoportal

[2015-03-03 10:47] elemoine commented on #211
Décision : l'équipe Luxembourg implémente un controller qrcode dans le projet geoportailv3.

[2015-03-03 10:51] elemoine commented on #300
Decision: we add a "image format" column to c2cgeoportal's "layer" table. @sbrunner to work on this. See https://github.com/Geoportail-Luxembourg/geoportailv3/issues/305.

[2015-03-03 10:54] elemoine commented on #281
Fixed in c2cgeoportal with https://github.com/camptocamp/c2cgeoportal/pull/1278. I haven't tested whether it works in the project. I will do it and close this issue if it works as expected.

[2015-03-03 10:58] jaykayone commented on #300
OK, I will make a new migration once the field is added and provide a dmp

[2015-03-03 11:03] pgiraud commented on #301
To start with, here's what I would do:
 - create a button in the UI,
 - link it to a linestring draw interaction,
 - listen to the event which tells that the line is drawn,
 - send a request to the elevation service,
 - get the response and build the profile with it.
The profile chart should be displayed in a div simply positioned absolutely on top of the document. No need to do more w/ styling.

[2015-03-03 13:23] jaykayone commented on #182
En tout cas pour celle qu'on voit au chargement de la page

[2015-03-03 13:43] elemoine commented on #169
Thanks @jaykayone.

[2015-03-03 13:49] petzlux opened #306 "Set zoom and extent limits"
At the moment no zoom or extent limits are set. This causes issues with scaleselector being out of bounds, and user loosing Luxembourg in sea of grey

[2015-03-03 13:51] petzlux opened #307 "add proj4js to build.js"

[2015-03-03 13:51] petzlux commented on #307
see https://github.com/Geoportail-Luxembourg/geoportailv3/pull/293

[2015-03-03 13:53] rmichaelis commented on #306
It could be worse... You could lose Luxembourg in 50 shades of grey instead of in a sea of grey :-)

[2015-03-03 14:04] petzlux opened #308 "Infobar not responsive"
Need to implement what was decided in #43

[2015-03-03 14:31] pgiraud commented on #298
Should be fixed (partially) with https://github.com/camptocamp/ngeo/pull/179

[2015-03-03 14:40] sbrunner commented on #266
For the  Legend implentation (HTML):
2 chemins possibles:
Avec le composant de legende: dans le fichier `legend.jrxml` remplacer le champ text par un champ HTML:
[code]

Sois faire a peut près la même chose mais avec un champ de l'impression datasource:
[code]
et dans table.jrxml:
[code]

[2015-03-03 14:41] sbrunner commented on #266
WMTS REST: https://github.com/mapfish/mapfish-print/issues/208

[2015-03-03 14:50] elemoine opened #310 "Use ngeo-control in the info bar"
See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/250 for the initial discussion.

[2015-03-03 14:54] sbrunner commented on #266
As I see the on the code and in the print result the scale bar is made in luref, ... isn't also a measure issue ?

[2015-03-03 14:59] jaykayone commented on #266
for the legend, will it work with our legends i.e. http://wiki.geoportail.lu/doku.php?id=fr:legend:tour_velo_national&do=export_html (there are relative paths to the images, that's why we insert them as iframe)
in geoportailv3, the print legend function works fine, I don't know how it was implemented though

[2015-03-03 15:00] jaykayone commented on #266
I don't understand your remark concerning the scale bar.

The map is in Webmercator, but we wan't the scale bar to be in luref as webmercator distances are distorted. How can I do this in the print config. I don't see where I could configure it

[2015-03-03 15:03] sbrunner commented on #266
... ? the map is in EPSG:2169, is not in Google Mercator, than I think that's in LUREF isn't it ?

[2015-03-03 15:13] jaykayone commented on #266
I was convinced that the map is in webmercator... that's why I used 3857 here: https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/print/print-apps/geoportailv3/requestData.json

But you are right, the map is in LUREF, so it will not be an issue.
The only thing is that the print will have to use webmercator tiles in a luref map. is that possible?

[2015-03-03 15:15] elemoine commented on #304
See https://github.com/camptocamp/ngeo/pull/180.

[2015-03-03 15:19] elemoine commented on #306
We do have zoom limits. The resolutions/zoom levels used in the map view are those of OSM.

[2015-03-03 15:45] sbrunner commented on #266
It's not possible to include an iframe in a Jasper Report ... and I don't fount easy way to convert relative URL to absolute URL :-(

[2015-03-03 15:47] sbrunner commented on #266
I suspect that's not possible ...

[2015-03-03 15:49] jaykayone commented on #266
I think we have to create two separate issues for projection and legends. OK?

[2015-03-03 15:49] jaykayone opened #313 "Print coordsys"

[2015-03-03 15:50] jaykayone commented on #313
if we use Webmercator, the scale bar will be wrong
if we use LUREF, there might be a problem to use webmercator tiles

[2015-03-03 15:53] jaykayone opened #314 "print legends"
find a way to include our legends in print.
an idea might be this:
https://project.camptocamp.com/viewvc/geoportail_luxembourg/trunk/geoadmin/geoadmin/geoadmin/controllers/print.py?view=markup

especially this part:
  weasyprint.HTML(url).write_pdf(legend_buffer, stylesheets=[css])

[2015-03-03 16:00] sbrunner commented on #266
ok :-)

[2015-03-03 16:14] #307 closed

[2015-03-03 16:33] elemoine commented on #217
À noter l'utilisation du service `ngeoSyncArrays` dans l'exemple `layerorder`. Il faut utiliser ce service pour le "re-ordering" des layers.

[2015-03-03 16:35] #298 closed

[2015-03-03 17:09] sbrunner commented on #314
Voici une possibilité pour avoir des URL absolues:
[code]

[2015-03-03 18:37] jaykayone commented on #314
looks great, thanks!
where should this be implemented?

should we add a controller that transforms a given legend into absolute html that's then passed to the print service using the standard json object?

who should implement it?

[2015-03-03 18:50] sbrunner commented on #314
Or having a proxy that doing this job directly, when we show the legend ...

It should be in a controller of the project.

Luxembourg team ?

[2015-03-03 19:05] jaykayone commented on #314
OK, I'll assign it to myself.
I'll maybe come back to you during implementation

[2015-03-03 19:20] jaykayone opened #316 "infobar remarks"
* [x] dropup list is not ordered numerically
* [x] start scale. we should either add some more levels to the scaleSelector or restrict the available levels in the map, so that map and scaleselector have the same options
* [ ] css -> the looks in the mockup http://dev.camptocamp.com/files/lux/geoportail_lux_specs/cartes/ are nicer. can we adapt the CSS to be closer to the design?

[2015-03-03 19:25] jaykayone opened #317 "interaction infobar - measuretools"

[2015-03-03 19:26] jaykayone commented on #317
when infobar is open, the measuretools disappear behind. they should have a higher zIndex

[2015-03-03 19:28] jaykayone opened #318 "measure tools - units"

[2015-03-03 19:30] jaykayone commented on #318
the units used in the measure tools are now OK for distances but for surfaces, the units should not change at 10000m2 but at 1km2 (ares an hectares can be introduced later)

[2015-03-03 19:33] jaykayone commented on #300
remarks for the other baselayers: topobw and streets are not defined in the mapproxy config. TBD

[2015-03-03 19:35] jaykayone commented on #313
what I don't understand in this case:

if the map coord sys is LUREF, how could the measures be wrong (@pgiraud).
I thought this was due to the fact that the map was in webmercator?

[2015-03-04 06:46] elemoine commented on #317
I think this one deserves the "bug" label. I added it.

[2015-03-04 06:52] elemoine commented on #313
The OpenLayers 3 map's projection is Web Mercator. So tiles, images and vectors displayed in the map use that projection. And, yes, this is why the measures are not correct if we use simple cartesian calculations.

[2015-03-04 06:54] jaykayone commented on #313
That's what I thought, thanks.
And that's why I have used webmercator in my print sample
And that's where the scalebar goes wrong.
Could we open an issue for this in mfprint ?

[2015-03-04 07:07] elemoine commented on #313
Yep,  please do. You have more information than  me about the problem.

[2015-03-04 07:16] petzlux opened #319 "Measure tools do not deactivate when toolbar is closed"

[2015-03-04 07:35] petzlux commented on #319
Works in debug mode, not in prod mode

[2015-03-04 07:38] elemoine commented on #319
I'll have a look this morning.

[2015-03-04 08:05] elemoine commented on #182
Pour les traducteurs ce serait plus simple si toutes les clés de traduction avaient la même forme.

Et il faut que les traducteurs connaissent le français si les clés de traduction sont en français. C'est le cas ?

[2015-03-04 09:21] jaykayone commented on #182
oui, ça c'est le cas.
C'est pour le nom des couches que je ne suis pas très chaud pour les faire en français. Ces noms feront partie des permaliens, et on peut éviter des problèmes si ces noms ne contiennent pas d'accent. C'est pour cela que je définis les noms de couches toujours sans accents et avec "_" etc ....

Pour tout ce qui n'est pas "noms de couche", on peut prendre la valeur française co

[2015-03-04 09:36] jaykayone commented on #313
https://github.com/mapfish/mapfish-print/issues/210

[2015-03-04 11:17] elemoine commented on #40
Pourrions-nous revoir ensemble les specs de la recherche ? L'utilisateur va donc pouvoir saisir n'importe quel texte dans le champ de recherche… Quels sont les différents types de résultats qui lui sont alors proposés ? Et quelles sont les actions effectuées par le composant de recherche quand un résultat est sélectionné par l'utilisateur ? J'ai commencé à travailler sur le composant client et j'a

[2015-03-04 11:31] elemoine commented on #40
Ma branche ngeo pour ce travail sur le search est ici : https://github.com/camptocamp/ngeo/compare/master...elemoine:search. L'exemple `search` est visible ici : http://erilem.net/ngeo/search/search.html. Pour le moment, après sélection d'une suggestion par l'utilisateur, j'ajoute une feature à la carte et je recentre la carte sur cette feature.

[2015-03-04 12:50] jaykayone commented on #40
C'est déjà un bon début.
Du point de vue fonctionnel, je pense que nous pouvons recopier à 95% ce qui a été fait dans geoadmin:

![screen shot 2015-03-04 at 13 30 33](https://cloud.githubusercontent.com/assets/1518019/6483558/c3dc9310-c272-11e4-8f71-8cbeee2c64c4.png)
95% parce que je ne veux pas le hover et je veux pouvoir navigeur avec les flèches du clavier dans la liste des résultats proposés

[2015-03-04 12:53] petzlux commented on #40
Aussi reste a discuter la division entre le résultat autocomplete qui contient pas les geométries, et un call spécifique à la sélection d'un résultat qui renvoie la géométrie (et autres données spécifiques)

[2015-03-04 13:08] elemoine commented on #40
Désolé, je ne comprends pas ce que tu veux dire ici.

[2015-03-04 13:13] elemoine commented on #40
@jaykayone Merci. Je vais faire en sorte que l'action après sélection d'une suggestion soit configurable par l'application.

[2015-03-04 13:13] #319 closed

[2015-03-04 13:13] #310 closed

[2015-03-04 13:19] jaykayone commented on #40
@petzlux fait référence à la discussion ici: https://github.com/Geoportail-Luxembourg/geoportailv3/issues/169 (commentaire de stéphane d'il y a 29 jours)

[2015-03-04 13:20] #252 closed

[2015-03-04 13:21] #227 closed

[2015-03-04 13:21] #226 closed

[2015-03-04 13:21] #228 closed

[2015-03-04 13:21] #206 closed

[2015-03-04 13:49] #176 closed

[2015-03-04 14:42] jaykayone commented on #281
problem still present

[2015-03-04 15:05] jaykayone commented on #281
after a cleanall, I had to do a pip install js.jqgrid==4.1.0 to make the serve mode work

[2015-03-04 17:25] sbrunner commented on #269
I reported the issue but it's not going to be in pyramid ...
https://github.com/Pylons/pyramid/issues/1596

[2015-03-04 17:31] elemoine commented on #269
I am not surprised. There must be a better way :-)

[2015-03-04 21:44] jaykayone commented on #267
@petzlux I just removed two of your branches after they had been merged.
@elemoine what about elemoine_measure?

[2015-03-05 08:42] pgiraud commented on #303
See https://github.com/camptocamp/ngeo/pull/181

[2015-03-05 08:42] pgiraud commented on #302
See https://github.com/camptocamp/ngeo/pull/181

[2015-03-05 08:48] pgiraud commented on #302
Should already be fixed.

[2015-03-05 08:53] pgiraud commented on #303
To add the elevation offset information in the Luxembourg's application we can rely on the "measureend" event.
See https://github.com/camptocamp/ngeo/blob/master/examples/measure.js#L171

Since we compile the code, the event listener should look like the following:
[code]

In the callback function a service should be called to get the elevations. Offset can then be computed and displayed in the to

[2015-03-05 09:18] rmichaelis opened #324 "Profile tool"
I try to use the ngeo profile component and I've got this error message :

ERR! compile /home/mire/geoportailv3/node_modules/ngeo/src/d3-ext/profile.js:56: ERROR - variable d3 is undeclared
ERR! compile   var bisectDistance = d3.bisector(function(d) {

Am i doing something wrong ?

[2015-03-05 09:34] elemoine commented on #324
You have to add the d3 externs file to the list of `externs` in `build.js`. The d3 externs file is in ngeo.

[2015-03-05 09:41] elemoine commented on #267
`elemoine_measure` deleted.

[2015-03-05 09:47] rmichaelis commented on #324
thanks, It compiles now.
But as the d3 libraries are not in node_modules, I have now a javascript error telling me that d3 is undefined.
Should I install d3 by myself ?

[2015-03-05 09:49] elemoine commented on #324
Yes, see https://github.com/camptocamp/ngeo/pull/173/files.

[2015-03-06 10:31] petzlux commented on #281
confirm still present here as well

[2015-03-09 08:50] pgiraud commented on #302
@jaykayone can you confirm?

[2015-03-09 09:11] jaykayone commented on #302
yes

[2015-03-09 09:11] #302 closed

[2015-03-09 09:27] rmichaelis opened #325 "Profile interaction between graph and map"
Is there any kind of interaction between the map and the profile tool ?

[2015-03-09 10:26] pgiraud commented on #325
With the current code, we can interact between the profile chart and map, but there's currently no way to interact between map and chart.

[2015-03-09 10:45] pgiraud commented on #144
@jaykayone Dans la version en production actuellement, l'exclusion des layers est gérée via le fichier `themes.ini`.
Or vous nous avez signalé que le fichier `themes.ini` était en réalité désormais extrait depuis une base pour en faciliter sa gestion.
Je suppose que les exclusions sont elles-mêmes des informations qui sont stockées dans la base.
Sous quelle forme sont-elles stockées ?

[2015-03-09 10:49] jaykayone commented on #144
Salut Pierre,
ces informations sont stockées de la même manière que dans le themes.ini, en tant qu'array d'entiers.
J'ai aussi migré ces informations dans la base de données de c2cgeoportail en tant que ui_metadata (clé "exclusion")

[2015-03-09 15:14] petzlux opened #327 "themes error - image_type missing after c2cgeoportal update"
@sbrunner , I think you changed c2cgeoportal (https://github.com/camptocamp/c2cgeoportal/pull/1287), to support layer_wmts.image_type, but didnt provide an alembic script to migrate geoportailv3 database ?

[2015-03-09 15:29] petzlux opened #328 "Absolutely fix c2cgeoportal version ?"
Looking into issue #327 , wouldnt it be better to fix dependency to specific version of c2cgeoportal, instead of greater than version XXXX ?

https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/setup.py#L18

[2015-03-09 16:34] elemoine commented on #328
In the end yes, but using `>=` during this development phase sounds good to me.

[2015-03-09 17:02] elemoine commented on #281
@jaykayone, @petzlux, https://github.com/Geoportail-Luxembourg/geoportailv3/pull/330 fixes it for you. I hope it'll fix it for you as well :-)

[2015-03-10 07:56] rmichaelis opened #331 "KeyError: 'mapserv_url'"
Since last cleanall, I've got an error when the application is calling the following webservice http://workshop.geoportal.lu:8081/themes?min_levels=1&interface=desktop&catalogue=true&version=2&background=bglayers

I've added the variable in vars_XXX.yaml but it seems to be not enough.

Any idea ?

[2015-03-10 08:23] #281 closed

[2015-03-10 08:48] #211 closed

[2015-03-10 08:51] elemoine commented on #305
@sbrunner Where do we stand with that issue? Could you please add estimates in the description? Thanks.

[2015-03-10 08:53] petzlux commented on #305
is this connected to #327  ?

[2015-03-10 08:59] elemoine commented on #304
With #180 custom tooltip elements can now be passed to the ngeo measure interactions.

[2015-03-10 09:06] sbrunner commented on #305
yes

[2015-03-10 09:07] elemoine commented on #296
Camptocamp to investigate and fix this bug.

[2015-03-10 09:08] sbrunner commented on #328
+1 effectively

[2015-03-10 09:11] elemoine commented on #294
Fixed with https://github.com/Geoportail-Luxembourg/geoportailv3/pull/295.

[2015-03-10 09:11] #294 closed

[2015-03-10 09:12] elemoine commented on #263
@pgiraud, is this fixed? If not, and if this should be done by c2c, could you please add an estimate? In this form:

[code]

Thanks.

[2015-03-10 09:19] elemoine commented on #324
@rmichaelis can we close that issue?

[2015-03-10 09:26] petzlux commented on #331
yes this is blocking for me as well

[2015-03-10 09:34] sbrunner commented on #331
`.build/venv/bin/pip install c2cgeoportal==1.6.0dev-20150217`

[2015-03-10 09:39] petzlux commented on #331
@sbrunner do you mean we need to run this command ?

[code]

[2015-03-10 09:43] elemoine commented on #235
This issue was just a question, and the question is now answered, so closing…

[2015-03-10 09:43] #235 closed

[2015-03-10 09:47] elemoine commented on #269
I'm adding estimates for this bug. Camptocamp to find a solution…

[2015-03-10 09:49] elemoine commented on #317
Is @petzlux going to look at this bug?

[2015-03-10 09:52] pgiraud commented on #144
Merci @jaykayone.

Dans l'application en production actuellement, lorsque une couche est ajoutée (par exemple parcelles) et qu'elle est incompatible avec la couche de fond courante (par exemple basemap_global), la couche de fond est remplacée par une couche blanche (fond blanc).
Je pense que nous voulons le même mécanisme pour la v3. Or nous n'avons pas de telle couche dans les "background_layers"

[2015-03-10 09:55] petzlux commented on #317
Yes !

[2015-03-10 10:00] jaykayone commented on #144
je peux la rajouter dans la base, il n'y a pas de souci.

Une chose qui me vient à l'esprit est que nous avions envisagé d'informer l'utilisateur en cas de remplacement de couche (tel que c'est le cas dans l'app mobile). je le note ici afin de ne pas l'oublier

[2015-03-10 10:24] sbrunner commented on #331
Oups I miss the find-links ...:
`.build/venv/bin/pip install --find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal c2cgeoportal==1.6.0.dev-20150217`

[2015-03-10 10:31] rmichaelis commented on #331
I've installed it. Now I don't have the mapserv error anymore but I've got this one : IOError: [Errno 2] No such file or directory: u'/home/mire/geoportailv3/geoportailv3/static/tourisme_mobile'

What is this file ?

[2015-03-10 10:42] sbrunner commented on #331
I don't know, do you have more informations ? a stack trace ?

[2015-03-10 10:45] rmichaelis commented on #331
Yes, here it is :

URL: http://workshop.geoportal.lu:8081/themes?min_levels=1&interface=desktop&catalogue=true&version=2&background=bglayers&mapserv_url=1
File '/home/mire/geoportailv3/.build/venv/lib/python2.7/site-packages/weberror/evalexception.py', line 431 in respond
  app_iter = self.application(environ, detect_start_response)
File '/home/mire/geoportailv3/.build/venv/lib/python2.7/site-pack

[2015-03-10 10:46] jaykayone commented on #331
these are names of themes that are interfering somehow here ...

[2015-03-10 10:55] rmichaelis commented on #331
I've create 24 empty files with the name of each theme, and now I've got an answer from webservice

[2015-03-10 10:57] rmichaelis opened #333 "debug mode fails"
Here is the stacktrace :

URL: http://workshop.geoportal.lu:8081/?debug=true
File '/home/mire/geoportailv3/.build/venv/lib/python2.7/site-packages/weberror/evalexception.py', line 431 in respond
  app_iter = self.application(environ, detect_start_response)
File '/home/mire/geoportailv3/.build/venv/lib/python2.7/site-packages/fanstatic/publisher.py', line 219 in __call__
  return self.app(environ,

[2015-03-10 11:36] elemoine commented on #333
Est-ce que le fichier `node_modules/proj4/dist/proj4-src.js` est bien présent ?

[2015-03-10 11:40] sbrunner commented on #331
And what about this ?
https://github.com/Geoportail-Luxembourg/geoportailv3/compare/fix-version?expand=1

[2015-03-10 11:44] rmichaelis commented on #333
Oui, il est bien présent.

[2015-03-10 11:46] elemoine commented on #333
À moins que @sbrunner ne soit déjà sur le problème, je regarde cet am…

[2015-03-10 11:46] sbrunner commented on #333
Non, je m'occupe de l'autre problème ...

[2015-03-10 12:43] elemoine commented on #333
Ok je regarde alors…

[2015-03-10 13:08] rmichaelis commented on #331
This solves both issue #333 #331

[2015-03-10 13:09] rmichaelis commented on #333
It is solved by the solution proposed by @sbrunner in #331

[2015-03-10 13:09] #333 closed

[2015-03-10 14:23] rmichaelis commented on #328
quid de la solution apportée par le  #331 ?

[2015-03-10 14:26] rmichaelis commented on #325
Could the interaction between the chart and the map be developed by Luxembourg, or should it be done by c2c ?

[2015-03-10 14:41] pgiraud commented on #144
Le travail est en cours dans une branche sur github.
https://github.com/Geoportail-Luxembourg/geoportailv3/compare/pgiraud_layers_exclusion?expand=1

Il manque :
 [ ] le switch automatique de base layer,
 [ ] la mise en place d'un système global de messages,
 [ ] la traduction des messages.

[2015-03-10 15:22] rmichaelis commented on #324
Yes. thanks

[2015-03-10 15:22] #324 closed

[2015-03-10 15:41] pgiraud commented on #263
Sorry, a new issue has been created.
https://github.com/Geoportail-Luxembourg/geoportailv3/issues/303

I think that Lux have everything in their hands to do the job now.

[2015-03-10 15:42] petzlux commented on #331
Can this issue be closed now ?

[2015-03-10 15:43] petzlux commented on #327
Can this issue be closed now ?

[2015-03-10 15:44] petzlux commented on #316
regarding Point 2, see also #306

[2015-03-10 15:50] pgiraud commented on #325
I think you already have everything to interact between chart and map.
From my understanding, this interaction means use the x, y coordinates of the hovered point in profile chart to show a marker on the map.
See the ngeo example to see how to listen to hover events:
https://github.com/camptocamp/ngeo/blob/master/examples/profile.js#L104

[2015-03-10 16:03] rmichaelis commented on #325
Ok, you are right. I do it like that.
Thanks.

[2015-03-10 16:03] #325 closed

[2015-03-10 16:14] sbrunner commented on #327
yes => closed

[2015-03-10 16:14] #327 closed

[2015-03-10 16:14] sbrunner commented on #331
yes => closed

[2015-03-10 16:14] #331 closed

[2015-03-11 07:08] jaykayone commented on #306
If we want to set different zoom levels and extents, would we have to add them here?
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/maincontroller.js#L130

[2015-03-11 07:32] petzlux commented on #217
#336

[2015-03-11 07:58] elemoine commented on #306
Right, you can pass an array of `resolutions` in the view options.

[2015-03-11 08:12] jaykayone commented on #306
do we have to pass the entire array of resolutions if we only want to limit the map to a maximum zoomlevel of 9 ?

The tiling scheme will stay the webmercator one, it's only to limit the extent where the user can zoom in and out.

If I define a new set of resolutions, they will be renumbered and I guess, the fakescale-chooser will have to be adapted, is that correct?

[2015-03-11 08:44] elemoine commented on #306
Yep, `maxZoom` and `minZoom` are also view options.

[2015-03-11 08:52] elemoine opened #337 "Remove "diff" file?"
The repo includes an empty "diff" file at its root. Should it be removed? Ping @sbrunner.

[2015-03-11 08:57] jaykayone commented on #306
@petzlux can you check this please?

[2015-03-11 08:57] sbrunner commented on #337
yes :-)

[2015-03-11 11:09] elemoine commented on #40
Pour info, je viens d'ouvrir un pull request pour le composant `search` de ngeo : https://github.com/camptocamp/ngeo/pull/187. Il y a surement encore des choses à faire, mais c'est un début. Quand ce pull request sera mergé je suggère qu'on mette en place ce composant dans l'application pour identifier les problèmes et les manques.

[2015-03-11 12:26] petzlux commented on #40
Oui, je vais m'en occuper !

[2015-03-11 13:33] #317 closed

[2015-03-11 15:55] petzlux opened #342 "Ngeo Scale Selector - levels not ordered properly"
In the scale selector, the zoom levels and corresponding scales are not ordered properly, i.e 1:1.000.000 comes at bottom when it should be at top of list.

see  https://github.com/Geoportail-Luxembourg/geoportailv3/blob/petzlux_extents/geoportailv3/static/js/infobar/scaleselectordirective.js#L54-L55

![screen shot 2015-03-11 at 16 55 54](https://cloud.githubusercontent.com/assets/2540428/6600386/

[2015-03-12 09:42] petzlux opened #343 "Dragged Element CSS Styling"
@pgiraud At the moment, the dragged selected Layer does not have all CSS rules applied. I would want it to look the same as a normal selected Layer.
I looked at the .less CSS selector structure, and it relies for the panel rules to be inside a ul .layermanager
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/less/theme.less#L112
https://github.com/Geoportail-Lu

[2015-03-12 10:16] #306 closed

[2015-03-12 11:00] rmichaelis opened #344 "profile"
Is there a way to display the decimals for the elevation in the chart ?

![capture](https://cloud.githubusercontent.com/assets/5594996/6616551/4f0ecf9c-c8af-11e4-9e07-5929de748a52.PNG)

[2015-03-12 16:38] pgiraud opened #345 "require on MousePosition should be removed"
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/1899e808d0de52252014c4a565205f6c82fd5367/geoportailv3/static/js/infobar/infobardirective.js#L15

I may be wrong but I don't think the require on MousePosition is required anymore.

[2015-03-16 10:39] pgiraud commented on #144
@jaykayone, j'ai noté que tu avais rajouté une layer blank dans les backgrounds. Quelle serait la méthode la plus simple pour que nous ayons cette couche sur notre serveur également ?

[2015-03-16 11:16] geoportallux commented on #144
Salut,

en fait, il faut que nous vous envoyions un dmp, mais nous voulons attendre que https://github.com/Geoportail-Luxembourg/geoportailv3/pull/338 soit mergé avant de l’envoyer

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

[2015-03-17 10:22] rmichaelis opened #348 "invalid literal for int() with base 10: '{dbport}'"
After a fetch and build, we've got the following blocking error during the serve:
 invalid literal for int() with base 10: '{dbport}'

[code]

[2015-03-17 10:23] petzlux commented on #348
Yup same here, I believe its a change in c2cgeoportal version again ... :-(

[2015-03-17 10:27] sbrunner commented on #348
It will be fixed by: https://github.com/sbrunner/c2c.template/pull/20

[2015-03-17 13:34] pgiraud commented on #348
Is there a workaround before the commit gets merged?

On Tue, Mar 17, 2015 at 11:27 AM, Stéphane Brunner <notifications@github.com

--
Pierre GIRAUD
Géomaticien, Analyste

Camptocamp France SAS
Savoie Technolac, BP 352
73377 Le Bourget du Lac, Cedex

Tel : 00 33 4 79 44 44 93
Mail : pierre.giraud@camptocamp.com
http://www.camptocamp.com

[2015-03-17 13:43] sbrunner commented on #348
Probably by using c2c.template 1.1.0dev2

[2015-03-18 08:47] sbrunner commented on #348
Fixed with the version 1.1.0dev4 of c2c.template

[2015-03-18 08:47] #348 closed

[2015-03-18 09:59] #345 closed

[2015-03-18 10:09] elemoine commented on #28
Ce point remet en fait en cause le design du code. Actuellement le service `appThemes` récupère les thèmes une bonne fois pour toute, à son initialisation. Pour le cas du login il va falloir ajouter une fonction `reload` au service `appThemes`, et il va falloir faire en sorte que tous les composants qui reposent sur `appThemes` se mettent à jour. Par exemple, le composant catalog devra détecter qu

[2015-03-18 11:03] #343 closed

[2015-03-18 12:42] elemoine commented on #209
Jeff, qu'entends-tu par permaliens "dièse" ? Merci.

[2015-03-18 13:59] geoportallux commented on #209
on avait d�fini que les permaliens soient mis � jour en permanence dans l'URL.
comme chez swisstopo ... en fait je viens de v�rifier, je vois que maintenant ils utilisent des param�tres URL normaux, avant ils les mettaient dans le di�se (https://support.google.com/richmedia/answer/190941?hl=fr).

finalement, il n'y a pas de raison pour nous de favoriser les di�ses ..

[2015-03-18 14:02] elemoine commented on #209
Ok, très bien comme ça, et ça correspond à ce que j'ai mis en place dans https://github.com/Geoportail-Luxembourg/geoportailv3/pull/350.

[2015-03-18 14:11] elemoine commented on #209
Pour être compatible avec l'ancien système faut-il que x et y (et zoom) dans les permaliens utilisent la projection LUREF ?

[2015-03-18 14:12] geoportallux commented on #209
oui je pr�f�rerais

[2015-03-18 14:14] elemoine commented on #209
Concernant le localStorage quel est le besoin exactement ? Faut-il retrouver les états de la carte/application d'une « session » navigateur à l'autre ? En d'autres termes faut-il reposer sur [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage) ou sur [sessionStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage) ?

[2015-03-18 14:15] elemoine commented on #209
Ok, je vais regarder ça.

[2015-03-18 14:16] rmichaelis opened #352 "Build error"
After fetch and cleanall I've got this new blocking compilation error :

`ERR! compile node_modules/ngeo/externs/ngeox.js:291: ERROR - Bad type annotation. Unknown type TypeaheadDataset
ERR! compile  *       TypeaheadDataset)|undefined),
ERR! compile          ^
ERR! compile
ERR! compile
ERR! compile node_modules/ngeo/externs/ngeox.js:293: ERROR - Bad type annotation. Unknown type TypeaheadDataset

[2015-03-18 14:16] geoportallux commented on #209
oui, d'une session à l'autre.
les gens ont pris goût à ça avec la version mobile

[2015-03-18 14:19] elemoine commented on #352
I've created a PR for that: https://github.com/Geoportail-Luxembourg/geoportailv3/pull/351.

[2015-03-18 14:20] rmichaelis commented on #352
Ok thanks.

[2015-03-18 14:20] #352 closed

[2015-03-18 14:24] elemoine commented on #209
Et pour le zoom ? Est-ce que les niveaux de zoom de l'ancienne application corresponde aux niveaux de zoom de la nouvelle ?

[2015-03-18 14:27] geoportallux commented on #209
Et pour le zoom ? Est-ce que les niveaux de zoom de l'ancienne application corresponde aux niveaux de zoom de la nouvelle ?

non ... c'est une bonne question, on doit faire une table de mapping

[2015-03-18 14:30] elemoine commented on #209
Est-ce quelqu'un est en mesure de me fournir ce mapping?

[2015-03-18 14:37] geoportallux commented on #209
commence par
(ancien système, nouveau système)
0, 9
..
9,18
10,19
on ajustera en cas de besoin

Jeff Konnen

Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG

Ministère des Finances

Administration du cadastre et de la topographie

Service informatique & Service géoportail

54, avenue Gaston Diderich<x-apple-data-detectors://1/0> . L-1420 Luxembourg

Tél

[2015-03-18 15:06] elemoine commented on #209
Un simple décalage de 9 donc ?

[2015-03-18 15:08] geoportallux commented on #209
oui, pour l'instant, mais je pr�f�re un tableau si on devait faire des ajustements plus tard

[2015-03-18 15:27] elemoine commented on #209
Ok. Je note aussi que le minZoom dans la vue est égal à 8 actuellement, et pas 9 comme ton tableau de correspondance semble l'indiquer.

[2015-03-18 15:38] geoportallux commented on #209
ok, j'improvise, je suis en route :)
Le plus important c'est que 10 correspond � 19, le reste c'est de la d�duction

[2015-03-18 15:44] elemoine commented on #40
https://github.com/camptocamp/ngeo/pull/187 a été mergé.

[2015-03-19 08:19] #297 closed

[2015-03-19 15:43] jaykayone commented on #300
the image_type parameter now has to be used. @elemoine / @pgiraud?

[2015-03-20 07:38] petzlux commented on #328
closed with https://github.com/Geoportail-Luxembourg/geoportailv3/commit/c9141a6d8d0107f0df2c067c840352823d5c7b9c

[2015-03-20 07:38] #328 closed

[2015-03-20 07:44] jaykayone commented on #39
changement de pointeur au hover: https://twitter.com/cedricmoullet/status/578555464125911040

[2015-03-20 08:05] elemoine commented on #39
Oui, cette fonctionnalité utilise la fonction `forEachLayerAtPixel` qu'on a ajoutée il y a quelques temps. Cette fonction appelle une fonction de callback pour chaque couche pour laquelle une couleur est détectée à un pixel donné (passé à la fonction). Bien évidemment ceci ne fonctionne qu'avec les couches transparentes, pour distinguer les objets dans les images.

[2015-03-20 08:08] elemoine opened #355 "Take image_type into account"
As [commented](https://github.com/Geoportail-Luxembourg/geoportailv3/issues/300#issuecomment-83639253) in #300 the js code that creates OpenLayers layers from layer nodes should take the `image_type` property into account.

Restant c2c 01/04/2015 0.25j

[2015-03-20 08:08] elemoine commented on #300
I created an issue for that: https://github.com/Geoportail-Luxembourg/geoportailv3/issues/355. Are we talking about the WMTS layers or the WMS layers or both here?

[2015-03-20 08:11] jaykayone commented on #300
To be verified. I only saw an issue with WMTS. I guess that for WMS it already works correctly?

[2015-03-20 08:13] elemoine commented on #300
I don't think so. We only use PNG at this point. I'll look into that when I work on the project.

[2015-03-20 08:21] petzlux commented on #217
After some styling adjustments by @pgiraud , can this be considered done ? I quite like that there is some contrast and simplification in styling between dragged element and other elements ...

[2015-03-20 08:23] petzlux commented on #169
@elemoine I have seen the example in ngeo for search and it seems to work fine, but it rests on the interface as it stands now.

Did we ever agree if we are going to redefine interface as discussed here or not ? Does ngeo code need adaptation if we change interface ?

[2015-03-20 08:49] elemoine commented on #169
@petzlux Sorry, I don't understand. What do mean by « if we change interface »? What is this interface you are referring to?

[2015-03-20 08:59] petzlux commented on #169
as @sbrunner said:

Result Query:
Parameters:
query: Text to search
details: should be 'no', default is 'yes'.
callback: For JSONP Result:
{
  "results": [{
    "id": <>,
    "label": <>,
    "layer_name": <>,
    "params": <>, // {} in our case
    "bbox": <>, // optional, only if no details
    "has_details": <true|false>,
  }, ...]
}
Details query:
Parameters:
id: element id
callback: For JSONP

[2015-03-20 09:04] pgiraud commented on #217
Yes.
This is still not perfect on mobile, but it can be addressed in a different issue.

[2015-03-20 09:05] elemoine commented on #169
The ngeo component knows nothing about the response format. There just it a GeoJSON Bloodhound factory that one can use when the search responses are GeoJSON responses. We could add other factories in the future.

[2015-03-20 09:17] jaykayone opened #356 "Profile: Interaction map -> profile"
à faire dans ngeo

Restant c2c 01/04/2015 2.5j
Restant c2c 01/05/2015 1j

[2015-03-20 09:21] jaykayone opened #357 "Profile: Placement du profile"
pour l'instant c'est dans un div, meilleur concept à trouver

[2015-03-20 09:23] #337 closed

[2015-03-20 09:43] jaykayone opened #358 "ouvrir un thème donné dans l'URL"
Paramètre URL pour ouvrir un thème avec /{nom_du_theme}

[2015-03-20 09:44] jaykayone commented on #358
cf cgxp

[2015-03-20 10:09] jaykayone opened #359 "couleurs de thèmes"
faire une proposition pour avoir des changements de thème moins brutaux. par exemple ne pas changer le fond du catalogue. avoir des textes plus lisibles

[2015-03-20 14:39] elemoine commented on #342
This is a problem in ngeo's scale selector component. See https://github.com/camptocamp/ngeo/pull/199 for a fix.

[2015-03-20 15:09] elemoine commented on #355
@jaykayone Is there a jpeg background layer I could use for testing? The `streets_jpeg` and `topo_bw_jpeg` layers don't seem to work, even when using the correct image type in the URL.

E.g. http://wmts.geoportail.lu/mapproxy_4_v3/wmts/streets_jpeg/GLOBAL_WEBMERCATOR/8/132/88.jpg

[2015-03-20 15:12] jaykayone commented on #355
ortho_2013_global should work, but attention it's jpeg not jpg.

http://wmts.geoportail.lu/mapproxy_4_v3/wmts/ortho_2013_global/GLOBAL_WEBMERCATOR/8/132/88.jpeg

[2015-03-20 15:17] elemoine commented on #355
Ok thanks.

New problem: it looks like there's no `imageType` for background layers in the JSON response from the `themes` service. @sbrunner is this a known issue?

[2015-03-20 15:18] jaykayone commented on #355
It might be because we have not sent you the dump yet ...

[2015-03-20 15:27] elemoine commented on #355
Ok, thanks for the response.

I have a [patch](https://github.com/Geoportail-Luxembourg/geoportailv3/compare/elemoine_imagetype) ready that I'm looking forward to testing :-)

[2015-03-23 08:45] jaykayone opened #365 "Problème avec nouvelle version de CONST_Makefile"
[code]

Ce ne sont pas les bons répertoires.
1) le vhost ne s'appelle pas comme ça
2) il n'y a pas de répertoire conf ..

je viens de tout mettre en commentaire pour le faire fonctionner:

[code]

[2015-03-23 09:01] sbrunner commented on #365
1) il s’appelle comment ?
2) pas de répertoire conf ? vous incluez comment votre config ?

[2015-03-23 09:05] rmichaelis commented on #365
`2) pas de répertoire conf ? vous incluez comment votre config ?`
Moi par exemple je ne travaille pas avec apache mais avec serve

[2015-03-23 09:05] jaykayone commented on #365
pour le main:
1) le vhost s'appelle geoportailv3
2) voici comment c'est configuré:

 [root@workshop3-local geoportailv3]# cd /etc/httpd/conf.d
 [root@workshop3-local conf.d]# ll
 total 24
 -rw-r--r--. 1 root root 2893 Jul 17  2014 autoindex.conf
 -rw-r--r--  1 root root   51 Dec  4 17:32 geoportail.conf
 -rw-r--r--. 1 root root  366 Jul 17  2014 README
 -rw-r--r--  1 root root   56 Dec  5 14:13 re

[2015-03-23 09:12] pgiraud commented on #365
J'utilise moi-même pserve et Stéphane m'a donné comme astuce d'ajouter la
ligne suivante dans mon fichier de config make :

APACHE_CONF_DIR = /tmp

On Mon, Mar 23, 2015 at 10:05 AM, Jeff Konnen <notifications@github.com>
wrote:

--
Pierre GIRAUD
Géomaticien, Analyste

Camptocamp France SAS
Savoie Technolac, BP 352
73377 Le Bourget du Lac, Cedex

Tel : 00 33 4 79 44 44 93
Mail : pierre.giraud@campt

[2015-03-23 09:13] sbrunner commented on #365
La proposition de pierre est un bon workaround mais je vais regarder pour trouver une bonne solution :-)

[2015-03-23 10:11] rmichaelis commented on #365
Je viens d'essayer mais j'ai toujours un problème à cause de `sudo /usr/sbin/apache2ctl graceful`

[2015-03-23 10:22] sbrunner commented on #365
quel problème ? tu n'a pas les droits de le faire ?

[2015-03-23 10:26] geoportallux commented on #365
Mon utilisateur n'a effectivement pas les droits de le faire mais je pourrais l'obtenir.

Par contre, je n'ai pas spécialement envie de redémarrer apache alors que je ne m'en sers pas pour mes dev.

________________________________
From: Stéphane Brunner <notifications@github.com>
Sent: 23 March 2015 11:22
To: Geoportail-Luxembourg/geoportailv3
Subject: Re: [geoportailv3] Problème avec nouvelle ve

[2015-03-23 10:35] sbrunner commented on #365
effectivement on est bien d'accord :-)

[2015-03-23 10:51] sbrunner commented on #365
Es-ce que si vous ajouter uniquement `DISABLE_BUILD_RULES += apache` cela fonctionne bien pour vous ?

[2015-03-23 14:13] elemoine commented on #365
Où ajouter ça exactement ? Avant ou après `include geoportailv3.mk` dans notre Makefile ? Ça n'a pas l'air de fonctionner pour moi en tout cas.

[2015-03-23 14:14] elemoine commented on #365
D'ailleurs dans mon cas je n'ai même pas Apache installé sur ma machine, donc la commande apache2ctl échoue.

[2015-03-23 14:35] elemoine commented on #342
https://github.com/camptocamp/ngeo/pull/199 is now merged so the issue should now be fixed.

[2015-03-23 14:43] elemoine commented on #365
Je pense savoir pourquoi. Je vais faire un PR.

[2015-03-23 14:50] elemoine commented on #365
Voir https://github.com/Geoportail-Luxembourg/geoportailv3/pull/366.

[2015-03-23 16:09] elemoine commented on #342
This was not sufficient. I had to modify the partial we use in the project.

See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/368.

[2015-03-23 16:51] #342 closed

[2015-03-24 09:35] rmichaelis opened #370 "Feature is not propagated with measureend event in ngeo.interaction.Measure"
in `ngeo.interaction.Measure`
`  this.sketchFeature = null;
  this.dispatchEvent(new ngeo.MeasureEvent(ngeo.MeasureEventType.MEASUREEND,
      this.sketchFeature));
};`

It seems that the propagated sketchFeature is always null.

[2015-03-24 10:38] jaykayone opened #371 "catalog -> checkboxes"
In the current state the checkboxes are on the right.
after using the portal for some time now, we are convinced that they would be better on the left so that they can be aligned

[2015-03-24 10:46] pgiraud commented on #371
Given the mockups they were supposed to be aligned on the right.
I havent 't done anything for that yet.

![screenshot from 2015-03-24 11 45 18](https://cloud.githubusercontent.com/assets/319774/6800037/5f01b94e-d21b-11e4-8631-c72651cef858.png)

[2015-03-24 10:48] jaykayone opened #372 "localstorage"
the seems to be a problem with the localstorage:

http://devv3rm.geoportail.lu/?version=3&zoom=12&X=674880&Y=6390772
If you reopen the page without url params:
http://devv3rm.geoportail.lu/?version=3&zoom=8&X=16676259&Y=623889

I think that it does not use the version=3 parameter and then applies the coordinate system switch to the coordinates that are already in webmercator or something like that

[2015-03-24 10:50] jaykayone commented on #371
that's probably even better, as they stay aligned even if we have different imbrications

[2015-03-24 10:50] elemoine commented on #372
Yep, Pierre and I just had realized about the problem. I am on it.

[2015-03-24 10:54] jaykayone commented on #372
another point I saw is that the selected layers and theme are neither stored in localstorage nor in URL. Is this WIP ?

[2015-03-24 11:11] elemoine commented on #372
I just implemented the permalink/localstorage for map-related states. This can be used as a base/example for other states.

[2015-03-24 11:22] pgiraud opened #374 "full screen & geolocation"
Je pense que c'est une mauvaise idée d'avoir groupé les boutons full screen et geolocation avec les boutons de zoom (+, -, full extent). Leur but est assez différent et il serait probablement bon de les distinguer soir géographiquement dans l'interface soit visuellement du point de vue du style.

[2015-03-24 11:22] pgiraud commented on #374
![screenshot from 2015-03-24 12 19 53](https://cloud.githubusercontent.com/assets/319774/6800621/6f07b5fa-d220-11e4-9a57-d4d503ee94b9.png)

[2015-03-24 11:32] jaykayone opened #375 "permalink and localstorage"
add bglayer, layers etc to permalink and localstorage

[2015-03-24 11:32] jaykayone commented on #374
a discuter

[2015-03-24 12:23] jaykayone commented on #375
cf #372

[2015-03-24 13:05] pgiraud opened #376 "ghost block at loading page"
There's a weird element showing up on the left side of the page while loading in debug mode.
There may be a trailing closing bracket somewhere.

![screenshot from 2015-03-24 14 03 06](https://cloud.githubusercontent.com/assets/319774/6802202/b20c698c-d22e-11e4-95fb-1382e62ffb0d.png)

[2015-03-24 13:16] rmichaelis commented on #376
It's coming from `<span ng-if="mainCtrl.selectedLayers.length > 0">({{mainCtrl.selectedLayers.length}})</span>` in index.html

[2015-03-24 13:51] elemoine commented on #370
Will be fixed with https://github.com/camptocamp/ngeo/pull/202.

[2015-03-24 15:31] pgiraud commented on #359
Pendant la dernière réunion, j'avais proposé une couleur neutre lorsque l'on change de thème. Voici ce que ça pourrait donner.

![notheme](https://cloud.githubusercontent.com/assets/319774/6805422/23f41c5c-d243-11e4-9bc7-ab2481d454c8.gif)

[2015-03-24 16:49] pgiraud commented on #144
Fixed via https://github.com/Geoportail-Luxembourg/geoportailv3/pull/364
Il reste à gérer la traduction des messages. J'ouvre un autre ticket pour ça.

[2015-03-24 16:49] pgiraud opened #379 "Layers exclusion - gestion des traductions [c2c]"

[2015-03-24 16:50] #144 closed

[2015-03-24 16:54] #370 closed

[2015-03-25 08:51] pgiraud commented on #376
I really have no clue how to fix this quickly. As soon as it invisible in built mode, I propose we close this issue.

[2015-03-25 08:51] #376 closed

[2015-03-25 14:34] jaykayone opened #381 "Activation of a layer vs making them invisible"
There is a real UX problem:
If a layer is invisible and you deactivate it and activate it later on it stays invisible.
The user will never understand what's happening.

Restant c2c 01/04/2015 : 0.25j

[2015-03-25 14:49] elemoine commented on #37
Pour info, j'ai commencé à travailler sur des composants de print (MapFish Print v3) pour ngeo. Ici : https://github.com/camptocamp/ngeo/pull/204.

[2015-03-25 15:11] #220 closed

[2015-03-25 15:39] #217 closed

[2015-03-25 15:40] #365 closed

[2015-03-25 15:43] #305 closed

[2015-03-25 15:43] #304 closed

[2015-03-25 15:46] #372 closed

[2015-03-25 16:01] elemoine commented on #381
Related to that: do layers have an opacity value in the database?

[2015-03-25 16:17] jaykayone commented on #381
They can have on specified in the ui_metadata.
But it should not be 0

[2015-03-25 16:30] sbrunner commented on #314
Petit description de ce que j'ai commencer à faire:
 * Dans le fichier [print.py](https://project.camptocamp.com/viewvc/geoportail_luxembourg/trunk/geoadmin/geoadmin/geoadmin/controllers/print.py?view=markup) on a aussi une gestion de la légende, comme normalement cela doit fonctionner avec JasperReport je ne le report pas sur le nouveau contrôleur!
 * Avec le print sur la ligne `css = weasyprint.

[2015-03-25 16:38] sbrunner commented on #314
First view: https://github.com/Geoportail-Luxembourg/geoportailv3/compare/legend (untested)

[2015-03-25 16:46] elemoine commented on #381
Should we use the database value when (re-) adding a layer?

[2015-03-25 17:08] jaykayone commented on #381
yes

[2015-03-26 10:30] rmichaelis commented on #39
Si j'ai bonne mémoire, dans l'ancien guichet, dans la popup d'information des parcelles  les personnes autorisées peuvent télécharger des mesurgaes selon une restriction géographique. C'est bien ça Jeff ?

[2015-03-26 10:35] jaykayone commented on #39
oui

[2015-03-26 14:34] #303 closed

[2015-03-26 15:57] #130 closed

[2015-03-27 07:47] jaykayone commented on #266
scalebar problem solved thanks to this: https://github.com/mapfish/mapfish-print/pull/212
to be tested

[2015-03-27 07:48] jaykayone commented on #266
WMTS issue solved thanks to this: https://github.com/mapfish/mapfish-print/pull/211

to be tested

[2015-03-31 07:08] pgiraud commented on #379
See #380

[2015-03-31 07:15] pgiraud commented on #371
Addressed in #384.

[2015-03-31 07:15] #371 closed

[2015-03-31 07:18] pgiraud commented on #344
I'll wait for #335 do be merged before addressing this issue.

[2015-03-31 09:58] pgiraud commented on #357
Alors voilà, ce que j'imaginais pour la position du profil dans la page.
![screenshot from 2015-03-31 11 55 03](https://cloud.githubusercontent.com/assets/319774/6916474/daf4d87a-d79c-11e4-82b7-e4388571e043.png)

L'idée serait de remplacer la barre des outils de mesure par un bloc vide lorsque l'utilisateur sélectionne l'outil profil. Puis si l'utilisateur clique sur la croix, le panneau se ferme

[2015-03-31 13:56] jaykayone commented on #357
Hello,

ce qui nous gène c'est que cette fenêtre pourra potentiellement se superposer avec la géométrie ..
As-tu une proposition pour celà?
Panner et dézoomer la carte?

[2015-03-31 15:38] jaykayone commented on #266
WMTS and scalebar projection are OK with the newest snapshot

[2015-03-31 20:56] jaykayone opened #388 "layers not loading"
I have the impression that if there is one layer that cannot be loaded (eg eau->zones inondables->projet des cartes des zones inondables -> HQ10), the other layers don't always get loaded correctly either

[2015-04-01 05:33] #313 closed

[2015-04-01 05:35] jaykayone commented on #162
can you develop this? Is this about subtypes being specified per theme for the search-field?
This has to be discussed.
As we can now add layers between themes, it gets more complicated.
Should certain subtypes only be searchable if the layer is present? eg FLIK - numbers?
For others, it's the other way round though. POIs should always be searchable, and if the layer is not present it will be added

[2015-04-01 05:38] jaykayone commented on #314
OK, we can discuss this further with a first example. In the print config and the themes service, all the elements should be given to generate a first example using the layer "pistes cyclables nationales".
Another good example to test the legend printing is the layer "parcels"

[2015-04-01 05:39] jaykayone commented on #374
let's vote on this one. Who's for separating the buttons? (+1). Who's for lettings them grouped (-1)

[2015-04-01 05:40] jaykayone commented on #381
Removing the question label, this is "ready" for me

[2015-04-01 05:41] #214 closed

[2015-04-01 05:41] jaykayone commented on #355
fixes #300

[2015-04-01 05:48] jaykayone commented on #314
closes #266

[2015-04-01 05:49] #301 closed

[2015-04-01 05:50] #216 closed

[2015-04-01 05:51] jaykayone opened #389 "Rechargement du catalogue après login"
Vu qu'un utilisateur peut avoir le droit de voir certaines couches uniquement quand il est logué, il faut recharger le catalogue après login

[2015-04-01 05:51] #28 closed

[2015-04-01 05:52] #263 closed

[2015-04-01 05:52] #213 closed

[2015-04-01 05:54] jaykayone commented on #209
see #375

[2015-04-01 05:54] jaykayone commented on #195
I will take care of updating transifex

[2015-04-01 07:04] rmichaelis commented on #374
Ca dépend le séparer pour le mettre où, Si on regarde l'interface mobile la place est limitée. Est-ce que c'est pour le mettre en haut à droite ?

[2015-04-01 07:10] petzlux commented on #374
:-1:

[2015-04-01 08:18] petzlux commented on #205
utiliser la fenetre infos pour afficher informations

[2015-04-01 08:34] petzlux commented on #374
on mobile, get rid of zoom to country .

separate visually zoom buttons from rest of buttons

[2015-04-01 08:37] petzlux commented on #359
we decided to keep current behaviour

also, can we tone down some colour schemes, to increase text contrast in catalogue.

[2015-04-02 07:35] pgiraud commented on #359
OK. I agree that colors are not correct. So, instead of computing secondary and tertiary colors from a primary one (ligthen, darken, etc...), we should configure the theme with 3 colors. I'll provide a patch.

[2015-04-02 07:57] #344 closed

[2015-04-02 08:48] #195 closed

[2015-04-02 14:31] petzlux commented on #40
cf #362

[2015-04-03 11:27] pgiraud commented on #359
See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/394

[2015-04-03 11:30] #379 closed

[2015-04-03 11:31] pgiraud commented on #356
WIP https://github.com/pgiraud/ngeo/tree/profile_interaction

[2015-04-03 11:35] pgiraud commented on #357
Selon moi, le bloc doit être présent avant que l'utilisateur ne commence à dessiner. Ainsi, l'utilisateur ne devrait pas pouvoir dessiner sous le bloc. En tous cas pas de façon involontaire.

[2015-04-07 09:16] #359 closed

[2015-04-07 16:51] sbrunner commented on #269
Why is it reopend ?

[2015-04-08 06:13] jaykayone commented on #269
good question, I don't know.
we'll wait for @petzlux to be back

[2015-04-08 11:32] pgiraud commented on #356
https://github.com/camptocamp/ngeo/pull/210

[2015-04-09 12:25] rmichaelis opened #398 "ngeoCreatePopup avec différents templates"
I would like to use ngeoCreatePopup to display information about the layers.
In the other hand, a value for ngeoPopupTemplateUrl is already defined to display metadata information.

Is it possible to use ngeoCreatePopup  twice with a different template ?
Could you please explain me how I could achieve it ?

Note that it's only for my understanding and for test purpose. Jeff  just remembered me tha

[2015-04-09 12:50] pgiraud commented on #398
This is indeed impossible for now.
Please don't hesitate to tell us if this is eventually required to handle different templates.

[2015-04-10 09:53] elemoine commented on #388
There may be a bug in OpenLayers.

[2015-04-10 10:00] elemoine commented on #51
For information, with `closure-util` new `build` command, we can greatly simplify things, and actually remove most of (if not all) the scripts we have in the `tasks` directory. I'll look into it.

[2015-04-10 10:57] #209 closed

[2015-04-10 11:00] elemoine opened #400 "Add theme to permalink"
As opposed to other states the name of the theme should be in the URL's path.

Restant c2c 01/04/2015 1j

[2015-04-10 13:25] elemoine commented on #355
It looks like "topo_bw_jpeg" layer has imageType set to "image/png" in the database. Is this expected?

[2015-04-10 13:26] elemoine commented on #355
Same comment for the "streets_jpeg".

[2015-04-10 13:33] jaykayone commented on #355
my bad, please change it manually.

[2015-04-10 13:39] elemoine commented on #355
Done:

[code]

[2015-04-10 13:42] elemoine commented on #355
But both `topo_bw_jpeg` and `streets_jpeg` still do not work for me. They produce 400 responses.

E.g.

http://wmts.geoportail.lu/mapproxy_4_v3/wmts/streets_jpeg/GLOBAL_WEBMERCATOR/15/16940/11139.jpeg
http://wmts.geoportail.lu/mapproxy_4_v3/wmts/topo_bw_jpeg/GLOBAL_WEBMERCATOR/15/16940/11139.jpeg

[2015-04-10 13:47] jaykayone commented on #355
you are right, the have been forgotten during the migration.
I'll check that after my return. It should not hold back the PR. It's a config issue

[2015-04-10 13:48] elemoine commented on #355
Definitely.

[2015-04-10 14:31] pgiraud commented on #318
This should be OK now. Don't forget to update the node modules though.

[2015-04-10 14:31] #318 closed

[2015-04-13 06:40] elemoine commented on #358
C.f. https://github.com/Geoportail-Luxembourg/geoportailv3/issues/400.

[2015-04-13 08:14] elemoine commented on #389
Question : dans la plupart des cas, les utilisateurs qui ouvrent l'application dans leur navigateur sont-ils déjà authentifiés ? Ou bien s'authentifient-ils après ouverture de l'application ?

Je pose cette question pour savoir s'il est préférable d'attendre d'avoir les informations utilisateur avant de charger le catalogue ? Ou est-ce qu'il est préférable de charger tout de suite le catalogue, qu

[2015-04-13 08:20] jaykayone commented on #389
ils ne le sont pas encore ...
à moins que ce soit un guichet protégé où ils doivent se loguer avant de voir quoi que ce soit

[2015-04-13 08:26] elemoine commented on #389
Ok, donc on peut éventuellement ne pas attendre et charger le catalogue tout de suite. On le rechargera si on voit que l'utilisateur est en fait déjà authentifiée. Et, évidemment, on le rechargera, après authentification (formulaire login).

[2015-04-13 13:14] #51 closed

[2015-04-13 14:02] elemoine commented on #400
@jaykayone could you please confirm that "theme" permalinks should look like as in version 2? E.g. http://eau.geoportail.lu/?zoom=2&X=100000&Y=80000.

[2015-04-13 14:10] elemoine commented on #400
http://map.geoportail.lu/eau?zoom=2&X=100000&Y=80000 also works. I guess this is the one the application should support, right?

[2015-04-13 14:51] elemoine commented on #400
New comment: in c2cgeoportal "theme" permalinks look like this: http://example.com/theme/eau. Note the word "theme" in the URL path. I guess this won't work for geoportailv3, right?

[2015-04-13 15:38] elemoine commented on #269
The problem still exists for the Luxembourg team. See https://github.com/Geoportail-Luxembourg/geoportailv3/pull/403#issuecomment-92364394 from @rmichaelis.

[2015-04-13 15:38] rmichaelis commented on #355
The orthos produce error 500 responses. it seems to be a different problem as the one mentioned by @elemoine

http://wmts.geoportail.lu/mapproxy_4_v3/wmts/ortho_2007/GLOBAL_WEBMERCATOR/11/1060/698.jpeg

[2015-04-13 15:45] elemoine commented on #355
And it looks like it's unrelated to the image type. The image type is correct in the request.

[2015-04-13 18:55] jaykayone commented on #400
eau.geoportail.lu is a rewrite to map.geoportail.lu/eau

the second one is the one to implementthe rest is done with rewrites

the /theme can be ok for us in v3 but with ?version=2 we have to support the /${theme}

[2015-04-13 18:59] jaykayone commented on #355
my bad .. I guess ...I'll check it next week

[2015-04-14 06:14] elemoine commented on #400
Thanks Jeff. It makes sense. But we will need server-side changes to support `/{theme}` URLs.

Another question: do we also store the current theme in the local storage?

Thanks.

[2015-04-14 07:00] rmichaelis commented on #389
Que je sois connecté ou pas j'ai l'impression que le webservice des thèmes retourne l'entièreté des thèmes et l'entièreté des couches.
Par exemple, le theme go n'est pas publique et contient la couche parcels_go qui n'est également pas publique.  Par contre je la retrouve dans la réponse du webservice des thèmes.

Quand je suis déconnecté, quels sont les thèmes et les couches qui doivent être reto

[2015-04-14 07:01] jaykayone commented on #400
yes, if someone comes through a rewritten subdomain it will be overloaded

[2015-04-14 07:14] jaykayone commented on #389
renaud tu as raison quant au fonctionnement. il me semble que dans une version ultérieure ça fonctionnait

[2015-04-14 07:51] elemoine commented on #389
C'est un problème côté serveur/c2cgeoportal, qui n'est donc pas directement lié à #403. @sbrunner, tu pourras regarder ça ?

[2015-04-14 07:59] elemoine commented on #400
Ok.

Currently, if we find parameters in the URL, we do not look at the local storage. For example, if the URL is `/?zoom=15` then we use zoom 15 and default values for X and Y.

I wonder if the same should apply for themes. For example, if the URL is `/theme/eau` (or `/eau`) without any query parameters, should we use default values for X and Y, or should we use values from the local storage (if

[2015-04-14 08:01] #381 closed

[2015-04-14 08:05] pgiraud commented on #356
https://github.com/Geoportail-Luxembourg/geoportailv3/pull/405

[2015-04-14 09:20] pgiraud commented on #296
It looks like is due to the fact that the map is incorrectly sized at first. If one resizes the browser window we can clearly see that the map is stretched back to it's correct size. After that the measure guiding point is correctly placed.

[2015-04-14 09:46] elemoine opened #408 "alembic_static.ini is versionned"
After running `make checks` Git indicates that `alembic_static.ini` is a modified file. This is the diff I get:

[code]

I see that we have `alembic_static.ini.mako` as well, which makes me think `alembic_static.ini` should not be tracked by Git. @sbrunner maybe?

[2015-04-14 10:29] #296 closed

[2015-04-14 11:30] sbrunner commented on #389
Je ne comprends pas le problème, avec l'URL:
http://devv3.geoportail.lu/renaud/wsgi/themes?min_levels=1&amp;interface=desktop&amp;catalogue=true&amp;version=2&amp;background=bglayers
je n'ai pas de theme `go` ou de layer `parcels_go`...

[2015-04-14 11:39] sbrunner commented on #389
Es-ce que ce ne serais pas un problème de cache navigateur ?

[2015-04-14 11:39] #408 closed

[2015-04-14 11:46] rmichaelis commented on #389
Oui probablement. Je suis en train de regarder.

[2015-04-14 12:11] jaykayone commented on #400
this is a good question
I think it should be discussed at the next telco

[2015-04-14 12:32] rmichaelis commented on #389
Il y a effectivement un problème de cache.
1. Je ne suis pas connecté. Le webservice themes retourne les données du profil tout public  depuis le réseau.
2. Je me connecte. Le webservice themes retourne toujours les données du profil tout public depuis le cache.
3. Je vide le cache et je recharge l'application. Le webservice themes retourne les données correctes depuis le réseau.

[2015-04-14 12:45] elemoine commented on #389
Ok, donc c'est un problème côté client. Angular cache la réponse du service de thème. Je vais regarder ça… Merci!

[2015-04-14 13:17] sbrunner commented on #389
Cela peut aussi être le navigateur...

[2015-04-14 15:53] elemoine commented on #37
Pour info, j'ai repris aujourd'hui mon travail sur le print dans ngeo. C.f. https://github.com/camptocamp/ngeo/pull/204. Pour le moment, je ne supporte que les couches WMS non tuilées. Je bosserai sur les couches WMTS la semaine prochaine.

En discutant avec Pierre tout à l'heure nous nous sommes posés une question : dans les [mockups](http://dev.camptocamp.com/files/lux/geoportail_lux_specs/carte

[2015-04-15 14:29] petzlux opened #411 "Projection Issues ?"
![screen shot 2015-04-15 at 16 28 22](https://cloud.githubusercontent.com/assets/2540428/7160959/94c90802-e38c-11e4-821a-cef81f9f3cd9.png)

[2015-04-15 14:57] sbrunner commented on #411
Cela me donne plutôt l'impression que les tuiles sont mal calée sure la grille ...

[2015-04-15 15:06] pgiraud commented on #411
Ça devrait ressembler à ça:
http://g-o.lu/sobms

![screenshot from 2015-04-15 17 05 35](https://cloud.githubusercontent.com/assets/319774/7161876/b1c3ea6c-e391-11e4-82c9-3595d7e418e9.png)

[2015-04-15 16:38] jaykayone commented on #411
is it the basemap or the overlay that's wrong?

[2015-04-15 20:08] sbrunner commented on #411
I suspect that that's the base map ...

[2015-04-20 14:44] jaykayone commented on #411
I investigated a bit more and it seems to touch all the layers coming from a ArcGIS Server 10.0 source.
In this case it's the WMS overlay.

For ArcGIS Server 10.1+ there is no problem. I'll check with those partners if they are OK to upgrade

[2015-04-21 07:29] jaykayone commented on #357
removing question label and putting a name on it

[2015-04-21 07:41] jaykayone commented on #411
we have several options here:
- make all the providers migrate to arcgis 10.1+
- create a proxy to do the reprojection on our side (server)
- row back and use LUREF as SRS
- do reprojection on the client side ? @elemoine ?

[2015-04-21 07:47] elemoine commented on #411
OpenLayers 3 doesn't yet support projection of image and tile layers. This is something that will be implemented in the future. We've even discussed it during the code sprint.

[2015-04-21 08:15] jaykayone commented on #355
trying to test this ..
but I cannot compile:

info geoportailv3 Compiling 415 sources
ERR! compile ERROR - Cannot read: node_modules/openlayers/externs/vbarray.js
ERR! compile
ERR! compile
ERR! compile 1 error(s), 0 warning(s)
ERR! compile
ERR! Process exited with non-zero status, see log for more detail: 1
make: *** [.build/build.js] Error 1

[2015-04-21 08:31] petzlux commented on #411
make all providers migrate to 10.1+ , if not possible use proxy ...

[2015-04-21 08:40] jaykayone commented on #400
Decision:
- No storage of the theme in the localstorage
- Different handling, which means that if only the theme is present we take the rest from localstorage

[2015-04-21 08:43] pgiraud commented on #37
On garde le formulaire à la position telle que prévue dans les mockups. Mais on tente de minimiser le problème au maximum, par exemple en réduisant son emprise, et/ou en le rendant moins vertical et plus horizontal.
Ensuite, on teste avec des utilisateurs, et on évalue la gêne.

[2015-04-21 09:16] jaykayone opened #414 "Problem with apache build"
there is a problem with the apache build target.
there seems to be a hardcoded vhost name ? luxembourg-geomapfish is not a variable I have set somewhere
[code]

[2015-04-21 09:18] jaykayone opened #415 "problem with print build"
there seems to be a problem with the print build target.
tomcat-tomcat1 is not the correct name and I have not set it anywhere

[code]

[2015-04-21 09:53] elemoine commented on #400
"question" tag removed.

[2015-04-21 09:54] elemoine commented on #37
"question" tag removed for now.

[2015-04-21 10:21] sbrunner commented on #414
It's not hardcoded:
https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/CONST_Makefile#L232
`?=` mead that it's define only if it's not already defined :-)

Then you can defined you own `APACHE_CONF_DIR`

[2015-04-21 10:23] sbrunner commented on #415
Then define `TOMCAT_SERVICE_COMMAND = sudo <your command>`

[2015-04-21 11:34] jaykayone commented on #415
OK

[2015-04-21 11:34] jaykayone commented on #414
What about sudo /usr/sbin/apache2ctl graceful ?

[2015-04-21 11:37] sbrunner commented on #414
It should be configurable :-), I will work on that...

[2015-04-21 11:39] geoportallux commented on #414
thanks

Jeff Konnen
Chargé d’études – informaticien/Chef de projet

LE GOUVERNEMENT DU GRAND-DUCHÉ DE LUXEMBOURG
Ministère des Finances
Administration du cadastre et de la topographie
Service informatique & Service géoportail

54, avenue Gaston Diderich . L-1420 Luxembourg
Tél. (+352) 44901-261 . Fax (+352) 44901-333
E-mail: jeff.konnen@act.etat.lu

www.act.public.lu www.geoportail.lu

De : Stépha

[2015-04-21 11:41] jaykayone commented on #415
this does not work as expected:

TOMCAT_SERVICE_COMMAND = sudo systemctl restart tomcat

[code]

[2015-04-21 11:54] sbrunner commented on #415
The restart shouldn't be in the command, but the stop should be in the middle than I should do something for that ...

[2015-04-21 12:02] jaykayone commented on #415
OK, that's rhel7, everything is a bit different

[2015-04-21 12:22] #355 closed

[2015-04-21 12:48] jaykayone opened #418 "search in baselayers"

[2015-04-21 12:49] jaykayone opened #419 "highlight color after search"

[2015-04-21 12:49] jaykayone opened #420 "hide "search_key_words" on focus"

[2015-04-21 12:54] pgiraud commented on #420
À noter que c'est le comportement par défaut en HTML (ie. le placeholder ne disparait pas avant que l'utilisateur tape du texte).
http://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_placeholder

On pourrait conserver ce comportement par défaut.
Par contre, on pourrait faire en sorte que l'on voit mieux la différence entre le placeholder et le texte tapé.

[2015-04-21 12:59] jaykayone commented on #356
this does not seem to work: http://devv3.geoportail.lu/main?version=3&zoom=15&X=708610&Y=6368971. Prod is on petzlux_search but I've rebased it several minutes ago ..

[2015-04-21 13:03] jaykayone commented on #420
Pour l'instant ce n'est pas intuitif et dans geoportailv2, on enlève le texte, s'il y a une autre solution qui fait comprendre à l'utilisateur qu'il est en mode saisie, je veux bien

[2015-04-21 13:06] pgiraud commented on #400
This morning, during the meeting, while we were talking about whether to get the theme from storage or not, I had a thought.
What about asking the user whether he/she wants to restore the previous context?
A good example of such a functionality is used in http://geojson.io in which the user is prompted "recover your map from last time you edited?" in case he/she used the service before.

[2015-04-21 14:24] petzlux commented on #419
closed by 93f3c3e7ec95b5e319fbe36552aef6c428375994

[2015-04-21 14:24] #419 closed

[2015-04-21 14:54] jaykayone opened #423 "blank is grey"
could the "blank" layer be "white" instead of grey?

[2015-04-22 07:07] pgiraud commented on #356
I don't have any problems.
Here's what I do:
 - I select the profile tool,
 - I draw a line on the map,
 - the profile chart is displayed,
 - I move the mouse cursor over the line on the map,
 - the corresponding point in the chart is highlighted & a popover with distance and elevation displays on the map.

Can it be a browser cache issue?

[2015-04-22 07:13] pgiraud commented on #420
Le mieux à mon avis est de surligner le bord du champ lors du focus.
cf. champ de recherche sur le portail général https://www.geoportail.lu/fr/

[2015-04-22 07:16] jaykayone commented on #356
Ok, it was a a cache issue, now it works.
Could we set a higher tolerance?

You are right that the "click to start drawing" is disturbing. Could it be hidden as soon as there is an interaction between the map and the graph ? Idem for the length popup

[2015-04-22 07:18] pgiraud commented on #420
Forget about my last comment. There's already a border highlight on focus.

[2015-04-22 07:45] #423 closed

[2015-04-22 11:43] #414 closed

[2015-04-22 11:44] #415 closed

[2015-04-22 15:31] jaykayone commented on #400
good idea to keep in mind for later on.
Currently we should focus on finishing a first version

[2015-04-23 08:19] petzlux commented on #420
I have tried a compromise, the search placeholder text is greyed out when focus is on input field first time, and stays grey thereafter. works quite well

[2015-04-23 14:53] petzlux opened #426 "Chrome / Safari Render differences"
Notice the finer lines in the icons  ... (Safari on top )

![screen shot 2015-04-23 at 16 52 00](https://cloud.githubusercontent.com/assets/2540428/7299936/24c48970-e9d9-11e4-820a-4c0d84da33c1.png)

[2015-04-27 08:18] petzlux opened #428 "BackgroundLayer Switcher translations stuck on french"
When changing languages, the background layer dropdown menu doesnt update translations

[2015-04-27 08:37] elemoine commented on #428
The translate directive is not used in the [backgroundlayer.html](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/backgroundlayer/backgroundlayer.html) partial.

[2015-04-27 08:38] petzlux commented on #428
I tried changing it in

https://github.com/Geoportail-Luxembourg/geoportailv3/blob/petzlux_search/geoportailv3/static/js/backgroundlayer/backgroundlayer.html

but still get the same effect

[2015-04-27 08:44] jaykayone opened #429 "Catalogue - Serverside Caching issue"
I have changed the catalog data in the database.
c2cgeoportal only reflects the database change after having restarted apache.

I have tried with an incognito browser and no cache, it's not a browser issue, it's the server who is caching

Restant c2c 01/05/2015 1j (verify that caches are correctly handled)

[2015-04-27 08:46] elemoine commented on #428
Do we have translations for the layer labels? They should be extracted from the database right?

[2015-04-27 08:52] elemoine commented on #429
What table did you change?

[2015-04-27 08:53] petzlux commented on #428
Okay its all in the search branch, probably better idea to do this in a separate branch.

Yes see http://devv3.geoportail.lu/main?version=3&zoom=18&X=696076&Y=6387606 you can see the effect there

[2015-04-27 08:53] petzlux commented on #428
The translations are there and used but language switch doesnt seem to happen

[2015-04-27 09:06] jaykayone commented on #429
all of them :)

I did entirely reload the config

[2015-04-27 09:10] elemoine commented on #429
Strange. c2cgeoportal should invalidate the dogpile cache when the layer-related tables change. https://github.com/camptocamp/c2cgeoportal/blob/master/c2cgeoportal/models.py#L345-L347

[2015-04-27 09:56] petzlux opened #430 "Piwik tracking integration"
Just a note to say we need to integrate Piwik tracking in the app.

One option:  http://luisfarzati.github.io/angulartics/

[2015-04-27 11:09] jaykayone commented on #429
just retried and I confirm it again.

I first do a truncate and then an insert

[2015-04-27 12:19] elemoine commented on #429
@sbrunner are you like me surprised by this behavior?

[2015-04-27 14:45] sbrunner commented on #429
No, the cache invalidation works only if we modify the database with the admin interface, not with direct SQL modification!

But you can invalidate it manually by calling: `<instance_id>/wsgi/invalidate` :-)

[2015-04-27 14:50] elemoine commented on #429
Oops true, I had forgotten about that. The "after_insert", "after_udpate" and "after_delete" events are triggered when an insert, update, delete occurs through the SQLAlchemy mapped class.

[2015-04-27 14:51] elemoine commented on #429
@jaykayone what do you think? Is this a problem for you?

[2015-04-27 14:57] jaykayone commented on #429
I guess this is per host? Which means that if we use load balancing techniques, it has to be invalidated per host? that's not ideal ...

[2015-04-27 15:02] elemoine commented on #429
Correct.

[2015-04-27 15:08] sbrunner commented on #429
We don't already test-it but il should be possible to put the cache in one memcachd server and the the invalidation should work on all the cluster...
Should be investigated :-)

[2015-04-27 15:17] elemoine commented on #429
See http://dogpilecache.readthedocs.org/en/latest/api.html#memcached-backends.

[2015-04-27 16:42] elemoine commented on #266
I also get an "invalid baseURL" error:

[code]

Does anyone know what the problem is?

This is the print spec my code sends: https://gist.github.com/elemoine/baf5d854b67828121ce4.

[2015-04-27 16:56] elemoine commented on #266
The change to WMTSLayer.java in https://github.com/mapfish/mapfish-print/commit/750a2611cf17ceab1a3fa9a0cea3b62662fcc1f7 looks suspicious to me, but I am not sure.

[2015-04-27 16:57] elemoine commented on #266
I realize that it's an old change, so the problem may be elsewhere… @sbrunner I think I'll need your help on this one.

[2015-04-28 07:18] elemoine commented on #266
I found the issue with the help of @tsauerwein. MapFish Print fails if the `baseURL` includes `{Layer}`. But it should not. We do send a `"layer"` property in the WMTS layer spec, so MapFish Print should itself do the `replace`. I'll create a MapFish Print issue for that.

[2015-04-28 07:58] elemoine commented on #266
See https://github.com/mapfish/mapfish-print/issues/236.

[2015-04-28 08:42] jaykayone opened #431 "wmts config"
the application does not use the url configured in the themes response

[code]

request that is sent:
[code]

[2015-04-28 09:22] elemoine commented on #431
Could you please be more specific? The "url" included in the themes response is the capabilities URL. Are you suggesting the client code should make a WMTS capabilities request?

[2015-04-28 09:44] jaykayone commented on #431
I thought it was doing that, I am not necessarliy suggesting it.

Otherwise I don't see why we have to configure it on the server side

[2015-04-28 09:54] elemoine commented on #431
We use `name` and `imageType` (and `exclusions`). The rest is [hardcoded](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/layerfactoryservice.js#L66-L106) in the js code.

We could make WMTS GetCapabilities request but this means more complexity, and more requests before being able to display a WMTS request.

[2015-04-28 13:29] #389 closed

[2015-04-28 14:47] #418 closed

[2015-04-28 14:49] #420 closed

[2015-04-28 20:48] jaykayone opened #433 "search on mobile"
does not work yet

Restant c2c 01/05/2015 1j

[2015-04-30 13:39] jaykayone opened #436 "geolocation"
geolocation does not force a refresh of the position of the device.

in this case i had to open google maps to refresh my position and then it was also OK in the devv3 page

[2015-04-30 13:42] jaykayone opened #437 "Buttons stay active (focused) after tap on mobile"
the geolocation button can sometimes not be deactivated

[2015-04-30 13:59] jaykayone opened #438 "localstorage and private mode in safari"
when using private mode in safari, the application does not start because the accessing of the localstorage throws an uncaught error

[2015-05-03 16:38] elemoine commented on #438
So I guess should check that the local storage is available before attempting to store the application state into it.

[2015-05-03 16:54] jaykayone commented on #438
i think the problem is not only when storing but also when reading it..

[2015-05-03 16:56] elemoine commented on #438
Yes, true.

[2015-05-05 11:30] #438 closed

[2015-05-05 11:48] elemoine opened #440 "Two blank layers"
I see two « blank » layers in the background layer selector locally with my dev environment. Am I the only one seeing this problem?
![doubleblank](https://cloud.githubusercontent.com/assets/76594/7471950/622f380c-f32d-11e4-8581-5c3a7210637b.png)

[2015-05-05 11:49] petzlux commented on #440
@jaykayone knows about this.

[2015-05-05 11:51] elemoine commented on #431
@jaykayone Can this be closed for now?

[2015-05-05 12:06] elemoine commented on #388
I'm having a hard time reproducing the problem. To try to reproduce the issue I activate the HQ10 layer (the defective layer) and then active the Hydrographie/Cours d'eau primaires et Cours d'eau secondaires layers. The Cours d'eau layers display correctly, and I don't think I observe any abnormal delays.

[2015-05-05 13:20] jaykayone commented on #440
You need to delete the blank layer by sql

[2015-05-05 13:20] jaykayone commented on #431
yes

[2015-05-05 13:28] elemoine commented on #440
Got it. Thanks.

[2015-05-05 13:38] #431 closed

[2015-05-06 13:42] rmichaelis opened #443 "Names are truncated"
In version V2, the names are only displayed once. And sometimes, it appears that names are truncated.
Do you have any idea where this problem come from ?
![image](https://cloud.githubusercontent.com/assets/5594996/7494016/8614c0ec-f405-11e4-893e-f78f03389c47.png)

[2015-05-06 14:58] jaykayone commented on #443
this is certainly a metatiling issue in mapproxy, I'll have to check that, thanks for noticing

[2015-05-06 15:01] rmichaelis opened #444 "Default theme layout"
We need a default theme layout other than a transparent one.
http://devv3.geoportail.lu/renaud/theme/test

[2015-05-06 15:06] elemoine commented on #444
Couldn't we use the `main` theme if the theme specified in the URL does not exist.

[2015-05-06 15:07] jaykayone commented on #444
Yes we could, but it concerns another issue

[2015-05-06 15:28] elemoine commented on #444
So I don't understand that particular issue.

[2015-05-06 15:33] jaykayone commented on #444
it is about css

[2015-05-06 15:37] elemoine commented on #444
CSS for unknown/non-existing themes? The URL provided by @rmichaelis has the theme "test" specified.

[2015-05-06 16:17] jaykayone commented on #444
test is a known theme but it has no css style defined. there should be a fallback style

[2015-05-11 11:36] #428 closed

[2015-05-12 08:29] elemoine opened #446 "Correctly handle protected themes"
Some themes are protected, and accessing them requires authenticating. When an anonymous user loads the application with a protected theme specified in the URL he should be redirected to a login page.

[2015-05-12 15:08] petzlux opened #447 "Active language not in url params"
Is this desired , when sharing ?

[2015-05-13 11:42] elemoine commented on #398
Is this still relevant?

[2015-05-13 12:14] rmichaelis commented on #398
No more relevant. That was just for testing the popup directive. Thanks.

[2015-05-13 12:14] #398 closed

[2015-05-13 12:41] elemoine commented on #440
This is fixed. We removed the "blank" layer from the database on our server.

[2015-05-13 12:41] #440 closed

[2015-05-13 15:14] elemoine commented on #37
For everyone's information I've started working on vector print support.

[2015-05-18 15:05] jaykayone commented on #447
yes

[2015-05-18 15:06] jaykayone commented on #358
est-ce que ce ticket peut être fermé?

[2015-05-18 15:06] jaykayone commented on #314
what is the status here?

[2015-05-18 15:06] jaykayone commented on #40
est-ce que ce ticket peut être fermé?

[2015-05-18 15:06] jaykayone commented on #300
est-ce que ce ticket peut être fermé?

[2015-05-18 15:45] #358 closed

[2015-05-19 04:41] jaykayone opened #449 "clic sensitivity on tablet"
all the actions needing a single clic like the info bar, drawing a profile etc work on a tablet but it is very hard to find the correct time the finger needs to be pressed. too short and nothing happens, too long and the system (android) wants to do copy/paste

is this configurable in OL3?

[2015-05-19 06:57] elemoine commented on #449
Clicks on the map are handled by OpenLayers 3 while clicks outside the map are handled by Angular. For clicks outside the map we should probably use the `ngTouch` module for responsive clicks. For clicks on the map this sounds like a problem (bug) in OpenLayers 3. We will need to test that.

[2015-05-19 06:59] jaykayone commented on #449
all the problems I mentioned were in the map.

[2015-05-19 07:00] petzlux commented on #447
So, we dont want language in url params, so that next user using link can use his language preferences . Can we close this question ?

[2015-05-19 07:02] elemoine commented on #449
You mentioned the info bar, which confused me.

[2015-05-19 07:03] elemoine commented on #300
Oui, toutes les couches de fond semblent fonctionner maintenant. Et nous prenons maintenant en [compte](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/layerfactoryservice.js#L133) le format des images à la construction des couches WMS.

[2015-05-19 07:03] #300 closed

[2015-05-19 07:05] petzlux opened #450 "Measure tools do not show numerical result (tablet)"

[2015-05-19 07:08] elemoine commented on #447
Related to the "language preferences": note that, currently, the initial locale is [hardcoded](https://github.com/Geoportail-Luxembourg/geoportailv3/blob/86a6f3f619d8e137f140b35e09fb81e9eb98ad50/geoportailv3/static/js/maincontroller.js#L143) to `fr`. Instead, we should probably use the browser language. Note that ngeo provides a [service](https://github.com/camptocamp/ngeo/blob/master/src/services

[2015-05-19 07:09] elemoine commented on #450
See also https://github.com/camptocamp/ngeo/issues/189.

[2015-05-19 07:10] elemoine commented on #40
À noter qu'il reste deux checkbox non cochées dans la description de l'issue.

[2015-05-19 07:12] petzlux commented on #40
Discuter pendant la telco

[2015-05-19 07:13] jaykayone commented on #449
yes but what I meant was the clic on the map to update the coordinates and elevation in the info bar, sorry

[2015-05-19 07:14] petzlux commented on #447
Okay can do that , will open new issue

[2015-05-19 07:15] petzlux opened #451 "Get browser language preferences"
Related to comment in #447

Use https://github.com/camptocamp/ngeo/blob/master/src/services/getbrowserlanguage.js

[2015-05-19 08:25] pgiraud opened #454 "Missing theme icon"
An icon needs to be added next to logo for each theme.

[2015-05-19 08:34] elemoine commented on #449
Could you please test with http://openlayers.org/en/master/examples/draw-features.html?

[2015-05-19 08:34] #447 closed

[2015-05-19 08:46] petzlux opened #455 "Language in localstorage"

[2015-05-19 08:46] petzlux opened #456 "Language parameter in url"

[2015-05-19 08:50] petzlux commented on #456
take into account lang parameter to set interface language

[2015-05-19 08:51] petzlux commented on #455
save language preference of user if he actively changes language from browser default

[2015-05-19 08:57] jaykayone commented on #456
always add language parameter to URL

[2015-05-19 08:58] jaykayone commented on #455
store the language that has been actively chosen by the user into localstorage

[2015-05-19 08:58] jaykayone commented on #451
get language in the following order:

1) from URL
2) from localstorage
3) from browser pref

[2015-05-19 09:02] #40 closed

[2015-05-19 09:14] jaykayone commented on #446
1) ouvrir la fenêtre de login (non modal)
2) rajouter un texte dans le catalogue qui informe que l'utilisateur doit se loguer

si un permalien contient des couches qui sont protégées il faut réinterpréter le permalien après le login pour les afficher

[2015-05-19 09:16] #400 closed

[2015-05-19 09:18] jaykayone opened #457 "login window layout"
the login window has some css problems.

* texts not entirely visible
* buttons don't cover text

[2015-05-19 09:29] jaykayone commented on #446
il y a un souci qu'on ne sait pas si un thème est protégé.
quand on n'est pas logué, on ne sait pas si le thème existe. il faut un moyen pour le tester.
A coordonner entre @rmichaelis et @elemoine

[2015-05-19 11:15] jaykayone opened #459 "Problems with POI_BY_ID requests"
POI_BY_ID requests don't work correctly in the new portal:

http://devv3.geoportail.lu/main/wsgi/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=png&TRANSPARENT=true&LAYERS=699&CRS=EPSG%3A3857&STYLES=&WIDTH=1862&HEIGHT=1207&BBOX=678192.2112560247%2C6375683.156367606%2C687087.570422712%2C6381449.374688869

[2015-05-19 11:16] jaykayone opened #460 "parcels_go wms does not work in new portal"
http://devv3.geoportail.lu/main/wsgi/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=png&TRANSPARENT=true&LAYERS=parcels_go&CRS=EPSG%3A3857&STYLES=&WIDTH=1862&HEIGHT=1207&BBOX=678192.3204166563%2C6375682.890839368%2C687087.6795833437%2C6381449.109160632 (even though I am authenticated)

[2015-05-19 11:18] jaykayone commented on #460
[code]

[2015-05-19 12:55] rmichaelis commented on #459
It seems to be a problem with the poi manager

[2015-05-19 13:25] pgiraud opened #462 "Print - Notification of PDF being generated"
Currently the user doesn't know what happens when he/she clicks on the PDF button. The system should inform the user that something is currently happening.

In GeoAdmin.ch, here's how they do it:
![screenshot from 2015-05-19 15 23 23](https://cloud.githubusercontent.com/assets/319774/7703873/0f72a022-fe3b-11e4-81fa-1bf317875e8a.png)

Here's what I propose:
 - disable the button,
 - add a spinner w

[2015-05-19 13:59] #459 closed

[2015-05-19 14:02] rmichaelis commented on #459
Problem solved in poi manager

[2015-05-19 14:05] #460 closed

[2015-05-19 14:21] pgiraud commented on #356
Can we close this issue?

[2015-05-19 14:27] jaykayone commented on #356
let's keep it in the backlog

[2015-05-20 07:10] rmichaelis commented on #269
After a rebase, I get this error again.
Has something reintroduced the error?
Or was the error still there ?

Obtaining pyramid from git+https://github.com/Pylons/pyramid@1e02bbfc0df09259bf207112acf019c8dba44a90#egg=pyramid (from -r CONST_requirements.txt (line 6))
  Cloning https://github.com/Pylons/pyramid (to 1e02bbfc0df09259bf207112acf019c8dba44a90) to ./.build/venv/src/pyramid

fatal: unable

[2015-05-20 07:17] elemoine commented on #269
Strange. Could you please copy&paste the content of your `CONST_requirements.txt` file?

[2015-05-20 07:22] rmichaelis commented on #269
here it is :
--index-url http://pypi.camptocamp.net/pypi
--find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal
--find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal-win
-r CONST_versions.txt
-e git+https://github.com/camptocamp/pyramid_closure#egg=pyramid_closure
-e git+https://github.com/Pylons/pyramid@1e02bbfc0df09259bf207112acf019c8dba44a90#egg=pyramid
-e .

[2015-05-20 07:23] rmichaelis commented on #269
It's not the same as the one in the master

[2015-05-20 07:30] elemoine commented on #269
Yes, indeed, I was going to say the same. It sounds like you rebased onto an old master. Maybe you did `git rebase master` and your local `master` branch is not up-to-date. Try `git fetch origin` and then `git rebase origin/master` instead.

[2015-05-20 07:33] elemoine opened #466 "Print form translations"
Texts in the print form do not change when switching locale.

[2015-05-20 07:34] elemoine opened #467 "Print legend support"
Legends are not currently printed, but they should be.

[2015-05-20 07:35] elemoine opened #468 "Support other print layouts than A4 and A3"
For now we just print in A4 and A3. More layouts should be added.

[2015-05-20 07:38] elemoine opened #469 "Remove print description"
Currently we send `"Description"` as the print description to MapFish Print. We don't need a print description, so the "descripition" field should be removed from the Print configuration, and the print specs sent to MapFish Print should not include a description.

[2015-05-20 07:41] elemoine opened #470 "Handle shortlinks in print"
The shortlink we send to MapFish Print is currently hard-coded. Instead we should send a shortlink that matches the current state of the application.

Related to https://github.com/Geoportail-Luxembourg/geoportailv3/pull/445.

[2015-05-20 07:42] pgiraud commented on #466
The `translate` filter are there.
Is it due to missing translated strings in the .po files then?

[2015-05-20 07:46] rmichaelis commented on #269
Ok, it sounds like a git problem.
I was explaining my problem to Patrick.
I showed him the bad file in my branch.
Then I executed in this order
 `git fetch origin`
 `git co master`
 `git merge --ff-only origin/master `

The result of the git merge never showed that CONST_requirements.txt has changed.
But now CONST_requirements.txt  is the good one, both in the master and in my branch...

I really

[2015-05-20 07:46] #269 closed

[2015-05-20 07:50] elemoine commented on #466
@petzlux, any comment about that?

[2015-05-20 07:50] pgiraud commented on #269
Please note that you don't absolutely need to update your local master branch. As @elemoine already said you can rebase onto the remote (origin) master branch.

[2015-05-20 07:57] rmichaelis commented on #269
Yes of course I can directly rebase onto the remote master branch.
But in this case I wanted to see the difference between the file in the master and the one in my branch without touching it.

[2015-05-20 08:37] pgiraud opened #472 "The `my account` doesn't point to anything"
See https://github.com/Geoportail-Luxembourg/geoportailv3/blob/master/geoportailv3/static/js/authentication/authentication.html

[2015-05-20 08:45] elemoine commented on #472
What do you mean by "point"?

[2015-05-20 08:47] rmichaelis commented on #472
The href html link is not set

[2015-05-20 08:49] #444 closed

[2015-05-20 09:12] #468 closed

[2015-05-20 09:31] elemoine commented on #388
We forgot to discuss this yesterday. @jaykayone, have you done more testing related to that issue?

[2015-05-20 09:41] elemoine commented on #462
@pgiraud, are you able to work on that? If not tell me and I'll give it a try.

[2015-05-20 10:11] #469 closed

[2015-05-20 12:17] elemoine opened #475 "Too many watchers…"
With the "main" theme we currently have 1609 watchers. That's a lot!

By removing the catalog component from the page we're down to 137 watchers, so the catalog component sets up 1472 watchers by itself.

With https://github.com/Geoportail-Luxembourg/geoportailv3/pull/354 (Theme Switcher) we changed a number of expressions from "one-time binding" to "always binding". Most probably for good reasons

[2015-05-20 12:31] petzlux commented on #466
probably missing strings, will check

[2015-05-20 12:57] elemoine opened #476 "One concern with the short URL stuff"
Currently a short URL is created each time the URL changes, which means each time the map moves. Don't we run the risk to insert too many short URLs in the database?

[2015-05-20 13:09] jaykayone commented on #476
in geoportailv2, we only generated short links when the panel was open

[2015-05-20 13:12] elemoine commented on #476
Oh ok, that's the way it works in v3 as well. Closing then…

[2015-05-20 13:29] #454 closed

[2015-05-20 13:43] rmichaelis commented on #475
You are right, it seems to work as expected.
I'm not able to reproduce the problem we had. The main categories and layers belonging to these are loaded without any problem.

Maybe a misunderstanding due to the old partials cache mechanism ??

[2015-05-20 13:47] jaykayone commented on #475
wasn't it an issue with translations when changing the language?

[2015-05-20 13:53] elemoine commented on #475
I tested it, and could come up with a case where it did not work.

[2015-05-20 13:56] jaykayone commented on #475
and now ? :)

[2015-05-20 14:09] elemoine opened #478 "Support cancelling a print job"
It should be able to cancel a print job (to trigger another one for example). MapFish Print does provide a way to cancel a job: `DELETE /cancel/<ref>`.

[2015-05-20 14:12] elemoine commented on #478
Canceling a job is currently not supported by c2cgeoportal's print proxy. See https://github.com/camptocamp/c2cgeoportal/issues/1357.

[2015-05-20 14:12] elemoine commented on #475
What do you mean?

[2015-05-20 14:15] jaykayone commented on #475
ah you added a "not" to your comment, then I can delete my answer

[2015-05-20 14:16] elemoine commented on #475
Yeah, sorry, I was too fast.

[2015-05-20 14:24] elemoine opened #480 "Assertion failure when opening the "share" window"
In debug mode I see an an assertion failure in the js console when I open the "share" window:

[code]

[2015-05-20 14:29] jaykayone opened #482 "theme icon placement"
can you make a propsition where the icon is shown at the left side of the search box?
what's more is that it does not seem to be vertically centered

Another idea we had was that a clic on the icon would open the theme switcher.
what do you think?

[2015-05-20 14:31] jaykayone commented on #388
OK, i'll try to find a use case

[2015-05-20 14:32] #457 closed

[2015-05-20 14:35] jaykayone commented on #388
I've tried a multitiude of combinations but it seems to be solved in the meantime

[2015-05-20 14:35] #388 closed

[2015-05-21 07:10] #480 closed

[2015-05-21 07:20] elemoine opened #485 "Printing doesn't work on http://devv3.geoportail.lu"
As initially reported by @jaykayone in https://github.com/Geoportail-Luxembourg/geoportailv3/pull/477#issuecomment-104158959 printing does not work on the devv3 instance.

This is what the web service returns on the initial `report.pdf` request:

[code]

So it sounds like a communication problem between c2cgeoportal's printproxy and MapFish Print.

@jaykayone, maybe you want to check that the `pri

[2015-05-21 07:21] jaykayone opened #486 "print form - dropdown styling"
in the print panel the drop down lists should use the same technique than for background layers, the ones you are using now use OS dependent styling

[2015-05-21 07:23] jaykayone opened #487 "Url shortener - check if shorturl exists already for given longurl"
the url shortener creates different short links for the same long link.
it should look if the long url already has a short url in the db and it should return that one instead

[2015-05-21 08:00] pgiraud commented on #486
Hey @jaykayone,
You're describing 2 different issues here. One is about styling whereas the other is more technical.
Can you please split this issue into 2?

[2015-05-21 08:01] jaykayone opened #489 "print scales"
print scales should be the following:
1500, 2500, 5000, 10000, 15000, 20000, 25000, 50000, 80000, 100000, 125000, 200000, 250000, 400000

Please pay attention to the scale vs webmercator problem.

what's more is that in geoportalv2 the scales can vary according to the theme. (print_scales key in theme metadata)

[2015-05-21 08:04] jaykayone commented on #486
done

[2015-05-21 08:08] pgiraud opened #490 "Is the magnifier icone really useful"
The search used autocompletion.
Plus, the button is not visually associated to the input field.

![screenshot from 2015-05-21 10 06 02](https://cloud.githubusercontent.com/assets/319774/7744124/0d2c632c-ffa1-11e4-91d6-ba9f9f589da1.png)

What about completely removing this button?

[2015-05-21 08:13] elemoine commented on #490
And this magnifier icon confused me the other day. It is very similar to the "person" and "world" buttons next to it, making me believe that it was clickable and part of the toggle group.

[2015-05-21 08:18] jaykayone opened #491 "regression on theme switcher look"
There is a regression

in the theme switcher the text and icon colors is wrong now.
![screen shot 2015-05-21 at 10 09 14](https://cloud.githubusercontent.com/assets/1518019/7744186/7c3121d6-ffa1-11e4-9a6f-b29a3f8bdfa5.png)
![screen shot 2015-05-21 at 10 06 17](https://cloud.githubusercontent.com/assets/1518019/7744185/7c2f0e00-ffa1-11e4-92db-7a1b9a5198e5.png)

I am not sure how it was before but I

[2015-05-21 08:24] rmichaelis commented on #491
you can compare with an old version here : http://devv3.geoportail.lu/renaud/theme/main

[2015-05-21 08:38] jaykayone commented on #490
we discussed about this yesterday too.
our conclusion was that if there is no magnifier icon, people will not understand that it is a searchfield

[2015-05-21 08:42] petzlux commented on #490
Can we move the magnifier icon inside the search field ?

See http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box

[2015-05-21 08:49] petzlux opened #492 "Search field - support coordinates entry"

[2015-05-21 08:57] pgiraud commented on #482
Fixed via #488.

[2015-05-21 09:02] petzlux commented on #487
this is an upstream c2cgeoportal issue in the controller. can this be fixed @sbrunner ?

[2015-05-21 09:12] #491 closed

[2015-05-21 10:03] #462 closed

[2015-05-21 12:51] #475 closed

[2015-05-21 12:53] pgiraud opened #496 "Print scale only show denominator"
1000 is shown where it should be 1:1000

[2015-05-21 12:58] pgiraud commented on #433
What is expected?
Do you remember if we had discussions regarding this?

[2015-05-21 13:00] petzlux commented on #433
well needs adjustments for responsive mode, basically, on search icon click on mobile, should open pane as in old geoportail mobile app , filling whole screen to display search results

[2015-05-21 13:49] petzlux opened #497 "Mobile layout needs work"
In mobile view and on touch devices, the catalog items have the following problems:

The items are on the small side for touch targets, especially on mobile
The _info_ button and _add to my layers_ checkbox are too close together, users have difficulty touching the right item.

[2015-05-21 13:55] petzlux commented on #449
@elemoine please check the following video for an example on our Samsung Galaxy Tab S 10.5

https://youtu.be/JV4wIxGyYEM

[2015-05-22 07:57] pgiraud commented on #490
@jaykayone what's your opinion? Should I work on this and try to put the icon in the search field?

[2015-05-22 08:05] pgiraud commented on #449
I reported this as an issue in OpenLayers https://github.com/openlayers/ol3/issues/3724

[2015-05-22 08:10] jaykayone commented on #490
yes, please make a try

[2015-05-22 09:51] #490 closed

[2015-05-22 13:20] pgiraud commented on #182
Sur géoadmin, les éléments de la page apparaissent tout d'un coup, une fois l'application initialisée.
Ils reposent apparemment sur ngCloak. https://docs.angularjs.org/api/ng/directive/ngCloak

[2015-05-22 15:04] jaykayone opened #499 "build problem"
there seems to be a build problem right now on master.

I made an update-node-modules and now I get this when building:
[code]

[2015-05-22 15:11] elemoine commented on #499
Yes, there's a PR opened in ngeo for that: https://github.com/camptocamp/ngeo/pull/224. I'll merge it.

[2015-05-22 15:13] elemoine commented on #499
Should be fixed.

[2015-05-22 20:06] #499 closed

[2015-05-22 20:18] jaykayone commented on #485
I now set it to  http://workshop.geoportal.lu:8083/print-geoportailv3-main/print but it still does not work, although that url is valid.

I keep getting a 502. What is wrong here? @sbrunner?

[2015-05-22 20:19] #208 closed

[2015-05-26 09:19] pgiraud commented on #357
Can we close this one?

[2015-05-26 09:29] elemoine commented on #437
Do you know how to reproduce that issue?

[2015-05-26 09:43] elemoine commented on #451
Precision: when the user selects a language using the language selector the language is added/updated in URL and in the local storage.

[2015-05-26 09:45] pgiraud commented on #456
Addressed in #451. Closing.

[2015-05-26 09:45] #456 closed

[2015-05-26 09:45] pgiraud commented on #455
Addressed in #451. Closing.

[2015-05-26 09:45] #455 closed

[2015-05-26 09:50] elemoine commented on #485
@jaykayone what do the print logs say? Nothing? Are we sure the print proxy cannot communicate with MapFish Print?

[2015-05-26 09:56] elemoine commented on #476
Reopening this issue for discussion… because we still generate a lot of short links if the user left the share window opened.

[2015-05-26 09:59] elemoine commented on #497
To be discussed… There are probably more touch-related (or small screen related) problems…

[2015-05-26 10:05] elemoine commented on #451
Another precision for 3) (from browser pref): we may want to read the browser pref language from the server, because the server already filters the language lists based on the languages it supports.

[2015-05-26 10:11] elemoine commented on #487
We've just discussed this, and we wonder if this is really a problem, because the probability of requesting a short link for a long link for which a short link has already been created is low. And doing a look-ups for already-created shortlinks would require creating an index in the database.

So can't we just create a new short link each time? What do you think?

[2015-05-26 11:43] #357 closed

[2015-05-26 11:58] jaykayone commented on #437
https://youtu.be/hqoy8IzIUAA

[2015-05-26 12:07] pgiraud commented on #482
The icon is not correctly aligned on small devices. This is due to the fact that the navbar is smaller.
![screenshot from 2015-05-26 14 05 48](https://cloud.githubusercontent.com/assets/319774/7812208/819210fa-03b0-11e5-913a-bf365c49296b.png)

Reopening issue.

[2015-05-26 12:13] pgiraud commented on #482
Also missplaced on small width devices.
![screenshot from 2015-05-26 14 12 41](https://cloud.githubusercontent.com/assets/319774/7812311/5fbcad54-03b1-11e5-9198-8cd23ad87c6a.png)

[2015-05-26 12:14] jaykayone commented on #487
can be discussed.
no need to address this now, can be done later

[2015-05-26 12:37] jaykayone commented on #485
[code]

[2015-05-26 12:48] jaykayone commented on #485
I now changed it to http://workshop.geoportal.lu:8083/print-geoportailv3-main/print/geoportailv3

http://workshop.geoportal.lu:8083/print-geoportailv3-main/print/geoportailv3/report.pdf?.

When I post the content to that URL in firefox I get this response:
[code]

the url seems to be OK. I'll check for proxy settings

[2015-05-26 13:03] jaykayone commented on #485
I'd guess that the print proxy does not use the proxy to connect to the print service?

here is the latest log.
this one works in the browser:

[code]

When I try to download the PDF, i get this though: /print-geoportailv3-main/print/report/539a8f72-d4d2-4a25-9c7b-adca24ecb94b@b744b5ab-7a60-4f03-9d81-a353c398be60

Has this not been merged yet?

[2015-05-27 15:03] pgiraud commented on #482
I propose we remove this icon on small devices.

[2015-05-27 15:08] rmichaelis opened #502 "Error with forEachLayerAtPixel"
Hello,

I try to use the openlayers ``forEachLayerAtPixel`` functionality, but it returns this error :
``SecurityError: The operation is insecure.
var imageData = this.context_.getImageData(
canvast...erer.js (line 466)``

Did you already use it with success or did you already experience such problem ?